#sidebar-shortcuts-mini .btn {
    width: 7px;
    height: 7px;
    background: #4779b3;
}
/*左侧列表*/
.oc-nav-list-a-hover{    
	background-color: #4C9AFF !important;
	color: #fff !important;
}
.oc-nav-list-a{
	background-color: #0A1D33 !important;
    color: #4779B3 !important;
}
/*弹出框背景色*/
.window {
  background: #174F99;
}
/*选择按钮*/
.combo-arrow{
	background: #1470cc;
}
/*logo背景颜色*/
.nav_logo{
	background: #0a1d33;
}
/*系统健康度等图标*/
.sidebar-shortcuts{
	background: #0F2033;	
}
.sidebar .sidebar-shortcuts-large > .btn:hover{
	color: #fff;
}
.sidebar .sidebar-shortcuts-large > .btn {
    color: #4590E6;
    margin: 0 10px;
    background: none;
}
.sidebar.menu-min .sidebar-shortcuts-large {
    background: #0f2033;
    z-index:10;
}
/*头部导航条用户接口*/
.ace-nav > li {
    border-left: 1px solid #133358;
}
.ace-nav > li.light-blue > a,.ace-nav > li.skin_s > a {
	text-decoration:none;
    background-color: #0a1d33;
    color: #55abff; font-family:Arial, Helvetica, sans-serif; font-size:16px;
}
.ace-nav > li.light-blue > a:hover, 
.ace-nav > li.light-blue > a:focus, 
.ace-nav > li.open.light-blue > a,
.ace-nav > li.skin_s > a:hover, 
.ace-nav > li.skin_s> a:focus, 
.ace-nav > li.open.skin_s > a {
    background-color: #000d26;
    color: #55abff;
}
.ace-nav > li.light-blue > a .ace-icon,.ace-nav > li.light-blue > a:hover .ace-icon{ color:#55abff;}
/*Oncenter最头部导航*/
.navbar{
	background: #0a1d33;
}
/*整个内容背景*/
.main-container{
/*	background: #132C4D;*/
}
/*右边导航栏的每个li的border-bottom*/
.no-skin .nav-list > li {
    border-color: #081626;
}
/*右边导航栏的每个li的a标签的背景色和字体颜色*/
.no-skin .nav-list > li > a { 
	background-color: #0a1d33;
    color: #4779b3;
	font-size: 14px;
    font-weight: bold;
}
/*右边导航栏的每个li的a标签的hover上的颜色*/
/* .no-skin .nav-list > li:hover > a { 
	background-color: #4C9AFF; 
	color: #fff;
} */
/*右边导航栏标签a下拉后颜色，可能与手风琴有关*/
.no-skin .nav-list > li.open.highlight a.dropdown-toggle {
    background: #1A4680;
}
.no-skin .nav-list > li.highlight > a,
.no-skin .nav-list > li.highlight > a,
.no-skin .nav-list > li.open.highlight a.dropdown-toggle:hover,
.no-skin .nav-list > li.highlight > a:hover, 
.no-skin .nav-list > li.highlight > a:focus {
    background-color: #4c9aff;
    color: #fff;
}
/*右边导航栏标签a下拉后二级导航标签颜色*/
.nav-list > li .submenu > li {
	background: #255492;
}
.nav-list > li .submenu > li a{
	color: #66A8ED;
	font-size: 14px;
    font-weight: bold;
}
.no-skin .nav-list > li .submenu > li > a{
	border-top: 1px solid #163E71;
}
.no-skin .nav-list > li .submenu > li > a:hover,
.no-skin .nav-list > li .submenu > li > a:focus,
.no-skin .nav-list > li .submenu > li.highlight > a { 
		background:#4C9AFF;
		color: #fff;
}
.nav-list > li .submenu > li.open li{
	background: #255492;
}

/*右边内容左边导航*/
.layout-panel-west{
	/*background: !*#144585*!;*/
}
/*右边内容左边导航头部*/
.panel-header{
	background: #113b73;
}
/*右边内容头部标签页*/
.tabs-header,.tabs-tool{
	background: #133c69;
}
.tabs li a.tabs-inner:hover,
.tabs li.tabs-selected a.tabs-inner {
    background: #174F99;
    color: #CDE2F7;
}
.tabs-panels,#mainMenuContent{
	background: #174f99;
}
/*首页背景透明模块*/
.common-bgnone{ background-color: none !important;}
/*.home-content{
	background: none !important;
}*/
/*表格*/
tr td{
	color: #F9FAFC;
}
.datagrid-body tr:nth-child(even) td{
	/*background: #102d56;*/
}
.datagrid-body tr:nth-child(odd) td{
	/*background: #12396d;*/
}
.datagrid-header .datagrid-htable td {
    /*background: #102d56;*/
}
.datagrid-header-inner {
    /*background: #102d56;*/
}
.datagrid-view2{
	background: #102D56;
}
.datagrid-header{
	background: url(../images/comm/table/tab-herder-blue.png) repeat-x 0 0;
}
/*资源管理-添加策略-告警规则*/
.datagrid-btable .borno tr td{
	/*background: transparent;*/
}
/*选中表格*/
.datagrid-row-checked.datagrid-row-selected td {
    /*background: #2160B0 !important;*/
}
/*按钮*/
.l-btn-left .btn-m {
    color: #C0D9EF;
    background: #1369bf;
}
.l-btn-left .btn-m:hover{
	background: #0066cc;
	color: #ffffff;
}
/*资源-树结构字体颜色*/
a,.panel-title,.tree-title{
	line-height:20px;
	color: #B9CBCD; font-family:微软雅黑,Arial, Helvetica, sans-serif; font-size:12px;
}
/*资源-树结构标签选中背景色*/
.tree-node-selected,
.tree-node-hover{
    background: #4C9AFF;
    color: #fff;
}
.tree-node-selected a,
.tree-node-selected .panel-title,
.tree-node-selected .tree-title,
.tree-node-hover a,
.tree-node-hover .panel-title,
.tree-node-hover .tree-title{
	color: #fff;
}

/*资源管理、告警管理、虚拟化管理、业务管理的告警级别字体颜色*/
#resourceToolBar a,
#resource_alarm .oc-toolbar a,
.vmDatagridToolBar a,
.biz-alarm.panel-body a,
#busniessToolbar a{
	color: #C0D9EF;
}
/*文本框样式*/
input[type="text"],
input[type="password"],
textarea,
.edui-container .edui-editor-body,
select{
	/*-moz-appearance: none;*/ 
	background-color:#0d3e80; 
	color:#C0D9EF;
	font-size: 12px; border:1px solid #0c3c7d;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #C0D9EF; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #C0D9EF; 
	opacity: 1;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #C0D9EF !important; 
	opacity: 1;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #C0D9EF;
} 
select::-ms-expand {   
    display: none;   
}  

/****下拉框选项面板****/
.menu,.combo-p {
    background: #083571;/*#133c69;*/
}
.menu-active,
.combobox-item-hover,
.combobox-item-selected {
    background-color: #1470cc;
    color: #B9CBCD;
}
.combo-arrow{
	color: #e4edf9;
	margin: 0px !important;/*解决flapping下拉框宽度问题*/
}
/*首页头部标签页选中效果*/
.current-selected {
    background: #174F99;
    color: #CDE2F7;
}
/*弹出框*/
/*.window,.window .window-header,.dialog-button{ 
	background:#0F3566;
	/*box-shadow: 0 4px 10px rgba(0,0,0,.3);*/
/*}*/
/*手风琴*/
.accordion .accordion-header {
  border-bottom: 1px solid #326FC0;
  background: #0F3566;/
}
.accordion .accordion-body {
    background: #255492;
}
.accordion .accordion-header-selected, 
.accordion .accordion-header:hover {
    background-color: #3f86e2;
}
/*报表*/
#report_template_detail_main_content{
	/*background: #376EAF;*/
}
.report_template_detail_main_nav.oc-leftbody-bg.panel-body.panel-body-noheader.layout-body{
	padding: 0px;
}
/*弹出框里input...*/
.window input,.window textarea,.window select,.window:not(input:checkbox),.window:not(input:radio){
	background: #0D3E80;
}
/*资源弹出左侧标签*/
.oc-nav-sub-list li:hover, 
.oc-nav-sub-list .active {
    background: #376EAF;
}
#edit-widge-dialog .widget-edit-panel{
	background: #255492;
}
/*系统管理-系统服务*/
form#pageTag-form,
#cacheStats form.oc-form.col1{
	background: none !important;
}
/****表格表头缺失****/
/*巡检管理*/
#ins_plan_dir .datagrid-view2 table,
.oc-form.inspect-item-add-form .datagrid-view2 table,
.china-oc-inspect-manage-height .datagrid-view2 table,
.ins-report-edit-all-dirs .datagrid-view2 table{
	width: 100%;
}
/*系统管理-告警设置-安全设置-书写规则*/
.alarm-rule{
	color:#36DB27;
	cursor: pointer;
}
/*-------------首页-添加图表-左边列表----------------*/
#edit-widge-dialog .oc_module_resmanagement_discovery_nav{
	background: #1A4680;
}
/*首页-添加图表-左边列表-标签hover和active颜色*/
.oc-leftbody div.nav-leftbody-con:hover, .oc-leftbody div.active {
    background: #4C9AFF;
}
/*表格中的内容显示*/
/*.topo_relate_instance  .datagrid-cell,
#topo_create_subtopo .datagrid-cell{
	width:100% !important;
}*/
/*主体内容左侧以及中部颜色*/
.panel.layout-panel.layout-panel-west {
    background: #144585;
}
#biz-main .panel.layout-panel.layout-panel-west,
.biz-full-main .panel.layout-panel.layout-panel-west{
	 background: none;
}
/*配置文件--脚本设置*/
#script_config_main_center .oc-layout-panel{
	background:#174F99;
}
.datagrid-header .datagrid-cell span{
	  font-size: 14px;
    color: #458ae6;
    font-weight: bold;
}
/*弹出框头部和底部*/
.dialog-toolbar, .dialog-button {
    background: #0F3566;
    border-width: 1px;
    border-style: solid;
}
.window .window-header{
    padding: 0px 0px 6px 0px;
    background: #0F3566;
    border-bottom: 1px solid #326fc0;
    height: 40px;
}
.sidebar.menu-min .nav-list > li > a.dropdown-toggle > .left-menu-text {
    color: #fff;
}
.sidebar.menu-min .nav-list > li > a > .left-menu-text{
	color: #fff;
}
.tree-lines .tree-expanded, .tree-lines .tree-root-first .tree-expanded {
    background: url(../images/tree_icons.png) no-repeat -144px 0;
}
.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
  background: url('../images/tree_icons.png') no-repeat -128px 0;
}
.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
  background: url('../images/tree_icons.png') no-repeat -80px 0;
}
.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
  background: url('../images/tree_icons.png') no-repeat -64px 0;
}
.tree-line {
  background: url('../images/tree_icons.png') no-repeat -176px 0;
}
.tree-join {
  background: url('../images/tree_icons.png') no-repeat -192px 0;
}
.tree-joinbottom {
  background: url('../images/tree_icons.png') no-repeat -160px 0;
}
.tree-checkbox0 {
  background: url('../images/tree_icons.png') no-repeat -207px -18px;
}
.tree-checkbox1 {
  background: url('../images/tree_icons.png') no-repeat -223px -18px;
}
.tree-checkbox2 {
  background: url('../images/tree_icons.png') no-repeat -240px -18px;
}
.tree-dnd-yes {
  background: url('../images/tree_icons.png') no-repeat -256px 0;
}
.tree-dnd-no {
  background: url('../images/tree_icons.png') no-repeat -256px -18px;
}
.tree-folder{
	background: url(../images/tree_icons.png) no-repeat -223px 0px;
}
.tree-file{
	/*width: 25px;/*树结构去掉文件夹和文件图标*/
	/*height: 25px;*/
	background: url(../images/tree_icons.png) no-repeat -240px 0px;
}
.tree-expanded {
  background: url('../images/tree_icons.png') no-repeat -18px 0px;
}
.tree-expanded-hover {
  background: url('../images/tree_icons.png') no-repeat -50px 0px;
}
.tree-collapsed {
  background: url('../images/tree_icons.png') no-repeat 0px 0px;
}
.tree-collapsed-hover {
  background: url('../images/tree_icons.png') no-repeat -32px 0px;
}
/*极简模式logo*/
.nav_logo a {
	display:block;
    background: url(../images/nav_logo.png) no-repeat;
    width: 190px;
    height: 29px;
    margin-top: 8px;
} 
/*头部下拉*/
.skin_s,.light-blue{ float:left; position:relative; }
/*内部样式提出来*/
.device_content{height: 100%; position:relative; width:98%; left:15px;}
.select_yu{ color:#fff; float:right;}
/*换肤色块*/
.blue-skin i{ display:inline-block ; padding:6px; background:#062a5e; border:1px solid #000;    vertical-align: -2px;}
.default-skin i{ display:inline-block ; padding:6px; background:#f5f6fb; border:1px solid #000;   vertical-align: -2px;}
/*首页模板*/
.right-list.homeTemplate{ height:100%;     border-left: 1px solid #2368c3;}

/*阈值定义*/
.add_condition{ text-align:center;}
.add_condition a{background: url(../images/add_condition.png) no-repeat; width:69px; height:69px;    display: inline-block;
    margin-top: 40px;
    margin-bottom: 5px;}
.add_condition p{ color:#a5c2fc;}
.add_c_head{background:#1d4170;}
/*首页top预览边框效果*/
.top_preview{ border:1px solid #3E8CCA; height:100%; height:370px; min-height:370px; text-align:center;  overflow:hidden !important; color:#C0D9EF;}
.top_preview p{ margin-top:155px;}

/*视频重新设计*/
.video_tab table{ width:100%;}
.video_tab table th{border: 1px solid #326fc0; line-height: 20px;  padding: 4px;}
/*视频监控界面*/
.tooltip_selfdefine{ position:absolute; background:#184f99; display:none;}
/*视频诊断颜色*/
.camera_color{ color:#fff;}
.videoBKImg{ border:4px solid #0e3566;}