/*公共样式定义*/
*{ margin:0px; padding:0px;}
/*字体图标的大小*/
.fa-lock,.fa-trash-o,.fa-play-circle,.fa-plus-square-o,.fa-edit { font-size:1.3em;margin-right: 10px;}
.fa-cog{
	margin-right: 10px;
}
/*告警与可用图标样式*/
.light-ico {
    background: url(../images/icons/alerts-lights.png) no-repeat scroll 0 0;
    display: inline-block;
    display: inline-block;
    zoom: 1;
    height: 25px !important;
    line-height: 25px !important;
    text-indent: 23px;
    position: relative;
    /*top: -1px;*/
    margin: 0 1px;
    padding-right: 6px;
    min-width: 25px;
    max-width: 348px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.light-ico_resource {
    background: url(../images/icons/alerts-lights.png) no-repeat scroll 0 0;
    display: inline-block;
    /*zoom: 1;*/
    height: 25px !important;
    line-height: 25px !important;
    padding-left: 30px;
    overflow: hidden;
    vertical-align: middle;
    /*text-indent: 23px;
    position: relative;
    top: 1px;
    margin: 0 1px;
    padding-right: 20px;
    padding-left:4px;
    padding-bottom: 1px;
    padding-top: 1px;
    height:22px;
    min-width: 25px;*/
}


.alert-ico{background: url(../images/icons/alerts-lights.png) no-repeat; display: inline-block; width: 20px;height: 25px; vertical-align: -7px;margin-right: 4px;}
.redlight { background-position: 0 -45px;}/*致命告警*/
.orangelight{ background-position:0px -271px;}/*严重告警*/
.yellowlight { background-position: 0 -193px;}/*告警*/
.lightnormal{ background-position:0px -89px;}/*正常告警*/

.ava_available{ background-position:0px 4px;}/*可用*/
.ava_notavailable{ background-position:0px -233px;}/*不可用*/

.res_normal_nothing { background-position: 0 -313px;}/*可用正常告警*/
.res_critical{background-position: 0 -350px;}/*致命不可用*/
.res_normal_critical{background-position: 0 -467px;}/*致命可用*/
.res_serious{background-position: 0 -388px;}/*严重可用*/
.res_warn{background-position: 0 -430px;}/*警告可用*/
.res_unknown_nothing{background-position:-15px -19px}/*未知*/
.grizzly{background-position:-15px -68px}/*灰色铃铛*/

/*子资源分区可用*/
span.light-ico_resource.ava_available.oc-datagrid-spanwdth{
	background-position:4px 4px;
}
/*子资源分区不可用*/
.span.light-ico_resource.ava_notavailable.oc-datagrid-spanwdth{
	background-position:0 -237px;
}
.topo_cabinet_device_list .light-ico_resource{
	width: 25px;
	top: 5px;
}
/*信息指标图标*/
.information_ico{
	background-position: 0 -559px;
}
/*表格样式*/
.operation-box,.biz-capacity{ /*border:1px solid #145fa9;  background: rgba(7,35,69,0.4);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66072345,endColorstr=#66072345);*/
		color:#fff; }
 
.operation-box .biz-operation-name{color: #75cffd;}
/* .datagrid-btable tr td{ border-bottom:1px solid #075eb0;}
.datagrid-htable span{ color:#c2d9f0;}
.datagrid-header{ background:#102a51;}
.datagrid-row:hover, .datagrid-row_slect { background: #4b77a8; border-bottom:1px solid #689cd6;}
.datagrid-btable .datagrid-row:hover td,.datagrid-btable .datagrid-row_slect td { border-bottom:1px solid #689cd6;}
.datagrid-row-selected { background: #1f3c69;color: #fff;}
.datagrid-btable{width:100% !important;background: rgba(7,35,69,0.4); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66072345,endColorstr=#66072345);} */
/*tab页签样式*/
.biz-capacity .tabs{ background: #102a51;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#102a51',endcolorstr='#102a51',gradientType=0);
    background-image: -moz-linear-gradient(top, #102a51, #102a51);
    background-image: -ms-linear-gradient(top, #102a51, #102a51);
    background-image: -o-linear-gradient(top, #102a51, #102a51);
    background-image: -webkit-linear-gradient(top, #102a51, #102a51);
    background-image: linear-gradient(top, #102a51, #102a51);
	 /*border-bottom: 1px solid #145fa9;*/
	 
	}
.biz-capacity .tabs li:hover{ background: #183969;	 /* border-bottom: 1px solid #145fa9; */ }
.biz-capacity .tabs .active{    background: #153d70;    /*border: 1px solid #145fa9;*/ border-bottom:none;}

/*图标样式*/
.operation-head a.operation-time{ color:#fff;}
.operation-head a.operation-time:hover,.biz-comm-title a.healthy-time:hover {background: #1d8bc6; border: 1px solid #55abe3;  text-decoration:none;padding: 1px 4px; color:#fff;}
 
/*弹出框*/
/*.window{ background:#255492;box-shadow: 0 4px 10px rgba(0,0,0,.3);}
.window .window-header{ background:#1d4170; border-bottom:1px solid #326fc0;}
.dialog-button{ border-top:1px solid #326fc0;} */
/*按钮*/
/*.l-btn-left .btn-m{ background:#1c8bc4;}
.l-btn-left .btn-m:hover{ color:#fff; background:#00afe5;}*/
.biz-set-time .custom-time-ipt{ background:#1d4171 !important; border-style:solid; border-width:1px; border-color:#152f51 #5585bd #5585bd #152f51 !important; color:#fff;}
.threshold-btn button{color: #fff; width:110px;
    background-color: #0b3873;/*#61b1e6;*/
   cursor: pointer;
    /*background: -webkit-linear-gradient(top,#61b1e6 0,#50a1e0 100%);
    background: -moz-linear-gradient(top,#61b1e6 0,#50a1e0 100%);
    background: -o-linear-gradient(top,#61b1e6 0,#50a1e0 100%);
    background: linear-gradient(to bottom,#61b1e6 0,#50a1e0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#61b1e6,endColorstr=#50a1e0,GradientType=0);*/
}
/*文本框样式*/
/*input[type="text"],input[type="password"],textarea,.edui-container .edui-editor-body,select{ background:#1d4171; border-color:#152f51 #5585bd #5585bd #152f51; color:#fff; font-size:12px;border-style: solid; border-width: 1px;}*/
/* .combo-p{ background:#4b77a8; border:1px solid #4c8ad2;}
input[type="text"],input[type="password"],input[readonly],textarea,.edui-container .edui-editor-body{ background:#1d4171; border-color:#152f51 #5585bd #5585bd #152f51; color:#fff; font-size:12px;}
.combo-p{ background:#4b77a8; border:1px solid #4c8ad2;}

.combo-p{ background:#4b77a8; border:1px solid #4c8ad2;    }
.combobox-item{ border-bottom:1px solid #689cd6;}
.combobox-item-hover{ background:#244680;}
.combobox-item-selected{ background:#3399ff;   color: #fff;}  */
.upload_top_bg {  border-bottom: 1px solid #3d7fd5;color:#fd9500;padding-bottom: 6px;margin-bottom: 1px;}
.loadimgbox {border: 1px solid transparent;/*border-bottom: none;*/width: 83px;float: left;}
.loadimgbox_active{border: 1px solid #3d7fd5;}
/*编辑框样式*/
.edui-container .edui-toolbar{
	background:#3f70b1; border-color:#152f51 #5585bd #5585bd #152f51;
}
/*头部样式*/
/* .panel .panel-header{border-bottom: 1px solid #4889da;} */
/*弹出框中的展开页头*/
.accordion .accordion-header{;border-bottom: 1px solid #0d2c50 !important; margin-bottom:1px;}
.accordion .accordion-header-selected,
.accordion .accordion-header:hover {
	background-color:rgba(28,139,196,.5);
}
.accordion .accordion-header .panel-title{ color:#c0d9ef;}
.accordion .accordion-header-selected .panel-title { color: #fff;}

.accordion-collapse{ color:#fff;}
/*资源更多操作下拉框与资源左边编辑下拉框*/
.sh-window {
    margin-top: 45px;
    position: absolute;
    width: 130px;
    z-index: 1;
}
#customGroupAccordion .panel{overflow:inherit!important;}
.customGroupName{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: block;float:left;width:114px;}
.cgtOper{margin-top: 5px !important;float:left;left:73px;top:25px;display:left;}
.cgtAdd,.cgtEdit,.cgtDel,.cgtEditDomin{display: block;color: #fff; font-weight:normal;    background: #08284D;line-height:30px;}
.cgtAdd a,.cgtEdit a,.cgtDel a,.cgtEditDomin a{ margin-right:5px; margin-left:10px;}
.cgtAdd:hover,.cgtEdit:hover,.cgtDel:hover,.cgtEditDomin:hover{ cursor:pointer; background:#051b33;}
.ico-addpage {background: url(../images/icons/btnico.png) no-repeat scroll 0 0;background-position: 0 -2162px;}
.cgtOper .m-window span{ display:block;}
/*弹出框内部样式*/
a.h-ms, a.h-ms:hover{ color:#c3d9f1;}
.biz_define_symbol { color: #01e5f4;}

/*告警规则*/
.table-pop .tab-l-tittle{}
fieldset{border: 1px solid #2877c3; clear:both;}
 fieldset .item{
	padding:5px;
}
 fieldset{
	margin-bottom:15px;
}
/*下拉选择颜色*/
/*.tree-node-selected {color:#fff;}*/
/*.tree-node-hover { color: #fff;}*/
/*.combo-arrow,.datebox .combo-arrow  {background: #1c8bc4; color:#fff;}*/
.combo-arrow:hover,.datebox .combo-arrowHover  {background-color:#00afe5;}

/*报表框*/
 /*.reportListDiv{
 	border: 1px solid #2877c3;
 }*/
 /* 表格中的选择框 */
/*  .datagrid-btable tr td{
 	width:27px;
 } */
 /*添加告警规则公共样式，有冲突再调整*/
 fieldset{padding:6px;}
 

/**********************************新整理的代码**************************************/
/*弹出框左侧菜单*/
.oc_module_resmanagement_discovery_nav{ 
	/*padding: 0;*/
}
.oc-leftbody{ text-align:center;}
.oc-leftbody div.nav-leftbody-con{
	height:40px;
	line-height:40px;
	cursor: pointer;
}
/*添加的样式*/
.navbar .classic{ padding:0px 10px;}
.font16{ font-size:16px; margin-right:5px;}
.btn-distance{margin-top: 5px; margin-right: 10px;}
.datagrid-cell a{ margin:0px 4px;}
.biz-alarm label:hover{ cursor:pointer;}
/*个性化策略，是否可编辑下拉图标*/
a.textbox-icon.combo-arrow.textbox-icon-disabled{
	background-color:#0f3566;
	color:#888;
}
a.textbox-icon.combo-arrow.textbox-icon-disabled:hover{
	opacity:1;
}
/*按照原来的样式名称定义字体图标*/
.accordion-collapse{ font: normal normal normal 14px/1 FontAwesome; color:#fff;}
.panel .panel-header .panel-tool a.accordion-collapse:before{content: "\f0d7";}
.panel .panel-header .panel-tool a.accordion-expand:before{content: "\f0d8";}
/*margin 距离*/
.margin5{ margin:5px;}
.datagrid-toolbar label a,.biz-alarm label a{ padding: 4px 6px;}
.datagrid { padding:0px 0px 0px 0px;}
.lightAlarmClass{ padding:4px 0px;}
/*插入的按钮距离*/
.insert-btn{     padding-top: 8px;}
.datagrid-btable .borno tr td,.datagrid-btable .datagrid-row:hover .borno tr td{ border:0px;}
/*上下翻页样式*/
.datagrid-btable .borno tr td,.datagrid-btable .datagrid-row:hover .borno tr td{ border:0px;}
/*上下翻页*/
.oc-nav .nav-list {
    float: left;
    margin-right: 60px;
    position: relative;
    /*top: 3px !important;*/
    width: 95%;
}
.oc-nav .nav-page {
    float: left;
    margin-top: 10px;
    margin-left: -60px;
    cursor: pointer;
}
.nav-page span{ background:#1c8bc4;    display: block;
    margin-top: 5px;}
.nav-page .page-up{ padding:5px 5px 0px 5px;}
.nav-page .page-down{ padding:0px 5px 5px 5px;}
.nav-page .page-up.disabled,.nav-page .page-down.disabled { background:#43679a;color:#1c4070;}

.oc-nav .nav-list li{padding-top:4px;float:left; border:none;width:80px;height:70px;cursor: pointer;}
/*.oc-nav .nav-list li.nav-actived,.oc-nav .nav-list li:hover{background:#0066CC;}*/
.oc-nav{    background: #0F3566;     overflow: hidden;}

.datagrid-btable .borno tr td,.datagrid-btable .datagrid-row:hover .borno tr td{ border:0px;}

/*上下翻页样式结束*/
/*资源组左侧菜单栏的编辑删除的显示与隐藏*/
.oc-icomargin{ 
	 /*background: url(../images/comm/icon/del.png) -2px -2px;*/ 
    /* margin: 5px 3px; */
   	margin-right: 12px;
    width: 11px;
    height: 12px;
    vertical-align: middle;
    position: absolute;
    top: 35%;
    right: 3px;
	}
.oc-icomargin:hover,.ico-delwindow:hover{
	/* background: url(../images/comm/icon/del.png) -2px -19px; */
	color:#EF660B;
}
/*资源详情-资源详情的弹出框单独增加了一个”resource-panel-head“的样式*/
.window .window-header.resource-panel-head{ height:auto; border:0px;}
.window .window-header.resource-panel-head .panel-title{ 
	height:auto; 
	padding-left: 0px;
	text-indent: 20px;
}
.window .window-header.resource-panel-head .panel-tool{top:20px;}

.window .window-header.resource-panel-head .panel-body.panel-body-noborder.window-body {padding:0px;}

/*告警管理登录输入框与按钮对齐*/
.oc-form.float .form-group{margin: 0px 5px;}
 /**************业务管理模块***************/
 /*业务管理*/
 .operation-box,.hchats-box,.healthy-box{ height:50%;}
 
.biz-fr a{     border: 1px solid transparent;}
.biz-fr a:hover,.biz-fr a:active{ background: #1d8bc6; border: 1px solid #55abe3;}
.biz-fr a:hover i{ color:#fff;}
.biz-comm-title{ /*border-bottom:1px solid #145fa9;*/}
.hchats-box{/*border:1px solid #145fa9;  background: rgba(7,35,69,0.4);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66072345,endColorstr=#66072345);*/
		color:#fff;}
.healthy-box{/*border:1px solid #145fa9;  background: rgba(7,35,69,0.4);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66072345,endColorstr=#66072345);*/
		color:#fff; }
.biz-fr{float: right;}
.biz-clearfix:after{content: ''; display: block; clear: both;}
.biz-main{height: 100%; width: 100%; }
.biz-alarm{padding: 7px 20px 5px 10px; height:40px;}
.biz-fr a{ padding:2px 5px; float:right;}
.biz-fr a.biz-list{ margin-top:2px;}
.function-cio{ font-size:16px;}
.biz-alarm .greenlightbtn{background: url(../images/bizser/summary/greenlightbtn.png) no-repeat;}
.biz-alarm label a{ padding: 1px 6px;}
.biz-alarm label a{cursor:pointer;}
.biz-alarm label a:hover{}

.biz-main .layout-panel-east,.biz-main .layout-panel-west{border-right: 0;}

/*.biz-wrap{background-color: #fff; padding: 20px 20px 0 20px; width: 100%; height: 100%;}*/
.biz-fl{float: left; height: 100%;}
.biz-left{width: 30%; padding:0 20px;}
.biz-center{width: 50%; padding-right: 20px;}
.bix-right{width: 20%; /*padding: 20px 10px 0 0;*/ }
.biz-south{color: #fff;}
.healthy-box, .hchats-box{position: relative; overflow: hidden; padding-top:40px;}
.healthy-box{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.biz-comm-title{position:absolute; top:0px; left: 0; width:100%;font-size:1em; height: 35px; font-family: "Microsoft Yahei"; padding: 6px 0 5px 20px; color:#5c9ce6; font-weight:bold; }
/*.biz-comm-title:after{content: ' '; position: absolute; right: 0; bottom: -3px; display: inline-block; width: 6px; height: 5px; background: url(../images/bizser/summary/title-end.jpg) no-repeat;}
.biz-comm-title:before{content: ' '; position: absolute; left: 0; bottom: -1px; display: inline-block;width: 20px; height: 10px; background: url(../images/bizser/summary/title-begin.jpg) no-repeat right #fff;}*/
/*.response-speed .biz-comm-title{background: url(../images/bizser/summary/biz-response.png) no-repeat;}*/
/*.alarm-box .biz-comm-title{background: url(../images/bizser/summary/alarm-num.png) no-repeat;}*/
/*.healthy-box .biz-comm-title{background: url(../images/bizser/summary/healthy.png) no-repeat;}*/
.healthy-box .healthy-time{position: absolute; left: 110px; bottom: 10px; display: inline-block; font-size:16px; padding:2px 5px; color:#528cd8; z-index: 999;}
.healthy-box .cap-page{position: absolute; right: 10px; bottom:2px;}
/*.response-speed .biz-comm-title { background: url(../images/bizser/summary/biz-response.png) no-repeat;}*/
.healthy-box .biz-comm-content{height: 100%; text-align: center; position: relative; padding: 40px 20px 0 20px;}
.healthy-box .biz-disk{width: 100%; height: 100%;}
.healthy-box .biz-grades{position: absolute; bottom: 15px; left: 50%; z-index: 100; color: #fff; margin-left: -51px; width: 100px; height: 107px; padding-top: 30px; background: url(../images/bizser/summary/biz-grades.png) no-repeat; }
.biz-grades .grades-num{display:inline-block;letter-spacing: 8px; padding-left: 3px;font-size: 16px;  height:20px; line-height: 20px; vertical-align: bottom; background: url(../images/bizser/summary/grades_bg.png) no-repeat right;}
.healthy-box .biz-degree{z-index: 9; cursor: pointer; width: 80px; height: 90px;}
.healthy-box .biz-users{position: absolute; top:10px; left: 50%; margin-left: -40px;  background: url(../images/bizser/summary/biz-users.png) no-repeat;}
.healthy-box .biz-monitor{position: absolute; top:50%; left: 20px; margin-top: -41px; background: url(../images/bizser/summary/biz-monitor.png) no-repeat;}
.healthy-box .biz-statistics{position: absolute; top:50%; right: 30px; margin-top: -53px; background: url(../images/bizser/summary/biz-statistics.png) no-repeat;}
.healthy-box .biz-app{position: absolute; top:20%; left: 23%; margin: -30px 0 0 0; background: url(../images/bizser/summary/biz-app.png) no-repeat;}
.healthy-box .biz-door{position: absolute; top:20%; right: 20%; margin: -46px 0 0 0; background: url(../images/bizser/summary/biz-door.png) no-repeat;}
.healthy-box .biz-state{position:absolute;display: inline-block; width: 27px; height: 27px; background: url(../images/bizser/summary/biz-state.png) no-repeat;}
.healthy-box .biz-redstate{background-position: 0 0;}
.healthy-box .biz-orangestate{background-position: 0 -40px;}
.healthy-box .biz-yellowstate{background-position: 0 -90px;}
.healthy-box .biz-greenstate{background-position: 0 -142px;}
.biz-users .biz-state{bottom: 20px; right: -10px;}
.biz-app .biz-state{bottom: 10px; right: 25px;}
.biz-door .biz-state{bottom: 15px; right: 0;}
.biz-statistics .biz-state{bottom:25px; right: 5px;}
.biz-monitor .biz-state{bottom: 25px; right: 10px;}
.biz-system-name{position: absolute; display: inline-block; width: 100%;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.biz-users .biz-system-name{bottom: 0; left: 0;transform:rotate(1deg); -ms-transform:rotate(1deg);  -moz-transform:rotate(1deg); -webkit-transform:rotate(1deg); -o-transform:rotate(1deg);}
.biz-app .biz-system-name{bottom: 5px; left: 15px;transform:rotate(-17deg); -ms-transform:rotate(-17deg);  -moz-transform:rotate(-17deg); -webkit-transform:rotate(-17deg); -o-transform:rotate(-17deg);}
.biz-door .biz-system-name{bottom: -10px; left: -10px;transform:rotate(17deg); -ms-transform:rotate(17deg);  -moz-transform:rotate(17deg); -webkit-transform:rotate(17deg); -o-transform:rotate(17deg);}
.biz-statistics .biz-system-name{bottom: -10px; left: -15px;transform:rotate(17deg); -ms-transform:rotate(17deg);  -moz-transform:rotate(17deg); -webkit-transform:rotate(17deg); -o-transform:rotate(17deg);}
.biz-monitor .biz-system-name{bottom: -5px; left: 20px;transform:rotate(-13deg); -ms-transform:rotate(-13deg);  -moz-transform:rotate(-13deg); -webkit-transform:rotate(-13deg); -o-transform:rotate(-13deg);}

.healthy-box .biz-scan{position: absolute; bottom: -109px; left: 50%; margin-left: -315px; width: 630px; height: 358px; background:url(../images/bizser/summary/biz-scan.png) no-repeat center;
    transform:rotate(75deg);
    -ms-transform:rotate(75deg);
    -moz-transform:rotate(75deg);
    -webkit-transform:rotate(75deg);
    -o-transform:rotate(75deg);
    transition: transform .5s;
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
    -o-transition: transform .5s;
}
.biz-scan-cycle{padding: 20px 0 0 45px;}
.biz-set-cycle{padding: 20px 0 0 45px;}
.biz-set-cycle input,.biz-scan-cycle input{vertical-align: middle;}
.biz-set-cycle span,.biz-scan-cycle span{margin-left: 15px;}
.biz-set-cycle .custom-cycle-ipt{width: 80px;}

.operation-box{position: relative;}
.operation-box .datagrid-view{border: none;}
.operation-box .operation-head{/*position: absolute; */top:0; left:0; z-index: 1; width: 100%; height: 36px; line-height: 44px; font-size:14px; color:#5c9ce6;}
#operation-box .operation-head{position: absolute; }
.operation-box .operation-title{padding-left: 20px; display: inline-block; font-family: "Microsoft Yahei";}
.operation-head a{    margin: 7px 10px 5px 10px; padding: 2px 5px;}
.operation-head a.operation-edit{background: url(../images/bizser/summary/operation-edit.png) no-repeat;}
.operation-head a.operation-time{ font-size: 16px;  color: #5c9ce6;  position: absolute;  bottom: -2px;}
.operation-box .operation-help{display:inline-block; margin: 0 0 0 5px; vertical-align:middle;width: 16px; height: 16px; font-size:14px;}
.operation-box .biz-name{margin-left: 15px;}
.operation-box .biz-operation-name{padding-left: 15px;}
.operation-box .datagrid-btable .datagrid-cell{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.operation-box .datagrid-pager{background-color: #bdd0ee; border: 1px solid #a0cbe5; border-top: 0;}
.biz-set-time{padding: 20px 50px;}
.biz-set-time .set-time-row{padding: 10px 0;}
.biz-set-time .set-time-row input{vertical-align: middle;}
.biz-set-time .custom-time-ipt{margin-left: 10px;width: 50px; height: 24px;}

.biz-capacity{height: 100%; position: relative;}
.biz-capacity .tabs{padding-left: 0;height: 36px; line-height: 36px;}
.biz-capacity .tabs li{width: 25%; margin: 0; text-align: center; cursor: pointer; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.biz-capacity .tabs li:hover,
.biz-capacity .tabs .active{font-weight: bold;}
.biz-hide{display: none;}
.cap-row{margin: 20px 0;}
.cap-icon{width: 50%; height: 84px; padding: 7px 0; position: relative; background: url(../images/bizser/summary/cap-green.png) top no-repeat;}
.cap-yellow{background: url(../images/bizser/summary/cap-yellow.png) top no-repeat;}
.cap-red{background: url(../images/bizser/summary/cap-red.png) top no-repeat;}
.cap-orange{background: url(../images/bizser/summary/cap-orange.png) top no-repeat;}
#cap-tabs-wrap div.cap-num{position: absolute; font-size: 16px; text-align: center; width: 70px; height: 70px; line-height: 70px; left: 50%; bottom: 8px; margin-left: -35px; color: #fff;}
.cap-num .cap-num-bg{position:absolute; width:100%; bottom:0; left: 0;background: #2f9913;}
.cap-yellow .cap-num .cap-num-bg{background: #e9c306;}
.cap-red .cap-num .cap-num-bg{background: #de3838;}
.cap-orange .cap-num .cap-num-bg{background: #fc7000;}
.cap-num span{position: relative; z-index: 3;}
.cap-make{position: absolute; top:0; left:0; width: 100%; height: 100%; background: url(../images/bizser/summary/cap-mask.png) top no-repeat;}
.cap-detail{width: 50%; line-height: 1.5;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.cap-detail h4{ margin: 10px 0; }
.cap-detail .cpuTitle{line-height: 64px;}
.cap-detail .cap-total, .cap-detail .cap-used{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.cap-page{position: absolute; right: 5px; bottom: 5px;}
.cap-page a{display:inline-block; position:relative;border: 1px solid #55abe3; width: 20px; height: 18px; margin-left: 3px;}
.cap-page a:before, .cap-page a:after{content: " "; display: inline-block; position: absolute;left:3px; }
.cap-page .cap-up:before{ top:3px;border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom:8px solid #2586c7;}
.cap-page .cap-up:after{top:6px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 8px solid #133f74;}
.cap-page .cap-down:before{ top:5px;border-left: 6px solid transparent; border-right: 6px solid transparent; border-top:8px solid #2586c7;}
.cap-page .cap-down:after{ top:2px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid #133f74;}
.cap-page .cap-page-able{background: #1d8bc6;border-color: #a7d1e7; cursor: not-allowed;}
.cap-page .cap-page-able:after{border-top-color:#1d8bc6; border-bottom-color:#1d8bc6;}
.cap-page .cap-page-able:before{border-top-color:#fff; border-bottom-color: #fff;}

/*全屏业务管理*/
.biz-full-main{background: #0F294D;/*background: url(../images/bizser/summary/full-mian.png) no-repeat center #085789;*/}
.biz-full-main .biz-alarm{background: #0F294D;color: #fff;}
.biz-full-main .light-ico{background: url(../images/bizser/summary/full-status.png) no-repeat scroll 0 0; color: #fff;}
.biz-full-main .redlightbtn{background-position: 0 -45px;}
.biz-full-main .yellowlightbtn{background-position: 0 -133px;}
.biz-full-main .greenlightbtn{background-position: 0 -95px;}
.biz-full-main .biz-comm-title{border-bottom-color: #0bc0ee;}
.biz-full-main .biz-comm-title:before{background: url(../images/bizser/summary/full-title-begin.png) no-repeat right #085789;}
.biz-full-main .biz-comm-title:after{background: url(../images/bizser/summary/full-title-end.png) no-repeat;}
.biz-full-main .healthy-box .biz-scan{background: url(../images/bizser/summary/biz-full-scan-s.png) no-repeat;}
/*.full-healthy-box .biz-comm-title{background: url(../images/bizser/summary/full-healthy.png) left bottom no-repeat; border-bottom: none; padding: 9px 0 5px 22px;}*/
.full-healthy-box .biz-comm-title:before{background: none; }
.full-healthy-box .biz-comm-title span{display:block; border-bottom: 1px solid #0bc0ee;padding: 4px 0 5px 10px;}
/*.biz-full-main .response-speed .biz-comm-title{background: url(../images/bizser/summary/biz-full-response.png) no-repeat;}*/
/*.biz-full-main .alarm-box .biz-comm-title{background: url(../images/bizser/summary/full-alarm-num.png) no-repeat;}*/
.biz-full-main .operation-box{border-color: #08c9f6;}
/*.biz-full-main .table-datanull{background: url(../images/bizser/summary/full-td-bg.png) repeat; color: #fff;}*/
/*.biz-full-main .operation-box .datagrid-toolbar{background: url(../images/bizser/summary/full-h-rightbg.png) repeat-x; border-color: #0acaf2; border-bottom: 1px solid #0acaf2;}*/
/*.biz-full-main .datagrid-header{background: #0c73b1 !important; }*/
.biz-full-main .datagrid-cell span{color: #fff;}
.biz-full-main .operation-box .biz-name {color: #75cffd;}
/*.biz-full-main .operation-box .operation-title{color: #fff;background: url(../images/bizser/summary/full-operation.png) left no-repeat;}*/
/*.biz-full-main .operation-head a.operation-time{background: url(../images/bizser/summary/full-operation-time.png) no-repeat;}*/
/*.biz-full-main .healthy-box .healthy-time{background: url(../images/bizser/summary/full-operation-time.png) no-repeat;}*/
/*.biz-full-main .operation-box .operation-help{background: url(../images/bizser/summary/full-operation-help.png) no-repeat; margin: 0 0 0 5px;}*/
/*.biz-full-main .datagrid-row-selected{background: #045a94 !important; color: #fff;}*/
.biz-full-main .datagrid-row:hover, .biz-full-main .datagrid-row_slect{background: #045a94 !important;}
.biz-full-main .biz-capacity{/*border-color: #0acaf2; background: #0b5e99;*/color: #fff; }
.biz-full-main .biz-capacity .tabs li:hover, .biz-full-main .biz-capacity .tabs .active{background: #183969; /*border-left:1px solid #2ba7ea;border-right:1px solid #2ba7ea;*/}
.biz-full-main .biz-capacity .tabs{ /*background: url(../images/bizser/summary/full-cap.png) repeat-x;*/ height: 30px; line-height: 30px; /*border-bottom:1px solid #2ba7ea;*/}
.biz-full-main .cap-make{background: url(../images/bizser/summary/full-cap-mask.png) top no-repeat;}
.biz-full-main .cap-page a{background: #0d86d4; border-color: #0ea1fe;}
.biz-full-main .cap-page .cap-up:before{border-bottom-color: #ffffff;}
.biz-full-main .cap-page .cap-up:after{border-bottom-color: #0d86d4;}
.biz-full-main .cap-page .cap-down:before{border-top-color: #fff;}
.biz-full-main .cap-page .cap-down:after{border-top-color: #0d86d4;}
.biz-full-main .cap-page .cap-page-able{background: #0c72b0;}
.biz-full-main .cap-page .cap-page-able:after{border-top-color:#0c72b0; border-bottom-color:#0c72b0;}
.biz-full-main .cap-page .cap-page-able:before{border-top-color: #5cbbfa; border-bottom-color: #5cbbfa;}
.biz-full-main .healthy-box .biz-degree{color: #fff;}
/*业务管理结束*/
/*绘制界面样式编写*/

/*工具栏css*/
.toolbar{     background: #1f5598; border-bottom: 1px solid #1b4573; height:40px;}
.bs_toolbar{position: absolute;
    background: #0B4682;
    border: 2px solid #136d9b;
    /*BUG #39315 业务管理-业务构建图，界面需修正 huangping 2017/7/5 start*/
    z-index: 2;
    top: 3px;
    /*min-width: 648px;*/
    /*BUG #39315 业务管理-业务构建图，界面需修正 huangping 2017/7/5 end*/
    padding-left: 35px;
    height: 38px;
    border-radius: 38px;}
.bs_toolbar * {cursor:pointer; }
.bs_toolbar>div{ margin:0px 5px;}
.bs_toolbar .drag_area {width: 30px; height: 30px; background: url(../images/topo/drag.png); position: absolute; cursor: move;top: 1px; left: 3px;}
.bs_toolbar .add-text-box{/*background: green;*/}
.bar_div{ position:relative;    float: left; margin-right: 5px;}
#right-buttons{position: absolute; right: 0px; }
.triangle_down{ width: 0px;    height: 0px;   border-left: 4px solid transparent;  border-right: 4px solid transparent;    border-top: 5px solid #a7d6ee; font-size: 0px; line-height: 0px;position: relative; bottom: 1px; left: 2px; cursor:pointer;}
.tool_bar_ico{ background:url(../images/tool_bar_img.png) no-repeat;  display:inline-block; width:18px; height:18px; margin-top:2px;}
.line{background-position:0px -40px; }
.poly{ background-position:0px -6px; }
.line-type{        height: 26px; margin-top: 2px; padding:2px 4px; }
.line-type-hover,.actice_tool{ background: #1f5598;  border-style: solid;  border-width: 1px; border-color: #136d9b; padding: 1px 3px;}
.line-type-hover .poly,.actice_tool .poly{ background-position:0px -65px;} 
.line-type-hover .line,.actice_tool .line{ background-position:0px -92px;} 
.line-type-box{ position:absolute; background:#1f5598; border:1px solid #136d9b; text-align: center; width:34px; display: none;}
.line-type-box>div{padding: 5px 0px;}
.line-type-box>div:hover{ background:#00A4DF; }

.singal-arrow{ background-position:-44px -6px; }
.double-arrow{ background-position:-43px -39px;}
.none-arrow{background-position:-43px -27px;}
.line-type-hover .singal-arrow,.actice_tool .singal-arrow{ background-position:-44px -65px;} 
.line-type-hover .double-arrow,.actice_tool .double-arrow{ background-position:-43px -94px;} 
.line-type-hover .none-arrow,.actice_tool .none-arrow{ background-position:-43px -82px;} 

.solid-line{background-position:-89px -34px;}
.dash-line{background-position:-89px -6px;}
.line-type-hover .solid-line,.actice_tool .solid-line{ background-position:-89px -93px;} 
.line-type-hover .dash-line,.actice_tool .dash-line{ background-position:-89px -63px;} 

.line-width{background-position:-136px -6px;}
.line-type-hover .line-width,.actice_tool .line-width{background-position:-136px -65px;}

.line-color{background-position:-651px -6px;}
.line-type-hover .line-color,.actice_tool .line-color{background-position:-651px -66px;}

.full-color{background-position:-212px -6px;}
.line-type-hover .full-color,.actice_tool .full-color{background-position:-212px -65px;}

.bg-border-color{background-position:-179px -6px;}
.line-type-hover .bg-border-color,.actice_tool .bg-border-color{background-position:-179px -65px;}

.text-box{background-position:-257px -6px;}
.line-type-hover .text-box,.actice_tool .text-box{background-position:-257px -65px;}

.text-color{background-position:-357px -5px;}
.line-type-hover .text-color,.actice_tool .text-color{background-position:-357px -64px;}

.text-bold{ background-position:-385px -5px;}
.line-type-hover .text-bold,.actice_tool .text-bold{background-position:-385px -64px;}

.align-left{ background-position:-412px -5px;}
.line-type-hover .align-left,.actice_tool .align-left{background-position:-412px -64px;}

.align-bottom{background-position:-440px -5px;}
.line-type-hover .align-bottom,.actice_tool .align-bottom{background-position:-440px -64px;}

.line-refresh{background-position:-486px -5px;}
.line-type-hover .line-refresh,.actice_tool .line-refresh{background-position:-486px -64px;}

.line-save{background-position:-519px -5px;}
.line-type-hover .line-save,.actice_tool .line-save{background-position:-519px -64px;}

.line-delete{background-position:-547px -5px;}
.line-type-hover .line-delete,.actice_tool .line-delete{background-position:-547px -64px;}

.health-bt {background-position:-611px -5px;}
.line-type-hover .health-bt,.actice_tool .health-bt{background-position:-611px -64px;}
.line-attr,.font-attr,.modify-attr,.other-attr{border-left:1px solid #1c8bc4; margin:0px !important; float:left;    margin-top: 2px !important;}
.line-attr{border-left:0px;}

.other-attr{ border-right:0px;}
.font-select-div{width: 54px; position: absolute;left: 1px;top: 28px;background: #1f5598;z-index: 999999; display:none}
.font-selected{background: #1c8bc4;} 
.other-attr{ border-right:0px;}
.other-attr{ border-right:0px;}
.bz_bg{ background:#1D4171; background-size: 100% 100%;-ms-behavior: url(backgroundsize.min.htc);}
.right-buttons{ margin-top:5px;}
#panel-control .right-menu ul {display: inline-block; margin-left: 2px; border: 1px solid #90bfde; min-width: 75px; padding: 0; background: white; } 
.bar_div.font-size{ margin-top:3px;}
/*业务绘制界面代码结束*/

/*表格头部可拖动边界*/
/*.datagrid-header .datagrid-htable td{
	background: url(../images/border.png) right center no-repeat;
}*/

/*
**
**导航小图标
**
*/
/*宽高样式*/

.res-size-nav{
	width: 42px;
	height: 40px;
	/*border: 2px solid #2669bf;*/
	/*border-radius: 26px;*/
}
.res-size-nav + div.oc-panel-font{
	padding: 0 5px;
	display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
    height: 16px;
    overflow: hidden;
    color: #c0d8f0;
}
.nav-list li.nav-actived,
.nav-list li:hover{
	background: #0066CD;
	/*border-color: #c0d8f0;*/
}
.nav-list li.nav-actived .res-size-nav + div.oc-panel-font,
.nav-list li:hover .res-size-nav + div.oc-panel-font{
	color: #fff;
}
/*******************/
/*.nav-list li.nav-actived .resources,
.nav-list li:hover .resources{
	background:url(../images/res-spirit-active.png) 1px 1px no-repeat;
}
.nav-list li.nav-actived .metricGroup,
.nav-list li:hover .metricGroup{
	background:url(../images/res-spirit-active.png) 1px -43px no-repeat;
}
.nav-list li.nav-actived .alarm,
.nav-list li:hover .alarm{
	background:url(../images/res-spirit-active.png) -41px 1px no-repeat;
}
.nav-list li.nav-actived .controller,
.nav-list li:hover .controller{
	background:url(../images/res-spirit-active.png) 1px -87px no-repeat;
}
.nav-list li.nav-actived .storage-pool,
.nav-list li:hover .storage-pool{
	background:url(../images/res-spirit-active.png) -545px -43px no-repeat;
}
.nav-list li.nav-actived .physics-disk,
.nav-list li:hover .physics-disk{
	background:url(../images/res-spirit-active.png) -293px 1px no-repeat;
}
.nav-list li.nav-actived .fiber-interface,
.nav-list li:hover .fiber-interface{
	background:url(../images/res-spirit-active.png) -41px -87px no-repeat;
}
.nav-list li.nav-actived .Processor,
.nav-list li:hover .Processor{
	background:url(../images/res-spirit-active.png) -125px -43px no-repeat;
}
.nav-list li.nav-actived .Fan,
.nav-list li:hover .Fan{
	background:url(../images/res-spirit-active.png) -461px -43px no-repeat;
}
.nav-list li.nav-actived .Power,
.nav-list li:hover .Power{
	background:url(../images/res-spirit-active.png) -377px -43px no-repeat;
}
.nav-list li.nav-actived .controlPanel,
.nav-list li:hover .controlPanel{
	background:url(../images/res-spirit-active.png) -461px 1px no-repeat;
}
.nav-list li.nav-actived .NetInterface,
.nav-list li:hover .NetInterface{
	background:url(../images/res-spirit-active.png) -41px -43px no-repeat;
}
.nav-list li.nav-actived .business,
.nav-list li:hover .business{
	background:url(../images/res-spirit-active.png) -83px 1px no-repeat;
}
.nav-list li.nav-actived .tool,
.nav-list li:hover .tool{
	background:url(../images/res-spirit-active.png) -419px 1px no-repeat;
}
.nav-list li.nav-actived .CPU,
.nav-list li:hover .CPU{
	background:url(../images/res-spirit-active.png) -125px 1px no-repeat;
}
.nav-list li.nav-actived .HardDisk,
.nav-list li:hover  .HardDisk{
	background:url(../images/res-spirit-active.png) -209px -43px no-repeat;
}
.nav-list li.nav-actived .Partition,
.nav-list li:hover .Partition{
	background:url(../images/res-spirit-active.png) -251px -43px no-repeat;
}
.nav-list li.nav-actived .Process,
.nav-list li:hover .Process{
	background:url(../images/res-spirit-active.png) -167px -43px no-repeat;
}
.nav-list li.nav-actived .File,
.nav-list li:hover .File{
	background:url(../images/res-spirit-active.png) -251px 1px no-repeat;
}
.nav-list li.nav-actived .TableSpace,
.nav-list li:hover .TableSpace{
	background:url(../images/res-spirit-active.png) -503px 1px no-repeat;
}
.nav-list li.nav-actived .c-resource,
.nav-list li:hover .c-resource{
	background:url(../images/res-spirit-active.png) -293px -43px no-repeat;
}
.nav-list li.nav-actived .LogFile,
.nav-list li:hover .LogFile{
	background:url(../images/res-spirit-active.png) -209px 1px no-repeat;
}
.nav-list li.nav-actived .DataFile,
.nav-list li:hover .DataFile{
	background:url(../images/res-spirit-active.png) -167px 1px no-repeat;
}
.nav-list li.nav-actived .c-example,
.nav-list li:hover .c-example{
	background:url(../images/res-spirit-active.png) -335px -43px no-repeat;
}
.nav-list li.nav-actived .OracleProcess,
.nav-list li:hover .OracleProcess{
	background:url(../images/res-spirit-active.png) -545px 1px no-repeat;
}
.nav-list li.nav-actived .asm-disk-group,
.nav-list li:hover .asm-disk-group{
	background:url(../images/res-spirit-active.png) -377px 1px no-repeat;
}  
.nav-list li.nav-actived .asm-disk,
.nav-list li:hover .asm-disk{
	background:url(../images/res-spirit-active.png) -335px 1px no-repeat;
}  
.nav-list li.nav-actived .JMSConnection,
.nav-list li:hover .JMSConnection{
	background:url(../images/res-spirit-active.png) -503px -178px no-repeat;
}
.nav-list li.nav-actived .JVM,
.nav-list li:hover .JVM{
	background:url(../images/res-spirit-active.png) -545px -178px no-repeat;
}
.nav-list li.nav-actived .WebApp,
.nav-list li:hover .WebApp{
	background:url(../images/res-spirit-active.png) -377px -130px no-repeat;
}
.nav-list li.nav-actived .EntityEJB,
.nav-list li:hover .EntityEJB{
	background:url(../images/res-spirit-active.png) -419px -130px no-repeat;
}
.nav-list li.nav-actived .Servlet,
.nav-list li:hover .Servlet{
	background:url(../images/res-spirit-active.png) -461px -130px no-repeat;
}
.nav-list li.nav-actived .JMS,
.nav-list li:hover .JMS{
	background:url(../images/res-spirit-active.png) -503px -130px no-repeat;
}
.nav-list li.nav-actived .StatelessEJB,
.nav-list li:hover .StatelessEJB{
	background:url(../images/res-spirit-active.png) -545px -130px no-repeat;
}
.nav-list li.nav-actived .EsxStorageAdapter,
.nav-list li:hover .EsxStorageAdapter{
	background:url(../images/res-spirit-active.png) -545px -87px no-repeat;
}
.nav-list li.nav-actived .EsxNetWorkAdapter,
.nav-list li:hover .EsxNetWorkAdapter{
	background:url(../images/res-spirit-active.png) -503px -87px no-repeat;
}
.nav-list li.nav-actived .FileSystem,
.nav-list li:hover .FileSystem{
	background:url(../images/res-spirit-active.png) -461px -87px no-repeat;
}
.nav-list li.nav-actived .Job,
.nav-list li:hover .Job{
	background:url(../images/res-spirit-active.png) -419px -87px no-repeat;
}
.nav-list li.nav-actived .Temperature,
.nav-list li:hover .Temperature{
	background:url(../images/res-spirit-active.png) -377px -87px no-repeat;
}
.nav-list li.nav-actived .Voltage,
.nav-list li:hover .Voltage{
	background:url(../images/res-spirit-active.png) -335px -87px no-repeat;
}
.nav-list li.nav-actived .Task,
.nav-list li:hover .Task{
	background:url(../images/res-spirit-active.png) -293px -87px no-repeat;
}
.nav-list li.nav-actived .Database,
.nav-list li:hover .Database{
	background:url(../images/res-spirit-active.png) -251px -87px no-repeat;
}
.nav-list li.nav-actived .JDBCPool,
.nav-list li:hover .JDBCPool{
	background:url(../images/res-spirit-active.png) -209px -87px no-repeat;
}
.nav-list li.nav-actived .ThreadPool,
.nav-list li:hover .ThreadPool{
	background:url(../images/res-spirit-active.png) -167px -87px no-repeat;
}*/
/******************/
/*inode*/
.Inode{
	background:url(../images/res-spirit.png) -545px -231px no-repeat;
}
/*存储卷*/
.StorageVolume{
	background:url(../images/res-spirit.png) -503px -231px no-repeat;
}
/* 资源总览 */
.resources{
	background:url(../images/res-spirit.png) 1px 1px no-repeat;
}
/* 指标 */
.metricGroup{
	background:url(../images/res-spirit.png) 1px -43px no-repeat;
}
/* 告警 */
.alarm{
	background:url(../images/res-spirit.png) -41px 1px no-repeat;
}
/* 控制器 */
.StorageProcessorSystem{
	background:url(../images/res-spirit.png) 1px -87px no-repeat;
}
/* 存储池 */
.StoragePool{
	background:url(../images/res-spirit.png) -545px -43px no-repeat;
}
/* 物理磁盘 ，磁盘空间，逻辑磁盘*/
.DiskDrive,.PhysicalDrive,.LogicalDrive{
	background:url(../images/res-spirit.png) -293px 1px no-repeat;
}
/* 光纤接口,FC端口，sas端口*/
.FCPort,.SASPort{
	background:url(../images/res-spirit.png) -41px -87px no-repeat;
}
/* 处理器 ，微处理器*/
.Processor,.CPU,.Cpu,.cpu{
	background:url(../images/res-spirit.png) -125px -43px no-repeat;
}
/* 风扇 */
.Fan{
	background:url(../images/res-spirit.png) -461px -43px no-repeat;
}
/* 电源 *//*cpu电源,System电源,HDD电源,PSU电源,PSU电源*/
.Power,.power,.powerSupply{
	background:url(../images/res-spirit.png) -377px -43px no-repeat;
}
/* 面板图 */
.controlPanel{
	background:url(../images/res-spirit.png) -461px 1px no-repeat;
}
/* 接口 */
.NetInterface{
	background:url(../images/res-spirit.png) -41px -43px no-repeat;
}
/* 业务系统 */
.business{
	background:url(../images/res-spirit.png) -83px 1px no-repeat;
}
/* 资产信息 */
.assetInformation{
	background:url(../images/res-spirit.png) -760px -179px no-repeat;
}
/* 小工具 */
.tool{
	background:url(../images/res-spirit.png) -419px 1px no-repeat;
}
/*cpu*/
.CPU{
	background:url(../images/res-spirit.png) -125px 1px no-repeat;
}
/* 硬盘 */
.HardDisk,.Disk,.partition,.HDD,.DiskStoragePool{
	background:url(../images/res-spirit.png) -209px -43px no-repeat;
}
/* 分区 */
.Partition{
	background:url(../images/res-spirit.png) -251px -43px no-repeat;
}
/* 进程，数据库线程 */
.Process{
	background:url(../images/res-spirit.png) -167px -43px no-repeat;
}
/*站点*/
.site{background:url(../images/res-spirit.png) 0px -511px no-repeat;}
/* 文件 */
.File{
	background:url(../images/res-spirit.png) -251px 1px no-repeat;
}
/* 表空间 */
.TableSpace{
	background:url(../images/res-spirit.png) -503px 1px no-repeat;
}
/* 集群资源 */
.c-resource,.Resource{
	background:url(../images/res-spirit.png) -293px -43px no-repeat;
}
/* 日志文件组 */
.LogFile,.LogGroup{
	background:url(../images/res-spirit.png) -209px 1px no-repeat;
}
/* 数据文件 */
.DataFile{
	background:url(../images/res-spirit.png) -167px 1px no-repeat;
}
/* 集群实例 */
.c-example{
	background:url(../images/res-spirit.png) -335px -43px no-repeat;
}
/* 集群实例 */
.Instance{
	background:url(../images/res-spirit.png) -335px -43px no-repeat;
}
/* 后台进程 */
.OracleProcess{
	background:url(../images/res-spirit.png) -545px 1px no-repeat;
}
/* asm磁盘组 */
.ASMDiskGroup{
	background:url(../images/res-spirit.png) -377px 1px no-repeat;
}  
/* asm磁盘组 */
.asm-disk-group{
	background:url(../images/res-spirit.png) -377px 1px no-repeat;
}  
/* asm磁盘 */
.asm-disk{
	background:url(../images/res-spirit.png) -335px 1px no-repeat;
}
/* asm磁盘 */
.ASMDisk{
	background:url(../images/res-spirit.png) -335px 1px no-repeat;
}  
/*jms连接*/
.JMSConnection{
	background:url(../images/res-spirit.png) -503px -178px no-repeat;
}
/*jvm*/
.JVM{
	background:url(../images/res-spirit.png) -545px -178px no-repeat;
}
/*web应用,Portal应用*/
.WebApp,.PortalApp{
	background:url(../images/res-spirit.png) -377px -130px no-repeat;
}
/*实体*/
.EntityEJB{
	background:url(../images/res-spirit.png) -419px -130px no-repeat;
}
/*servlet*/
.Servlet{
	background:url(../images/res-spirit.png) -461px -130px no-repeat;
}
/*Jms*/
.JMS{
	background:url(../images/res-spirit.png) -503px -130px no-repeat;
}
/*无会话状态*/
.StatelessEJB{
	background:url(../images/res-spirit.png) -545px -130px no-repeat;
}
/*存储适配器*/
.EsxStorageAdapter{
	background:url(../images/res-spirit.png) -545px -87px no-repeat;
}
/*网络适配器，Network*/
.EsxNetWorkAdapter,.Network{
	background:url(../images/res-spirit.png) -503px -87px no-repeat;
}
/*文件系统*/
.FileSystem{
	background:url(../images/res-spirit.png) -461px -87px no-repeat;
}
/*作业*/
.Job{
	background:url(../images/res-spirit.png) -419px -87px no-repeat;
}
/*温度，温度传感器*/
.Temperature,.Temp{
	background:url(../images/res-spirit.png) -377px -87px no-repeat;
}
/*电压*/
.Voltage{
	background:url(../images/res-spirit.png) -335px -87px no-repeat;
}
/*任务*/
.Task{
	background:url(../images/res-spirit.png) -293px -87px no-repeat;
}
/*数据库*/
.Database{
	background:url(../images/res-spirit.png) -251px -87px no-repeat;
}
/*jdbc连接池*/
.JDBCPool{
	background:url(../images/res-spirit.png) -209px -87px no-repeat;
}
/*线程池*/
.ThreadPool{
	background:url(../images/res-spirit.png) -167px -87px no-repeat;
}
/*服务*/
.Service{
	background:url(../images/res-spirit.png) -461px -178px no-repeat;
}
/*事件日志文件*/
.EventLogFile{
	background:url(../images/res-spirit.png) -419px -178px no-repeat;
}
/*AP*/
.AP{
	background:url(../images/res-spirit.png) -461px -231px no-repeat;
}
/*数据空间*/
.DbSpace{
	background:url(../images/res-spirit.png) -631px -87px no-repeat;
}
/*物理日志*/
.PhysicalLog{
	background:url(../images/res-spirit.png) -461px -87px no-repeat;
}
/*逻辑日志*/
.LogicLog{
	background:url(../images/res-spirit.png) -674px -131px no-repeat;
}
/*系统表空间*/
.SysTableSpace{
	background:url(../images/res-spirit.png) -293px -87px no-repeat;
}
/*系统信息*/
.SystemInfo{
	background:url(../images/res-spirit.png) -674px -88px no-repeat;
}
/*会话信息*/
.Session{
	background:url(../images/res-spirit.png) -545px -131px no-repeat;
}
/*逻辑卷组，卷组*/
.LogicalVolumeGroup,.VolumeGroup{
	background:url(../images/res-spirit.png) -674px -180px no-repeat;
}
/*交换区*/
.SwapSpace{
	background:url(../images/res-spirit.png) -631px -179px no-repeat;
}
/*GPU*/
.GPU{
	background:url(../images/res-spirit.png) -588px 1px no-repeat;
}
/*数据源*/
.JDBCResource{
	background:url(../images/res-spirit.png) -718px 1px no-repeat;
}
/*JSM队列*/
.JMSQueue{
	background:url(../images/res-spirit.png) -588px -231px no-repeat;
}
/*注册点*/
{
	background:url(../images/res-spirit.png) -718px -180px no-repeat;
}
/*节点,集群节点*/

.Node{
	background:url(../images/res-spirit.png) -545px -231px no-repeat;
}
/*队列，接收队列，发送队列*/
.Queue,.ReceiveQueue,.SendQueue{
	background:url(../images/res-spirit.png) -588px -231px no-repeat;
}
/*服务器*//*HP 刀片服务器,VisualServer*/

.Server,.VisualServer{
	background:url(../images/res-spirit.png) -631px -44px no-repeat;
}
/*实体bean，消息bean，有状态会话Bean*/
.EntityEJB,.MessageEJB,.StatefulEJB,.StatelessEJB{
	background:url(../images/res-spirit.png) -760px -319px no-repeat;
}
/*通道,存储通道*/
.Channel,.StorageChannel{
	background:url(../images/res-spirit.png) -718px -43px no-repeat;
}
/*内存插槽,内存卡*/
.DIMM,.Slot{
	background:url(../images/res-spirit.png) -674px 1px no-repeat;
}
/*系统主板,系统板*/
.Systemboard,.Board{
	background:url(../images/res-spirit.png) -718px -131px no-repeat;
}
/*RAID控制器*/
.Controller{
	background:url(../images/res-spirit.png) -674px -231px no-repeat;
}
/*电源装置*/
.Battery{
	background:url(../images/res-spirit.png) -587px -178px no-repeat;
}
/*内存*/
.Mem{
	background:url(../images/res-spirit.png) -293px 1px no-repeat;
}

/*PCI转接卡*/
.Card,.PCI{
	background:url(../images/res-spirit.png) -717px -231px no-repeat;
}
/*监视器,摄像头*/
.Camera,.Monitors{
	background:url(../images/res-spirit.png) -631px -276px no-repeat;
}
/*驱动器插槽*/
.DriveSlot{
	background:url(../images/res-spirit.png) -759px -43px no-repeat;
}
/*线缆*/
.Cable{
	background:url(../images/res-spirit.png) -760px -87px no-repeat;
}
/*数据目录*/
.DataDir{
	background:url(../images/res-spirit.png) -760px -130px no-repeat;
}
/*任务*/
.Task{
	background:url(../images/res-spirit.png) -760px -180px no-repeat;
}
/*引擎*/
.Engine{
	background:url(../images/res-spirit.png) -760px -231px no-repeat;
}

/*Microphone，麦克风*/
.Microphone{
	background:url(../images/res-spirit.png) -805px -43px no-repeat;
}
/*display,LcdDisplay*/
.Display,.LcdDisplay{
	background:url(../images/res-spirit.png) -804px -87px no-repeat;
}

/*Touch*/
.Touch{
	background:url(../images/res-spirit.png) -804px -180px no-repeat;
}
/*SIP*/
.SIP{
	background:url(../images/res-spirit.png) -804px -231px no-repeat;
}
/*HttpTimeout*/
.HttpTimeout{
	background:url(../images/res-spirit.png) -804px -276px no-repeat;
}
/*LightUnit*/
.LightUnit{
	background:url(../images/res-spirit.png) -717px -276px no-repeat;
}


/*hdd-raid*/
.hdd-raid,.RAID{
	background:url(../images/res-spirit.png) -805px -319px no-repeat;
}
/*视频输入接口*/
.inputDisplay{
	background:url(../images/res-spirit.png) -631px -131px no-repeat;
}
/*视频输出接口*/
.outputDisplay{
	background:url(../images/res-spirit.png) -674px -319px no-repeat;
}
/*MDisk，阵列*/
.MDisk{
	background:url(../images/res-spirit.png) -419px -231px no-repeat;
}
/*共享处理器池*/
.ProcPool{
	background:url(../images/res-spirit.png) -631px -319px no-repeat;
}
/*MAC*/
.MAC{
	background:url(../images/res-spirit.png) -717px -319px no-repeat;
}
/*逻辑卷*/
.LogicalVolume{
	background:url(../images/res-spirit.png)-674px -180px no-repeat;
}
/*IP地址*/
.IPAddress{
	background:url(../images/res-spirit.png) -674px -276px no-repeat;
}
/*.LPAR,CacheRole,CacheUser,系统缓存,Status,UnifiedCM,AudioBox，电流,ProcessStatus,Registry，聚合*/
.LPAR,.CacheRole,.CacheUser,.SysCache,.Status,.UnifiedCM,.AudioBox,.Current,.ProcessStatus,.Registry,.Aggregate{
	background:url(../images/res-spirit.png) -631px -231px no-repeat;
}



/*鼠标左键*/
.left-key{
	background:url(../images/res-spirit.png) -462px -231px no-repeat;
}


/*
**
**状态
**可用、不可用
**
* 实例状态和接口状态宽高不为58px
*/

/*宽高样式*/
.res-size-state{
	width: 58px;
	height: 58px;
	 display: inherit;
}
/* 处理器：可用、不可用 */
.processer-green{
	background:url(../images/res-spirit.png) -120px -131px no-repeat;
}
.processer-red{
	background:url(../images/res-spirit.png) -180px -131px no-repeat;
}
/* 风扇：可用、不可用 */
.fan-green{
	background:url(../images/fan_d.gif) no-repeat;
}
.fan-red{
	background:url(../images/res-spirit.png) -60px -131px no-repeat;
}
/* 电源：可用、不可用 */
.battery-green{
	background:url(../images/res-spirit.png) -240px -131px no-repeat;
}
.battery-red{
	background:url(../images/res-spirit.png) -300px -131px no-repeat;
}
/*摄像头：可用、不可用*/
.cameras-red{
	background:url(../images/res-spirit.png) -242px -287px no-repeat;
}
.cameras-green{
	background:url(../images/res-spirit.png) -300px -287px no-repeat;
}
/*麦克风：可用、不可用*/
.microphone-red{
	background:url(../images/res-spirit.png) -358px -287px no-repeat;
}
.microphone-green{
	background:url(../images/res-spirit.png) -416px -287px no-repeat;
}
/*视频：可用、不可用*/
.videos-red{
	background:url(../images/res-spirit.png) -474px -287px no-repeat;
}
.videos-green{
	background:url(../images/res-spirit.png) -532px -287px no-repeat;
}
/* 实例状态：可用、不可用 */
.example-state-green{
	width:38px;
	height:38px;
	background:url(../images/res-spirit.png) -84px -88px no-repeat;
}
.example-state-red{
	width:38px;
	height:38px;
	background:url(../images/res-spirit.png) -126px -88px no-repeat;
}
/* 接口状态：可用、不可用 */
.interface-green{
	display:inline-block;
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) 0 -353px no-repeat;
}
.interface-red{
	display:inline-block;
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -64px -353px no-repeat;
}
/*
**
**组件信息
**
*/

/* 控制器 */
.controller-l{
	background:url(../images/res-spirit.png) 0 -193px no-repeat;
}
/* 光纤接口 */
.fiber-l{
	background:url(../images/res-spirit.png) -60px -193px no-repeat;
}
/* 物理磁盘 */
.physics-disk-l{
	background:url(../images/res-spirit.png) -121px -193px no-repeat;
}
/* 存储池 */
.storage-disk-l{
	background:url(../images/res-spirit.png) -180px -193px no-repeat;
}
/* 存储卷 */
.storage-volume-l{
	background:url(../images/res-spirit.png) -240px -193px no-repeat;
}
/*主机*/
.host-save,.Host{
	background:url(../images/res-spirit.png) -300px -193px no-repeat;
}
/*
**
**左下角方形背景
**
*/
/* 黄色背景 */
.square-bg-yellow{
	width: 106px;
	height: 60px;
	background:url(../images/res-spirit.png) -108px -287px no-repeat;
}
/* 绿色背景 */
.square-bg-green{
	width: 106px;
	height: 60px;
	background:url(../images/res-spirit.png) 0 -287px no-repeat;
}

/*
**
**交换机-面板页面
**
*/

/* 提示小图标*/

/*宽高样式*/
.res-size-tooltip{
	width: 18px;
	height: 17px;
}
/* up */
.interfaceSmall-green{
	width: 18px;
	height: 17px;
	background:url(../images/res-spirit.png) -256px -353px no-repeat;
}
/* 协议down */
.interfaceSmall-green-red{
	width: 18px;
	height: 17px;
	background:url(../images/res-spirit.png) -275px -353px no-repeat;
}
/* 管理down */
.interfaceSmall-red{
	width: 18px;
	height: 17px;
	background:url(../images/res-spirit.png) -294px -353px no-repeat;
}
/* 未监控 */
.interfaceSmall-white{
	width: 18px;
	height: 17px;
	background:url(../images/res-spirit.png) -313px -353px no-repeat;
}

/* 面板详情 */
.res-size-detail{
	width: 31px;
	height: 30px;
}
/* up */
.up-green{
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) 0 -353px no-repeat;
}
.up-green-r{/*翻转图标*/
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -128px -353px no-repeat;
}
/* down */
.interface-green-red{
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -32px -353px no-repeat;
}
.down-protocol-red-r{
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -160px -353px no-repeat;
}
/* down */
.down-manage-red{
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -64px -353px no-repeat;
}
.down-manage-red-r{
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -192px -353px no-repeat;
}
/* 未监控 */
.interface-white{
	width: 31px;
	height: 30px;
	background:url(../images/res-spirit.png) -96px -353px no-repeat;
}
.uncontrol-gray-r{
	width:31px;
	height:30px;
	background:url(../images/res-spirit.png) -224px -353px no-repeat;
}
/* 详情  */
.fans,.cpus,.batterys{  width:265px; height:155px; margin:0px 5px; float:left; padding-top:10px;}
.fans ul,.cpus ul,.batterys ul{ margin:0px; padding:0px;}
/*.fans ul li{ list-style:none; float:left; line-height:54px; margin:4px 8px; _display:inline;}*/
.cpus ul li,.batterys ul li,.fans ul li{ width:50%;list-style:none; float:left; line-height:52px; margin:2px 0px; _display:inline;}
/*.batterys ul li{ list-style:none; float:left; line-height:52px; margin:2px 0px; _display:inline;}*/
.fans ul li span,.cpus ul li span,.batterys ul li span{ color:#ececec; font-size:12px; font-weight:bold; float:left;}
.hardware_name{ display:block; overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis; width:50px; padding-left:5px; }
/*.batterys ul li .hardware_name{ width:75px;}*/

/*.gaugeShowTop{
	padding-left:45px;
}*/
.gaugeShow{
	margin-left:6px;
}
.main-resource{
	width:'100%';
	height:'100%';
	float:left;
}
.layoutpanelbg{
	position: relative;
}
.titles{
  position: absolute;
  width: 64px;
  text-align: right;
}
.titles:after{
  display: inline-block;
  content: '';
  width: 100%;
  height: 0;
}
.titles:before{
  position: absolute;
  left: 64px;
  content: '\FF1A';
}
.values{
  	padding-left: 76px;
  	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
.modelnavlist {
	background: #0B3873; 
	bottom: -1px;
	display: inline-block;
	zoom:1; 
	*display:inline; 
	height: 30px; 
	padding: 4px 10px 3px 4px; 
	position: relative;  
	z-index: 999; 
	top:-14px;
}
.model-linelist {
    background: #1c8bc4;
    display: inline-block;
    zoom: 1;
    height: 30px;
    position: relative;
    z-index: 999;
    top: 2px;
    padding: 0px 0px 0px 9px;
    border-radius: 3px;
}
.model-linelist a{ color:#fff; line-height:30px;}
.model-linelist:hover{ background: #00AFE5;}
.add-linecon {
    height: 160px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid #326fc0;
}
.add-linebg{padding:0 5px; cursor:pointer; }
.add-linebg:hover div{ color:#2074C7;}
.add-linebg.active div{ color:#2074C7;}
.oc-btn-bg{float: left; height: 19px;position: relative;top: 3px; left:3px; color:#fff; margin-bottom:8px;}
.oc-btn-bg .l-btn-left:hover,.oc-btn-sidebg:hover{ color:#a6dbf8 !important;}
.oc-btn-sidebg{color:#fff;display: block; float: left; height: 20px; left: 4px; position: relative; top: 4px; width: 20px; margin-bottom:18px;}
.oc-btnleft ,.oc-btnright{ cursor: pointer; display: block; height: 20px; width: 20px;position: relative;left: 4px;top: 2px;}
.oc-btn-bg span{ line-height:19px !important}

/*虚拟化存储器图标*/
.VMWareDatastore-ok{
	display: inline-block;
	padding-left: 25px;
	width: 20px;
	height: 20px;
	background: url(../images/icons/alerts-lights.png) 0 -274px no-repeat;
}
.VMWareDatastore-no{
	display: inline-block;
	padding-left: 25px;
	width: 20px;
	height: 20px;
	background: url(../images/icons/alerts-lights.png) 0 -242px no-repeat;
}
/*编辑属性弹出框*/
.panel-header.panel-header-noborder.window-header{
	border:none;
}

.Storage{ float:left; border:1px solid #2877c3;   height:155px; color:#444; font-size:12px; position:relative; margin:10px 2px;padding:1px;}
.Storage h6{ font-size:12px; font-weight:normal; position:absolute; top:0px; left:10px;color:#f6f6f7 }
.Storage  ul { overflow:hidden; /* background:#edf1fb; */ height:177px; margin:0px; padding: 0px;}
.Storage  ul li{ list-style:none; float:left; margin:25px 11px;}
.stroage_img{  width:55px; height:60px; margin-right:10px; margin-right:5px;}
.stroage_img,.stroage_txt{ float:left;}
.Storage  ul li p{margin-top:0px; margin-bottom:5px;color:#f6f6f7}
.Storage  ul li p span{ font-weight:bold; color:#b52e2e;}
.stroage_img01{ background-position:0px 0px;}
.stroage_img02{ background-position:0px -64px;}
.stroage_img03{ background-position:0px -128px;}
.stroage_img04{ background-position:0px -191px;}
.stroage_img05{ background-position:0px -255px;}
.stroage_img06{ background-position:0px -319px;}
.clear{ clear:left;}
.wid-Storage{ width: 792px;}
.gaugeShowTop{margin:0px 14px; }

/*视频网真监控*/
.video_class{ float:left;    margin: 16px 14px;}
.video_class p{ text-align:center; font-weight:bold;}

/* 阈值定义界面 */
/*严重*/
.test_nav_Major .serious{
	background:url(../images/res-spirit.png) 1px -401px no-repeat;
}
.test_nav_Minor .warning{background:url(../images/res-spirit.png) -42px -401px no-repeat;
}
.test_nav_Normal .normal{background:url(../images/res-spirit.png) -84px -401px no-repeat;}
.strategy_set_box{ float:left;border:1px solid #2877c3 !important;}
.strategy_alert_conment{ height:50px; line-height:60px;}
.strategy_padding{ padding:0px;}
.thresho_bk{ background:#0e3566;}
/*业务选择时间按钮*/
.biz-fr.ocv-selectTime{ background:#132237; color:#ffffff; padding:2px 8px; margin-top: 2px !important;
    background:#132237;
    color: #fff;
    font-size: 10px;
    padding: 0px 5px;
    border-radius: 5px;
    width: 80px;
    height: 22px;
    cursor: pointer;}
/*输出端口图标*/	
.OutPort{background: url(../images/res-spirit.png) no-repeat 0px -459px;}
/*错误界面提示信息*/
.error_page_notice span{    position: absolute;
    left: 50%;
    margin-left: -112px;
    line-height: 455px;
    font-size: 24px;}
.error_page_notice span img{    vertical-align: -18px;}
/*视频监控没有省略号的样式*/
.generalShowName{text-overflow: ellipsis; white-space: nowrap; width:90px !important;float: left;overflow: hidden; }
