@charset "UTF-8";

li.tpbar.textbox{
	top: 2px;
}
.topo_tip table tr:nth-child(even) {
    background-color: #074c88;
}
.topo_tip table tr:nth-child(odd) {
    background-color: #1470cc;;
}
.topo_tip table tr {
    height: 30px;
}
.topo_tip .link{
	background: #0b3873;
}
.topo_tip table tr>td {
    padding-right: 2px;
    padding-left: 2px;
    width: 208px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
		line-height:30px;
}
.topo_tip table tr>td>span {
    color: #ccc;
    padding-left: 5px;
}

.toolbar-bg .oc-list-inline li {
    float: left;
    cursor: pointer;
    outline: none;
}
#topo, .topo-content, #oc_backboard_index {
    height: 100%;
    overflow:hidden;
}
.topo_frame_center {
    border-bottom: none;
    border-opacity: 0.5;
    top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}
.topo_frame_center {
	height:100%;
    /*background: url(../images/TopologicalGraph.png) no-repeat center bottom #115d9e !important;*/
}
/*业务增加的工具条部分结束*/
.raphael-toolbar .splitline{background:url(../images/topo/splitline.png) no-repeat;	width: 2px;	height: 30px;margin: 0px 5px;position: relative;top: -7px;}
.linetype{background:url(../images/topo/linetype.png) no-repeat;height: 20px;}
.lineweight{background:url(../images/topo/lineweight.png) no-repeat;height: 20px;}
.lt1,.lw1,.as1{background-position: 0 -0px;}
.lt2,.lw2,.as2{background-position: 0 -20px;}
.lt3,.lw3,.as3{background-position: 0 -40px;}
.lt4,.lw4,.as4{background-position: 0 -60px;}
#insertBg,#insertBg2,#insertBg3{background: #0D3E80;height: 22px;width: 108px;	padding-left:6px;z-index: 9;	position: relative;	top: -27px; }
#insertBg1{background: #0D3E80;height: 22px;width: 33px;padding-left:6px;z-index: 9;position: relative;top: -27px;  }
.shapeBg{background:url(../images/topo/shape.png) no-repeat;width: 16px;height: 20px;}
.sh1{background-position:0 0;}
.sh2{background-position:0 -20px;}
.sh3{background-position:0 -40px;}
.sh4{background-position:0 -60px;}
.sh5{background-position:0 -80px;}
.sh6{background-position:0 -100px;}
.topo_toolbar .combo .textbox-icon-disabled:hover {
  cursor: pointer;
  opacity: 1;
}
/*拾色器*/
.color_picker {
	position:absolute;
	width:180px;background-color:white;background-color:white;
	color:black;
	z-index:99999;
}
.color_picker table tr td {
	width:18px;height:18px;border:solid #E2E4E7 1px;
}
.color_picker table tr.body td:hover {
	border:solid grey 1px;
}
.color_picker table .separate td{
	height:8px;
	border:none;
}
.color_picker table .text-box td{
	font-size:12px;
	height:20px;
	line-height:20px;
	border:none;
	background-color:#EEEEEE;
	padding-left:2px;
}
.color_picker .function_area{
	height:16px;
	font-size:12px;
	line-height:16px;
	position:relative;
	margin-top:2px;
}
.color_picker .function_area div{
	width:12px;height:14px;display:inline-block;
}
.color_picker .function_area div.no_color{
	background-color:white;
	width:18px;height:18px;
	border:solid #E2E4E7 1px;
	position:absolute;
	left:0px;
}
.color_picker .function_area div.no_color:hover{
	border:solid grey 1px;
}
.color_picker .function_area div.opacity_rate{
	width:80px;
	position:absolute;
	left:60px;
}
.color_picker .function_area .no_color_text{
	width:36px;
	position:absolute;
	left:18px;
}

.color_picker .function_area .opacity_text{
	width:36px;
	position:absolute;
	left:142px;
}
.color_picker .function_area .textbox {
	margin:0;
}
/****************拓扑操作start************************/
#topo_nav_menu {
    position: relative;
    height: 51px;
    bottom: 80px;
    overflow: hidden;
    left: 0px;
}
#topo_nav_menu .topo_nav_menu_frame {
    position: relative;
}
#topo_nav_menu div[data-field='expandBtn'] {
    width: 55px;
    height: 51px;
    color: orange;
    cursor: pointer;
    display: inline-block;
    background: url(../images/comm/table/topn-r-leght.png) no-repeat;
    position: absolute;
    left: 0;
    z-index: 1;
}
#topo_nav_menu .content-box {
    display: inline-block;
    height: 50px;
    position: absolute;
    left: 35px;
    margin-top: 5px;
}
#topo_nav_menu .content-box .menu-box {
    background: url(../images/comm/table/chaozuo-ico-open.png) repeat-x;
    float: left;
    overflow: hidden;
    margin-left:20px;
}
/*一览表，面板管理，全局设置，回收站，拓扑权限设置，拓扑发现配置，数据维护*/
/*拓扑系统导航*/

#topo_nav_menu .content-box .menu-box .topo_nav_menu_item {
	display: inline-block;
	cursor: pointer;
	color: #C0D9EF;
	text-align: center;
	width: 90px;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	overflow: hidden;
	background: url(../images/comm/table/line-top.png) right no-repeat;
	height: 40px;
	padding: 10px 0;
}

#topo_nav_menu .content-box .menu-box .topo_nav_menu_item:hover {
	background: url(../images/comm/table/topu-hover.png) no-repeat;
	color: #fff;
}

#topo_nav_menu .content-box .menu-box .active {
	background: url(../images/comm/table/topu-hover.png) no-repeat;
	color: #fff;
}

#topo_nav_menu .content-box div[data-field='shrinkBtn'] {
	width: 32px;
	height: 40px;
	position: absolute;
	display: inline-block;
	cursor: pointer;
}

#topo_nav_menu .content-box div[data-field='shrinkBtn'].shrinkState {
	background: url(../images/comm/table/right-r.png);
}

#topo_nav_menu .content-box div[data-field='shrinkBtn'].expandState {
	background: url(../images/comm/table/right-l.png);
}
/****************拓扑操作end************************/
/*底部搜索start*/
.topo_frame_bottom {
    background-position: 0 -60px;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 4px;
    color: #444;
}
.topo_frame {
    background-image: url(../images/comm/window/w-full-top.png);
    position: absolute;
}
.topo_frame_bottom div:nth-child(2){
	position:absolute;
}
/*底部搜索end*/

/*****************拓扑操控start**********************/
#topo_sizer_bar {
    width: 88px;
    height: 80px;
}
#topo_sizer_bar .direction_box {
    width: 88px;
    height: 84px;
    position: relative;
}
#topo_sizer_bar .direction_box>div {
    position: absolute;
    cursor: pointer;
}
/* 左 */
#topo_sizer_bar .direction_box>div.left {
    width: 24px;
    height: 52px;
    background: url(../images/topo/shink/white-left.png) no-repeat;
    left: 7px;
    top: 12px;
}
/* 上 */
#topo_sizer_bar .direction_box>div.top {
    width: 52px;
    height: 22px;
    background: url(../images/topo/shink/white-up.png) no-repeat;
    left: 19px;
    top: 2px;
}
/* 右 */
#topo_sizer_bar .direction_box>div.right {
    width: 24px;
    height: 52px;
    background: url(../images/topo/shink/white-right.png) no-repeat;
    left: 59px;
    top: 12px;
}
/* 下 */
#topo_sizer_bar .direction_box>div.bottom {
    width: 52px;
    height: 22px;
    background: url(../images/topo/shink/white-down.png) no-repeat;
    left: 19px;
    top: 54px;
}
/* 中 */
#topo_sizer_bar .direction_box>div.center {
    width: 39px;
    height: 38px;
    background: url(../images/topo/shink/center.png) no-repeat;
    left: 25px;
    top: 20px;
}
/*调节比例*/
#topo_sizer_bar .bar_box {
    position: relative;
    height: 310px;
    width: 1px;
}
#topo_sizer_bar .bar_box>div.bar {
    width: 8px;
    height: 100%;
    margin-left: 40px;
    background-color: deepskyblue;
    opacity: 0.3;
    border-width: 1px;
    border-style: solid;
    border-color: #153e54 #94ccdb #9ad3e3 #1d526e;
}
/*加 */
#topo_sizer_bar .bar_box>div.bigger {
    background: url(../images/topo/shink/zoom.png) no-repeat;
    width: 19px;
    height: 18px;
    top: 0;
    left: 34px;
    cursor: pointer;
}
/*减*/
#topo_sizer_bar .bar_box>div.smaller {
    background: url(../images/topo/shink/narrow.png) no-repeat;
    width: 19px;
    height: 18px;
    bottom: -2px;
    left: 34px;
    cursor: pointer;
}
#topo_sizer_bar .bar_box>div {
    position: absolute;
}
/*滑块*/
#topo_sizer_bar .bar_box>div.scaler {
    background: url(../images/topo/shink/Scale.png) no-repeat;
    width: 21px;
    height: 11px;
    left: 44px;
    top: 13px;
    cursor: move;
}
/*显示百分比*/
#topo_sizer_bar .bar_box>div.tip {
    width: 34px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    top: 10px;
    left: 4px;
    text-align: center;
}

/*****************拓扑操控end**********************/
 /****************拓扑头部工具start*******************/
 .topo_toolbar{
 	position:absolute;
 }
 /*工具框背景*/
 .topo_toolbar .toolbar-bg {
    width: 740px;
    height: 37px;
    background: url(../images/topo/toolbar_bg2.png) no-repeat scroll;
    background-size: 100% 100%;
    padding-top: 9px;
}
.topo_toolbar .oc-list-inline {
    position: relative;
    padding-left: 36px;
}
.topo_toolbar li {
    margin: 0 2px;
}
.topo_toolbar .tpbar {
    width: 16px;
    height: 16px;
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    position: relative;
    top: 2px;
}
/*文本框*/
.topo_toolbar .textbox {
	top: -2px;
    height: 23px !important;
    background-position: -32px 0 !important;
    margin:0px 6px;
}
/*删除*/
.topo_toolbar .delete {
    background-position: -128px 0 !important;
}
/*发现结果*/
.topo_toolbar .findResult {
    background-position: -246px 0 !important;
}
/*保存*/
.topo_toolbar .save {
    background-position: -112px 0 !important;
}
/*拖动图标*/
.topo_toolbar .drag_area {
    width: 30px;
    height: 30px;
    background: url(../images/topo/drag.png);
    position: absolute;
    top: -5px;
    left: 4px;
}
 
/*字体颜色*/
.topo_toolbar .oc-list-inline .topofontcolor {
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    background-position: -47px 0;
    width: 18px;
    height: 16px;
}
/*边框色*/
.topo_toolbar .oc-list-inline .bordercolor {
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    background-position: -268px 0;
    width: 16px;
    height: 16px;
}
/*填充色*/
.topo_toolbar .oc-list-inline .fillcolor {
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    background-position: -80px 0;
    width: 16px;
    height: 16px;
}
/*刷新*/
.topo_toolbar .oc-list-inline .refresh {
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    background-position: -97px 0;
    width: 16px;
    height: 16px;
    margin-top: 2px;
}
/*全屏*/
.topo_toolbar .oc-list-inline .choose {
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    background-position: -176px 0;
    width: 16px;
    height: 16px;
}
.topo_full_screen_btn{
	position: absolute;
	top: 5px;
	right: 10px;
	padding: 5px;
	background: #174F99;
	color: #ccc;
	cursor: pointer;
}
.topo_full_screen_btn:hover{
	background: #0066CC;
	color: #fff;
}
/*连线*/
.topo_toolbar .oc-list-inline .link {
    background: url(../images/topo/bg_samll_tools.png) no-repeat;
    width: 16px;
    height: 20px;
    background-position: -227px 0;
}
 /****************拓扑头部工具end*******************/
 
 /**************右侧二层拓扑start***************/
 #tpnav {
    width: 220px;
	height:95%;
    position: absolute;
    top: 10px;
    z-index: 99;
}
.tp_tabs {
    width: 24px;
    height: 178px;
    float: left;
    position: absolute;
    right:220px;
    
}
#tpnav .topo_hook {
    height: 82px;
    width: 24px;
    background: url(../images/topo/someicon.png) no-repeat 0px -82px;
    /*background-size: 100% 100%;*/
    cursor: pointer;
}
#tpnav .topo_hook_off {
    background: url(../images/topo/someicon.png) no-repeat 0px 0px;
    /*background-size: 100% 100%;*/
}
.topo_nav_tab {
    background: url(../images/topo/someicon.png) no-repeat 0px -164px;
    position: absolute;
    left: 0px;
    cursor: pointer;
    width: 24px;
    height: 105px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
}
.topo_nav_tab[data-panel-key='topo'] {
    /*top: 40px;*/
}
.topo_nav_tab[data-panel-key='resource'] {
    top: 180px;
}
#topo .tpnav_panels {
}
.tpnav_panels {
    float: left;
    width: 220px;
    height: 100%;
    background: #174f99;
}
/* 搜索框*/
.tpnav_search_box {
    margin: 8px 5px;
}
.tpnav_search_box {
    position: relative;
    padding-right: 4px;
    margin-top: 4px;
}
#tpnav .searchBtn {
    position: absolute;
    top: 2px;
    right: 4px;
}
/*发现页面*/
/*左边*/
#findResult .findDataMian {
    float: left;
    width: 100%;
}
#findResult .findData {
    margin-right: 310px;
    height: 380px;
    border: 1px solid #326FC0;
}
#findResult .findData-title, #findResult .findCount-title {
    height: 30px;
    padding: 5px;
    background: #326FC0;
}
#findResult .findData-title {
    min-width: 16px;
    text-indent: 15px;
    border: none !important;
}
#findResult .findData-body-line, #findResult .findCount-body-line span {
    text-indent: 5px;
}
#findResult .findData-body-line, #findResult .findCount-body-line {
    border-bottom: 1px solid #326FC0;
    line-height: 30px;
    padding: 0px 0px;
}
.findCount-body-line span:nth-child(1) {
    display: inline-block;
    width: 81px;
    background: #1d4170;
    text-align: right;
}
/*下按钮*/
#findResult .toolbar {
    padding-top: 4px;
    clear: both;
}
.toolbar {
    border-bottom: 1px solid #a0cbe5;
    background: #ccc;
    height: 40px;
}
#findResult .toolbar .right_box {
    float: right;
    height: 30px;
}
/*右边*/
#findResult .findCount {
    float: left;
    width: 300px;
    margin-left: -300px;
    height: 380px;
    border: 1px solid #326FC0;
	border-bottom:none;
}
/*资源面板*/
ul.topo_nav_resource_tabs {
    padding: 0px;
    margin: 0px;

    background:#0f3566;
    height: 33px;

}
ul.topo_nav_resource_tabs > li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 33px;
    line-height: 33px;
    float: left;
  
    color: #518bd1;
}
ul.topo_nav_resource_tabs > li[data-panel-key="net"] {
    width: 60px;
    height: 33px;
    line-height: 33px;
}
#tpnav .active {
    color: #FFF ; background:#174f99; height:33px; line-height:33px;
}
.tpnav_res_panels {
    position: absolute;
    top: 33px;
    width: 100%;
    bottom: 30px;
    overflow-y: auto;
}
#tpnav .icon {
	/*margin:4px 6px;*/ 
	margin-top: 7px;
	margin-left: 7px;
	display: inline-block; 
	width: 46px; 
	height: 46px; 
	padding: 3px; 
	text-align: center; 
	/*background:#1b5eb4; border:1px solid #164a90; box-shadow:0px 0px 1px #247ef3 inset;*/
}
#tpnav .icon img {
    width: 100%;
    height: 100%;
}
#tpnav .bgicon {
    margin: 2px 2px 2px 2px;
    width: 195px;
    border: solid 1px transparent;
}
#tpnav .bgicon img {
    width: 195px;
}
#tpnav .bgicon:hover {
    border-color: #789785;
    border-opacity: 1;
}
/*管理图标*/
.tpnav_manage_icon_box {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 2px;
    background:#4A8BDE;
    height: 33px;
    padding-top: 5px;
}
.tpnav_manage_icon_box > div:last-child {
    float: right;
    padding: 2px;
    margin-right: 14px;
}
 /**************右侧二层拓扑end***************/

/*一览表-链路*/

/*链路颜色*/
.topo-line {
	display: inline-block;
	width: 30px;
	height: 3px;
	margin: 0 4px;
}

.line-red {
	background-color: #FF7D03;
}

.line-yellow {
	background-color: yellow;
}

.line-green {
	background-color: green;
}

.line-disabled {
	background-color: grey;
	position: relative;
}

.line-disabled span {
	color: red;
	position: absolute;
	font-weight: bolder;
	display: inline-block;
	top: -2px;
	font-size: 16px;
	height: 12px;
	line-height: 10px;
	text-align: center;
	width: 30px;
}

.line-unmonitor {
	background-color: blue;
}

.line-nodata {
	background-color: grey;
}
/**拓扑链路*/
.if { /**正常*/
	background-image:
		url("../../../themes/default/images/topo/interfaceall.png");
	display: inline-block;
	width: 65px;
	height: 23px;
	padding-left: 26px;
	background-repeat: no-repeat;
	padding-top: 3px;
	margin-top: 6px;
	text-align: left;
}

.if-disable { /**严重（超负荷）*/
	background-position: 0px -23px;
}

.if-exceeding { /**致命（断开）*/
	background-position: 0px -48px;
}

.if-serious { /**警告（警戒负载）*/
	background-position: 0px -71px;
}

.if-nomonitoring { /**未监控*/
	background-position: 0px -111px;
	background-image:
		url(../images/comm/window/interface.png);
}

.if-unknown { /**未知*/
	background-position: 0px -118px;
}

#linkContainer{
	overflow:hidden;
}
.topo-link-tipps{
	background:none !important;
}
#linkContainer .datagrid-body{
	overflow-y:scroll !important;
}
#topo_edit_link td,#topo_edit_link th {
	padding:4px;
	vertical-align: middle;
 	border: 1px #326FC0 solid;/*编辑链路表格边框*/
}
/*链路告警设置*/
.link_Box .datagrid-view{
	height:330px !important;
}
.link_Box button{
	/* float:right; */
}
.link_Box.panel-body.panel-body-noborder.window-body.panel-noscroll>div{
	text-align:right;
}
.topo_alarm_tr_middle{
	vertical-align:text-bottom;
	margin-right:5px;
}
.topo_alarm_margin{margin-right:15px;}

.topo_link_alram_table td {
    border: 1px solid #326FC0;
}
#topo_edit_link .topo_edit_link_title{    margin: 15px 0px 5px 1px;}
#topo_edit_link .topo_edit_link_label {
	width:92px;/*编辑链路表格宽度*/
	text-align: right;
}
/*编辑链路*/
#topo_edit_link{height: 330px !important;}
.topo_edit_link_table{width:100%;}
/*链路告警*/
.topo-l-tittle{
	height:40px !important;
}
.topo_link_warn_type {
	width: 207px;
	height: 38px;
}
.topo_link_warn_type .active{ background: #4C9AFF;}
.topo_link_warn_type>div {
	width: 63px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    background: #1470cc;
}
.topo_mac_sendersDiv {    
	background: #1d4171;
    border-color: #152f51 #5585bd #5585bd #152f51;
    color: #fff;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
}
.topo-m{
	position:relative;
}
.topo-m button {
    position: absolute;
    left: 68%;
    top: 65px;
}
.topo-m button[data-field="delBtn"]{
	left:75%;
}
/*.rule_div{
	margin:5px 30px !important;
}*/
#enableBtn,input[data-field="sendConditionBtn"]{
	vertical-align: middle;
}
#link_warn_setting  .notice-ico,#topo_edit_link .notice-ico{
	padding:10px 0px;
}
/*面板管理*/
#topo_backboard .head td:nth-child(1){
	position: relative;
}
#topo_backboard .head td:nth-child(1) .ico{
	position: absolute;
	top: 5px;
	right: 5px;
}


/*IP-MAC-返回图标定位*/
#tabList{
	position:relative;
}
#ipmac_back{
	position:absolute;
	right:10px;
	top:5px;
	z-index:99;
}
/*input#warnPolicyCheckboxAll {
    position: relative;
    top: 3px;
}*/
/*拓扑全局设置*/
#topoSettingDia .fontColorContainer {
	position: relative;
}

#topoSettingDia .fontColorContainer .fontColorFg {
	position: absolute;
	width: 72px;
	height: 13px;
	top: 9px;
	left: 74px;
	background-color: red;
	z-index: 1;
}

#colorpanel {
	z-index: 1000000000000000000;
}

.table-pop td {
	padding: 4px;
	line-height: 20px;
    border: 1px solid #326fc0;
}
.table-pop>tbody>tr>td:nth-child(1) {
    background-color: rgba(52,111,192,.3);
}
#topoSettingDia .link-title {
    line-height: 20px;
    padding: 5px;
}
.ts-r-content {
    line-height: 20px;
    padding: 5px;
    border-bottom: 1px solid #326FC0;
}
.title_inline{
	vertical-align:middle;
	margin-right:5px;
}
.title_edit_position{
	position: relative;
	top: 8px;
	left: 430px;
}
.title_select_position{
	position: relative;
	top: 8px;
	left: 584px;
}
/*拓扑发现设置*/
#topo_find_setting {
	position: relative;
}

#topo_find_setting .topo_find_tab {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
}

.topo_find_setting_tab_icon{
	width: 80px;
    margin: 0 auto;
    height: 80px;
    overflow: hidden;
}
/*拓扑配置-全网发现*/
.wholeNet {
    background: url(../images/topo/topn-icon5.png) no-repeat;
    background-position:0px -78px;
}
.wholeNet.activetab{
	background-position:0px 0px;
}
/*拓扑配置-扩展发现*/
.extend{
    background: url(../images/topo/topn-icon5.png) no-repeat;
    background-position: -80px -78px;
}
.extend.activetab{
	background-position: -79px 0px;
}
/*拓扑配置-子网发现*/
.subnet{
    background: url(../images/topo/topn-icon5.png) no-repeat;
    background-position:  -155px -78px;
}
.subnet.activetab{
	background-position: -155px 0px;
}
/*拓扑配置-网段发现*/
.segment{
	background: url(../images/topo/topn-icon5.png) no-repeat;
	background-position: -235px -78px;
}
.segment.activetab{
	background-position: -235px 0px;
}
/*拓扑配置-发现配置*/
.topoSetting{
	background: url(../images/topo/topn-icon5.png) no-repeat;
	background-position: -310px -78px;
}
.topoSetting.activetab{
	background-position: -310px 0px;
}
#topo_find_setting .topo_find_menu {
	width: 115px;
	float: left;
	height: 100%;
	background-color: #d5e1f1;
}

#topo_find_setting .topo_find_panels {
	float: right;
	height: 100%;
	width: 788px;
}

#topo_find_setting .topo_find_panels>div {
	width: 100%;
	height: 100%;
	padding: 0px 5px 0px 0;
	overflow: auto;
}
div[data-panel="extend"]>div,
div[data-panel="subnet"]>div,
div[data-panel="segment"]>div,
div[data-panel="topoSetting"]>div{
	margin:10px 0px; /*对业务管理中的业务构建有影响*/
}
#topo_find_setting .other_field input{
	width: 40px;
    background: #1D4171;
    border: 1px solid;
    border-color: #152F51 #5585BD #5585BD #152F51;
    color: #fff;
    vertical-align: middle;
}
#topo_find_setting .topo_common_body{
	position: relative;
	height: 30px;
}
#topo_find_setting .topo_comm_info_box .title,#topo_find_setting .topo_comm_info_box .other_field {
   display: inline-block;
}
#topo_find_setting .topo_comm_info_box{
	position: relative;
	margin-bottom: 15px;
}
/*#topo_find_setting .topo_common_body div:nth-child(2){
	margin: 15px 0;
}*/
#topo_find_setting .topo_comm_info_box .ico-help{
	position: relative;
	top: 6px;
}
#topo_find_setting .topo_find_core_ips {
    height: 70px;
    border: solid 1px #326FC0;
    padding: 4px;
    overflow-y: auto;
}

#topo_find_setting .topo_find_core_ips .topo_find_checkbox {
	display: inline-block;
	margin: 4px;
}
#topo_find_setting .topo_find_tab li {
	text-align: center;
	cursor: pointer;
	height: 110px;
}
#topo_find_setting .topo_find_setting_tab_text {
	height: 25px;
    line-height: 25px;
    padding: 0px;
}
#topo_find_setting .topo_find_info_box {
	height: 32px;
	padding: 6px;
}

#topo_find_setting label.topo_find_checkbox {
	position: relative;
	padding-left: 16px;
}

#topo_find_setting label.topo_find_checkbox>input {
	position: absolute;
    left: -4px;
    top: 2px;
}
/*
#topo_find_setting .topo_find_info_color {
	
}*/
#topo_find_setting .validatebox-text{
    color: #fff;
    font-size: 12px;
    height: 28px;
    border-style: solid;
    border-width: 1px;
    background: #1d4171;
    border-color: #152f51 #5585bd #5585bd #152f51;
}

#topo_find_setting .topo_find_row {
	height: 25px;
	line-height: 25px;
}

#topo_find_setting .topo_find_item {
	display: inline-block;
	width: 255px;
}

#topo_find_setting .topo_find_label {
	display: inline-block;
	width: 120px;
	text-align: right;
}

#topo_find_setting .topo_find_input {
	display: inline-block;
	width: 130px;
	margin: 7px 0 0 0;
}
.topo_find_row input {
    width: 165px;
}
#standardContainer,#historyContainer,#macContainer{
	height: 100% !important;
}
/*拓扑发现配置添加弹出框*/
#findResult .time_take {
    position: absolute;
    top: 6px;
    right: 6px;
}
.topo_codiscovery{
  width: 600px;
  height: 198px;
  top: 345px;
  position: absolute;
  border: 1px solid rgb(94, 143, 199);
  border-radius: 4px;
  z-index: 1001; display:none;}
.topo_codiscovery_bor{
	width: 100%;
  height: 100%;
  /*border: solid #F5F9FD 1px;*/
  border-radius: 4px;
  background-color: #1f5598;
  }
.topo_codiscovery_headbg{
	background-color: #1d4170;
  color: #0871B5;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.topo_codiscovery_headbut{  
	/*background-color: #1d4170;*/
  color:#0871B5;
  height: 30px;
  line-height: 30px;
  position: relative;
  padding-left: 24px;
}
/*拓扑发现配置-全网发现*/
div[data-panel="wholeNet"]>div{
	margin:10px 0;
}
/*业务增加的工具条部分结束*/
.topo_toolbar .splitline{background:url(../images/topo/splitline.png) no-repeat;	width: 2px;	height: 30px;margin: 0px 5px;position: relative;top: -7px;}
.topo_toolbar .oc-list-inline .choose {
	background: url(../images/topo/bg_samll_tools.png) no-repeat;
	background-position: -176px 0;
	width: 16px;
	height: 16px;
}

.topo_toolbar .oc-list-inline .area {
	background: url(../images/topo/quyu.png) no-repeat;
	width: 16px;
	height: 16px;
}

.topo_toolbar .oc-list-inline .link {
	background: url(../images/topo/bg_samll_tools.png) no-repeat;
	width: 16px;
	height: 20px;
	background-position: -227px 0;
}

.topo_toolbar .oc-list-inline .refresh {
	background: url(../images/topo/bg_samll_tools.png) no-repeat;
	background-position: -97px 0;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.topo_toolbar .oc-list-inline .fillcolor {
	background: url(../images/topo/bg_samll_tools.png) no-repeat;
	background-position: -80px 0;
	width: 16px;
	height: 16px;
}

.topo_toolbar .oc-list-inline .topofontcolor {
	background: url(../images/topo/bg_samll_tools.png) no-repeat;
	background-position: -47px 0;
	width: 18px;
	height: 16px;
}
.topo_toolbar .findResult{background-position: -246px 0 !important;}

/********************拓扑-面板管理start*******************/
#topo_backboard {
    width: 100%;
    height: 100%;
    position: relative;
}
#topo_backboard .ico-back {
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 2;
}
.tpnav_topo_panel{
	height:100%;
}
.tpnav_topo_accord{
	height:489px;
}
#topo_backboard .panel-body{
	padding: 0px;
}
.topo-content{
	position: relative;
}
/*对齐方式*/
.l-aling{
	display: inline-block;
    vertical-align: top;
}
.div-backboardTool {
    background: url(../images/comm/window/back-top.png) repeat;
    border: 1px solid #5fb2dc;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
}
.list-inline {
    padding: 0px;
    display: inline-block;
    margin-top: -5px;
}
.list-inline li {
    list-style: none;
	display:inline-block;
    cursor: pointer;
}
.backboard-align li {
    background: url(../images/topo/bbalign.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.backboard-align .align-top {
    background-position: 0 0;
}
.backboard-align .align-middle {
    background-position: -16px 0;
}
.align-bottom {
    background-position: -440px -5px;
}
.backboard-align .align-bottom {
    background-position: -32px 0;
}
.backboard-align .align-left {
    background-position: -48px 0;
}
.backboard-align .align-right {
    background-position: -64px 0;
}
.backboard-align .align-center {
    background-position: -80px 0;
}
.backboard-align .align-hordistribute {
    background-position: -96px 0;
}
.backboard-align .align-verdistribute {
    background-position: -112px 0;
}
.backboar-tool li {
    background: url(../images/topo/bbalign.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: 0px 5px;
}
.backboar-tool .lock {
    background-position: -176px 0;
}
.backboar-tool .save {
    background-position: -160px 0;
}
.backboar-tool .delete {
    background-position: -144px 0;
}
.backboar-tool .splitline {
    background: url(../images/topo/splitline.png) no-repeat;
    width: 2px;
    height: 30px;
    margin: 0px 5px;
    position: relative;
}
.backboar-tool .unlock {
    background-position: -192px 0;
}
.backboar-tool .choose {
    background-position: -208px 0;
}
.backboar-tool .rotation {
    background-position: -224px 0;
}
.backboar-tool-group{
	position: relative;
    top: -7px;
    display: inline-block;
}
/*面板控制工具*/
.topo-content .drawTools{
	position: absolute;
    top: 75px;
    right: 3px!important;
    width: 200px;
    height: 87%;
    background: #3673ba;
    border: 1px solid #5fb2dc;
}
.sh-btn.on {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    color: #FFF;
}
.oc-draw-container > div {
    height: 416px;
    display: none;
    overflow-y: auto;
}
#topo_backboard .tab {
    padding: 0px;
    margin: 0px;
    background: #6BB3E0;
}
#topo_backboard .tab > li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 46px;
    padding-top: 6px;
    height: 30px;
    color: #dee8ee;
}
#topo_backboard .tab > li.active {
	background: #408CD3;
    color: #FFF;
}
#topo_backboard .tab > li:hover {
	background: #408CD3;
}
.backboard-logo .list-inline{
	margin-top: 10px;
}
div[data-field="saveDia"] ol{
	margin-top: 5px;
    margin-left: 23px;
}
.oc-draw-container li img {
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    padding: 5px;
}
#topo_backboard .subnav-window table .head td {
	vertical-align: middle;
	position: relative;
}
.drawTool-right-top{
	position: absolute;
    top: 78px;
    right: 10px;
    width: 35px;
    height: 38px;
    background: url(../images/topo/sub-beiban.png) 0 -38px no-repeat;
    cursor: pointer;
}



#topo_backboard .subnav-window {
	width: 200px !important;
	overflow: hidden;
}

#topo_backboard .subnav-window table {
	width: 100%;
	height: 100%;
}
#topo_backboard .tab > li {
	display: inline-block; 
	text-align: center; 
	cursor: pointer; 
	width: 46px;
	padding-top:6px;
	height:30px;
	color:#dee8ee;
}
#topo_backboard .tab > li.active {
	background:url(../images/comm/window/l-wbtn.png) no-repeat scroll 0 0;color:#FFF;}
#topo_backboard .subnav-window table .head {
	height: 30px;
}
#topo_backboard li.icon img {
	/**width:150px;*/
}

#topo_backboard .subnav-window .ico-search {
	position: absolute;
	top: 6px;
	right: 2px;
}
#topo_add_net_device .isfind {
	padding-left:24px;
}
.topo_replaceicon_title {
	height:30px;
	line-height:30px;
	color:#fff;
	background-color:#00afe5;
	padding-left:4px;
}
.topo_replaceicon_icon {
	border:solid #99BBE8 1px;
	padding:5px;
	height:149px;
	overflow-y:auto;
}
.topo_replaceicon_icon img {
	width:32px;height:32px;
	margin:4px;
	cursor:pointer;
}
.topo_replaceicon_icon legend{
	margin-left:10px;
}
.topo_replaceicon_default-icon {
	margin-top:4px;
	width:80px;height:80px;
	text-align:center;
	padding:10px;
	border:solid #99BBE8 1px;
	border-radius:4px;
	border-shadow:lightgrey;
	display:inline-block;
	margin-bottom:6px;
}
.topo_replaceicon_default-icon img{
	width:50px;height:50px;
}
/*设置常用链接*/
.topo_common_link .title_table {
    width: 100%;
}
.topo_common_link .title_table .btn_box{
	width: 50px;
}
/*IP-MAC*/
#topo_warn_users_container{
	height: 100% !important;
}
/*地图*/
.topo_map_flow_list {
    width: 275px;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    background-color: #1668B1;
}
.topo_map_flow_list .box {
    position: relative;
    width: 100%;
    height: 100%;
}
.topo_map_flow_list .title_box div.hover {
    background-color: #60B1E8;
}
.topo_map_flow_list .title_box div {
    background-color: #135997;
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.topo_map_flow_list .panel {
    clear: both;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    padding: 2px;
}
.topo_map_flow_list .panel table {
    width: 100%;
	white-space: nowrap;
}
.topo_map_flow_list .panel table tr {
    color: white;
    height: 44px;
    line-height: 44px;
}
.topo_map_flow_list table td {
    /*padding: 1px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.topo_map_flow_list .panel table .flow_ico div {
    width: 25px;
    height: 25px;
    background-color: #0099FF;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    line-height: 25px;
}
.topo_map_flow_list .srcName {
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
}
.topo_map_flow_list .desName {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
}
.topo_map_flow_list .panel table .flow_amount {
    width: 60px;
}
.topo_map_flow_list .flow_amount {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.topo_map_flow_list .available_box {
    border-bottom: dashed 1px #75B5EE;
    line-height: 25px;
    padding-left: 40px;
    position: relative;
    color: white;
}
#back-china:hover {
    background: url(../images/topo/icon-back-hover.png) 0 0 no-repeat;
}
#back-china {
    display: none;
    position: absolute;
    bottom: 205px;
    left: 900px;
    width: 66px;
    height: 66px;
    background: url(../images/topo/icon-back.png) 0 0 no-repeat;
    cursor: pointer;
}
.topo_map_flow_list .green {
    background-color: green;
}
.topo_map_flow_list .red {
    background-color: red;
}
.topo_map_flow_list .flow_flag {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.topo_map_level_info {
    position: absolute;
    width: 160px;
    right: 0px;
    bottom: 60px;
    color: white;
}
.topo_map_level_info .title_box {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #135997;
}
.topo_map_level_info .content_box {
   /*  padding-left: 25px; */
    height: 40px;
    line-height: 40px;
    background-color: #1668B1;
    text-align:center;
}
.topo_map_level_info .available {
    font-size: 20px;
    color: #46C31D;
    font-weight: bold;
}
.topo_map_level_info .amount {
    font-size: 20px;
    font-weight: bold;
}
#topo .tpnav_panels .panel{
	display: none;
}
#topo .tpnav_nav_box {
	height: 90%;
	overflow: hidden;
}
/*新建子拓扑*/
#topo_create_subtopo .pickgrid {
    height: 328px;
}
#topo_create_subtopo .oc-pickList {
    overflow: hidden;
}
.ipsearch{position: relative;}
.ipsearch .ico-search{
	position: absolute;
	top: 0;
	right: 0;
}
.namebox{
	margin: 10px 0;
}


/**/
#tabList .oc-panelbg .oc-info-panel{
    border-bottom: 1px solid #132c4d;
}
#tabList .oc-panelbg .oc-info-panel .form-group label{
	width: 100px;
}

#tabList .info-middle-m{
	background: #174F99;
}

/*转为链路*/
#topo_add_link .box {
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
}
#topo_add_link .ipbox {
    height: 30px;
}
#topo_add_link .ip {
    height: 30px;
    width: 320px;
    line-height: 30px;
    padding-left: 4px;
    display: inline-block;
    margin-bottom: 10px;
}
#topo_add_link .ipleft {
    float: left;
}
#topo_add_link .ipright {
    float: right;
}
#topo_add_link .srcgrid {
    width: 320px;
    height: 262px;
    float: left;
}
#topo_add_link .desgrid {
    width: 320px;
    float: right;
    height: 262px;
}
#topo_add_link .chosebox {
    height: 30px;
    line-height: 30px;
}
#topo_add_link .src_chosed {
    width: 320px;
    height: 30px;
    float: left;
    overflow: hidden;
    padding-left: 4px;
}
.ipbox .l-btn{
	vertical-align: top !important;
}
/*关联资源实例*/
.topo_relate_instance .info_box {
    height: 30px;
    line-height: 30px;
    padding-left: 2px;
}
.topo_relate_instance .search_box {
    padding-left: 2px;
    height: 30px;
    line-height: 30px;
}
.topo_relate_instance .gridbox {
    height: 344px;
}
.topo_relate_instance .ico-help{
	position: relative;
	top: 7px;
}
.topo_relate_instance .searchb{
	position: relative;
}
.topo_relate_instance .searchb .ico-search{
	position: absolute;
	top: 0px;
	right: 0px;
}
.topo_relate_instance .searchb .ico-search{
	margin-left: 5px;
}
/*点击设备显示*/
#topo_dashboard {
    position: absolute;
    padding-top: 15px;
    width: 199px;
    height: 104px;
    right: 220px;
    top: 2px;
    background: rgba(0,102,204,.4);
    border: 1px solid #0066cc;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #32608e inset;
}
#topo_dashboard .viewbox {
    height: 52px;
    padding: 4px;
    line-height: 25px;
}
.topo_common_link .title_box td {
    padding: 8px 0;
}
/*拓扑发现后台运行*/
.topo_status_bar {
    float: right;
    text-align: right;
}
.topo_status_bar span {
    display: inline-block;
    padding-left: 18px;
    background: url(../images/comm/table/loading.gif) 0px 1px no-repeat;
    cursor: pointer;
    color: #fff;
}
.topo_status_bar span:hover{
	background: #051B33;
}

/*ip-mac-port 基准表---导入设备基准信息*/
.topo-excelForm>a#download{
	padding: 4px 8px;
	background: #1369BF;
	color: #C0D9EF;
	cursor: pointer;
	margin-left: 20px;
}
/*拓扑管理-拓扑树边框*/
.tree-node.droppable {
    padding-top: 4px;
    border-bottom: 1px solid #4c9aff;
}
div.panel-body[data-field=threelevel] div.tree-node{
	padding-top:4px;
	border-bottom:1px solid #4c9aff;
}
div.panel-body[data-field=roomView] div.tree-node{
	padding-top:4px;
	border-bottom:1px solid #4c9aff;
}
.tree-border{
	padding-top: 4px;
    border-bottom: 1px solid #4c9aff;
}


/*#topo_find_setting .topo_find_tab li .wholeNet.activetab {
    background-position: 0 0;
}
#topo_find_setting .topo_find_tab li .wholeNet {
    background-position: 0 -80px;
}
#topo_find_setting .topo_find_setting_tab_icon {
    width: 78px;
    height: 80px;
    display: inline-block;
    background-image: url(../images/topo/topn-icon5.png);
    position: relative;
    z-index: 999;
}*/
/*发现配置页面*/
#topo_find_setting .topo_find_panels div[data-panel="topoSetting"] .table-dataRemind{
	top: 32px;
}
#topo_find_setting div[data-panel="topoSetting"] .snmpv .table-dataRemind{
	top: 64px;
}
.topo_cabinet_device_list .box .ico{
	float: none !important;    
	position: relative;
    top: 5px; 
}
/*拓扑-地图-下级资源*/
.topo-nextch .oc-pickList .pickList-left-width,.topo-nextch .oc-pickList .pickList-right-width{
	height: 260px;
	border: 1px solid #326FC0;
}
.topo-nextch{
	margin-top: 10px;
}
/*双击操作设置*/
#topo_node_dblclick_setting{
	padding: 5px 0 0 15px;
}
.DbClickSetTb{
	margin-top: 5px;
}
.DbClickSetTb td{
	padding: 5px 0;
}
/*拓扑图片属性页面*/
#topo_node_attr {
    padding: 0px 2px 0 4px;
}
/*接口操作*/
.topo_backboard_port_attr table{ margin-left:65px;}
.topo_backboard_port_attr table td { padding:3px 5px;}
.topo_backboard_port_attr table td input[type="text"]{  width:135px !important;}
/*添加机柜界面*/
.ipt_box{ padding:5px;}
.ipt_box label{ margin-right:5px;}
.ipt_box label input{ margin-left:3px;}
.huic{ float:none !important; vertical-align:-6px;}

/*选中高亮*/
.icon_selected {
    border: 2px solid #49a1e3;
}

#tpnav .icon.icon_selected {
    width: 42px;
    height: 42px;
}