@charset "UTF-8";
/*topo权限设置*/
#oc_topo_auth_setting .tree-node {
	padding-left: 2em;
}
/*拓扑系统导航*/
#topo_nav_menu {
	position:absolute;
	height:51px;
	bottom:30px;
	left:0px;
	width:716px;
	.topo_nav_menu_frame {
		position:relative;
	}
	& div[data-field='expandBtn'] {
		width:48px;
		height:51px;
		color:orange;
		cursor:pointer;
		display:inline-block;
		background: url(../images/comm/table/topn-r-leght.png) no-repeat;
		position:absolute;
		left:0;
		z-index:1;
	}
	.content-box {
		display:inline-block;
		height:50px;
		position:absolute;
		left:24px;
		margin-top:5px;
		overflow:hidden;
		.menu-box {
			background:url(../images/comm/table/chaozuo-ico-open.png) repeat-x;
			float:left;
			.topo_nav_menu_item {
				display:inline-block;
				cursor: pointer; 
				color: #000;
				text-align: center; 
				width:90px; 
				white-space:nowrap; 
				text-overflow:ellipsis; 
				word-break:break-all; 
				overflow:hidden; 
				background:url(../images/comm/table/line-top.png) right no-repeat; 
				height:40px; 
				padding:10px 0;
				&:hover {
					background:url(../images/comm/table/topu-hover.png) no-repeat; color:#fff;
				}
			}
			.active {
				background:url(../images/comm/table/topu-hover.png) no-repeat; color:#fff;
			}
		}
		& div[data-field='shrinkBtn']{
			width: 34px; 
			height: 40px;
			float:left;
			display:inline-block;
			cursor: pointer;
			&.shrinkState {
				background: url(../images/comm/table/right-r.png);
			}
			&.expandState {
				background: url(../images/comm/table/right-l.png);
			}
		}
	}
}
/*背板管理接口属性对话框*/
#topo_backboard_port_attr {
	padding-left:10px;
	table {
		width:100%;height:100%;
		& label {
			margin-left:4px;
		}
	}
}
/*工具*/
.input_label_box {
	& input {
		position:relative;
		top:2px;
		left:1px;
	}
}
/*链路告警*/
.topo_link_warn_type {
	width:207px;
	height:38px;
	background-image:url("../images/comm/window/oc-open.png");
	& > div {
		width:69px;
		height:38px;
		display:inline-block;
		line-height:38px;
		text-align:center;
		background:url("../images/comm/window/oc-open.png");
		background-repeat:no-repeat;
		background-position-y:-100px;
		float:left;
		&[data-type='email']{
			background-position:-69px 0px;
		}
		&[data-type='alert']{
			background-position:-138px 0px;
		}
		&.active {
			background-position-y:-37px;
		}
		&:hover {
			cursor:pointer;
			background-position-y:-37px;
		}
	}
}
/*拓扑首页*/
#topo-index {
	position:relative;width:100%;height:100%;
	.topo_frame {
		background-image:url("themes/default/images/comm/window/w-full-top.png");
		position:absolute;
	}
	.topo_frame_bottom {
		background-position:0 -60px;
		height:30px;
		bottom:0px;
		left:0px;
		right:0px;
		padding-top:4px;
		color:#99C399;
	}
	.topo_frame_center {
		border:solid #141A15 4px;
		border-bottom:none;
		border-opacity:0.5;
		top:0px;
		position:absolute;
		left:0;
		right:0;
		bottom:30px;
	}
	.topo_graph_search_item {
		height:30px;
		line-height:30px;
		padding-left: 4px;
		border-bottom: solid 1px rgb(36, 37, 36);
		cursor:pointer;
		&:hover{
			background-color:#1F2121;
		}
	}
	#topo_holder {
		width:100%;height:100%;
	}
}
/*topo的菜单*/
.topo_menu_frame {
	background-image:url("");
	width:auto !important;
	border: solid 2px #000000; background-color: #0D1910; padding: 1px;
	.menu-item {
		padding:0;
		margin:0;
		width:auto !important;
		height:auto !important;
		background-color: #0B260D; 
		border-bottom: solid 1px #061A08; 
		&:last {
			border:none;
		}
		&:hover {
			background-color: #103613; color: orange; border-radius: 0px; 
		}
	}
	.menu-text {
		height:30px;
		line-height:30px;
		padding:0 8px;
		min-width:115px;
	}
}
/*添加组-设备管理对话框*/
#topo_device_manager_dia{
	.name_box {
		background-color:#434753;
		height:30px;
		width:100%;
		position:relative;
		input {
			position:absolute;
			top:4px;
			left:2px;
		}
		.info {
			background-color:#434753;
			padding:2px;
			border:none;
			height:30px;
			margin:0px;
			line-height:30px;
			position:relative;
			border-radius:0px;
			padding-left:22px;
			display:inline-block;
			float:right;
			& > span {
				position:absolute;
				top:8px;
				left:2px;
			}
		}
	}
	.search_box {
		padding-top:2px;
		padding-bottom:2px;
		clear:both;
		position:relative;
		select {
			width:100px;
		}
		input {
			width:214px;
			padding:0px;
			margin:0px;
		}
		span.ico-search {
			position:absolute;
			top:5px;
			left:302px;
		}
	}
}
/*拓扑全局设置*/
#topoSettingDia{
	.fontColorContainer {
		position:relative;
		.fontColorFg{
			position: absolute;
			width: 72px;
			height: 13px;
			top: 9px;
			left: 74px;
			background-color: red;
			z-index: 1;
		}
	}
}
#colorpanel {
	z-index:1000000000000000000;
}
/*编辑链路*/
#topo_edit_link {
	padding:2px;background-color:#343845;
	.topo_edit_link_title {
		height:30px;
		line-height:30px;
		background-color:#252835;
		padding-left:5px;
		color:white;
	}
	.topo_edit_link_table {
		border:solid 1px #2C3140;
		width:100%;
	}
	.topo_edit_link_table tr {
		height:30px;
		background-color:#2A2E3C;
	}
	.topo_edit_link_table td,th {
		padding:0 4px 0 4px;
		vertical-align: middle;
		border:solid 1px #343845;
	}
	.topo_edit_link_label {
		width:95px;
		text-align:right;
	}
	.topo_edit_indicator {
		position:absolute;
		right:0px;
	}
}
/*链路颜色*/
.line {
	display:inline-block;
	width:30px;
	height:3px;
	margin:0 4px;
}
.line-red {
	background-color:red;
}
.line-yellow {
	background-color:yellow;
}
.line-green {
	background-color:green;
}
.line-disabled {
	background-color:grey;
	position:relative;
	span {
		color: red;
		position: absolute;
		font-weight: bolder;
		display: inline-block;
		top: -2px;
		font-size: 16px;
		height: 12px;
		line-height: 10px;
		text-align: center;
		width: 30px;
	}
}
.line-unmonitor {
	background-color:blue;
}
.line-nodata {
	background-color:grey;
}
/*拓扑发现设置*/
#topo_find_setting{
	position:relative;
	.topo_find_tab {
		margin:0;
		padding:0;
		height:100%;
	}
	.topo_find_menu {
		width:115px;float:left;height:100%;background-color:#272A37;
	}
	.topo_find_panels {
		float:right;height:100%;width:620px;
		& > div {
			width:100%;height:100%;
			padding:10px 5px 10px 0;
		}
	}
	.topo_find_core_ips {
		background-color:#525768;height:70px;border:solid 1px #212430;padding:4px;overflow-y:auto;
		.topo_find_checkbox {
			display:inline-block;margin:4px;
		}
	}
	.topo_find_tab li {
		width:100%;
		height:20%;
		text-align:center;
		padding:4px;
		cursor:pointer;
		.wholeNet{
			background-position-x:0px;
		}
		.extend{
			background-position-x:-78px;
		}
		.subnet{
			background-position-x:-156px;
		}
		.segment{
			background-position-x:234px;
		}
		.topoSetting{
			background-position-x:-312px;
		}
	}
	.topo_find_setting_tab_icon {
		width:78px;
		height:80px;
		display:inline-block;
		background-image:url("../images/topo/topn-icon5.png");
		background-position-y:-80px; 
	}
	.topo_find_setting_tab_icon:hover {
		background-position-y:0px; 
	}
	.topo_find_setting_tab_icon_active {
		background-position-y:0px; 
	}
	.topo_find_setting_tab_text {
		height:25px;
		line-height:25px;
	}
	.topo_find_info_box {
		height:30px;
		background-color:#434753;
		padding:6px;
		
	}
	label.topo_find_checkbox {
		position:relative;
		padding-left:16px;
	}
	label.topo_find_checkbox >input {
		position:absolute;
		left:0px;
		top:0px;
	}
	.topo_find_info_color {
		color:#B48737;
	}
	.topo_find_row {
		height:25px;
		line-height:25px;
	}
	.topo_find_item {
		display:inline-block;
		width:255px;
	}
	.topo_find_label {
		display:inline-block;
		width:120px;
		text-align:right;
	}
	.topo_find_input {
		display:inline-block;
		width:130px;
	}
	.topo_info_box {
		background-color:#434753;color:#B48737;height:30px;line-height:30px;position:relative;padding-left:24px;
		.ico {
			position:absolute;left:2px;top:6px;
		}
	}
	.topo_common_body {
		clear:both;margin-top:4px;
	}
}
/*拓扑工具栏*/
.raphael-toolbar {
	.toolbar-bg {
		width:764px;
	}
	.oc-list-inline {
		.choose {
			background: url(../images/topo/bg_samll_tools.png) no-repeat;
			background-position-x:-176px;
			width: 16px;
			height: 16px;
		}
		.link {
			background: url(../images/topo/bg_samll_tools.png) no-repeat;
			width: 16px;
			height: 20px;
			background-position-x:-227px;
		}
		.refresh {
			background: url(../images/topo/bg_samll_tools.png) no-repeat;
			background-position-x:-97px;
			width: 16px;
			height: 16px;
			margin-top:2px;
		}
		.fillcolor {
			background: url(../images/topo/bg_samll_tools.png) no-repeat;
			background-position-x:-80px;
			width: 16px;
			height: 16px;
		}
		.fontcolor {
			background: url(../images/topo/bg_samll_tools.png) no-repeat;
			background-position-x:-47px;
			width: 18px;
			height: 16px;
		}
	}
}
/*仪表盘*/
#topo_dashboard {
	position:absolute;
	width:199px;height:104px;
	right:220px;top:2px;
	background: url(../images/topo/topo_dashboard.png) no-repeat;
	.handler {
		height:18px;
		cursor:move;
	}
	.viewbox {
		height:52px;
		color:#B7CEDC;
		padding:4px;
		line-height:25px;
		label {
			display:inline-block;
			width:54px;
			text-align:right;
		}
		span {
			color:orange;
		}
	}
}
/*拓扑导航菜单-资源面板*/
#tpnav {
	.bgicon {
		margin: 2px 2px 2px 2px;
		width: 195px;
		border:solid 1px transparent;
		&:hover {
			border-color:#789785;
			border-opacity:1;
		}
		img {
			width: 194px;
			height:100px;
		}
	}
}
/*拓扑图holder*/
#topo_holder {
	background-size:100% 100%;
	background-repeat:no-repeat;
}
/*链路详细信息*/
#topo_link_info {
	.info-box {
		height:30px;
		line-height:30px;
		background-color:#434753;
		position:relative;
		padding-left:24px;
		span.ico {
			position:absolute;
			top:8px;
			left:4px;
		}
	}
}
/*拓扑双击设置*/
#topo_node_dblclick_setting {
	.header-box {
		background-color:#434753;
		height:30px;
		line-height:30px;
		position:relative;
		padding-left:24px;
		span.ico {
			position:absolute;
			top:8px;
			left:4px;
		}
	}
	table {
		width:100%;
		background-color:#343845;
		td {
			margin:1px;
			border:solid 1px #434753;
		}
	}
	.label-box {
		width:158px;
		height:30px;
		line-height:30px;
		position:relative;
		padding-left:22px;
		input {
			position:absolute;
			top:10px;
			left:4px;
		}
	}
}
#topo_sizer_bar {
	width:88px;
	height:80px;
	.direction_box {
		width:88px;
		height:84px;
		position:relative;
		&>div{
			position:absolute;
			cursor:pointer;
			&.left {
				width:24px;height:52px;background:url(../images/topo/shink/white-left.png) no-repeat;left:7px;top:12px;
				&:hover {
					background:url(../images/topo/shink/green-left.png) no-repeat;
				}
			}
			&.right {
				width:24px;height:52px;background:url(../images/topo/shink/white-right.png) no-repeat;left:59px;top:12px;
				&:hover {
					background:url(../images/topo/shink/green-right.png) no-repeat;
				}
			}
			&.top {
				width:52px;height:22px;background:url(../images/topo/shink/white-up.png) no-repeat;left:19px;top:2px;
				&:hover {
					background:url(../images/topo/shink/green-up.png) no-repeat;
				}
			}
			&.bottom {
				width:52px;height:22px;background:url(../images/topo/shink/white-down.png) no-repeat;left:19px;top:54px;
				&:hover {
					background:url(../images/topo/shink/green-down.png) no-repeat;
				}
			}
			&.center {
				width:39px;height:38px;background:url(../images/topo/shink/center.png) no-repeat;left:25px;top:20px;
			}
		}
	}
	.bar_box {
		position:relative;
		height:310px;
		width:1px;
		&>div{
			position:absolute;
			&.bar {
				width:8px;
				height:100%;
				margin-left:40px;
				background-color:green;
			}
			&.bigger {
				background:url(../images/topo/shink/zoom.png) no-repeat;
				width:19px;
				height:18px;
				top:0;
				left:34px;
				cursor:pointer;
			}
			&.smaller{
				background:url(../images/topo/shink/narrow.png) no-repeat;
				width:19px;
				height:18px;
				bottom:-2px;
				left:34px;
				cursor:pointer;
			}
			&.scaler{
				background:url(../images/topo/shink/Scale.png) no-repeat;
				width:21px;
				height:11px;
				left:44px;
				top:13px;
				cursor:move;
			}
			&.tip {
				width:34px;
				height:18px;
				line-height:18px;
				border-radius:2px;
				top:10px;
				left:4px;
				text-align:center;
			}
		}
	}
}