@charset "utf-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  /* -webkit-box-sizing: border-box; */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
}
.main-content:before, .main-content:after {
    content: " ";
    display: table;
}  
.main-container:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0;
}

.main-content:after {
  clear: both;
}
body {
  margin: 0;
  padding:0px;
}
 

.main-content {
  margin-left: 0;
  min-height: 100%;
  padding: 0;
}
/*顶部样式*/
/*隐藏btn按钮*/
.navbar-toggle {
    display: none;
  }
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar {
  /*background:#114483; */
  text-shadow: 0 1px 0 rgba(20, 49, 101, 0.5);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 45px;
}
.nav_logo{height:45px;}
/*.nav_logo a {
	display:block;
    background: url(images/nav_logo.png) no-repeat;
    width: 190px;
    height: 29px;
    margin-top: 8px;}/*logo*/
.navbar-menu .hold_right{ font-size:16px; float:left; padding: 14px 15px; border:0; border-left-width:1px; border-right-width:1px; border-style:solid; color:#96c7ff;border-color:#1756a5;}/*顶部菜单收缩图标*/
.navbar-nav {float: left; margin: 0;}
.navbar .navbar-nav > li {
    border-left: 1px solid #10407c;
    border-right: 1px solid #1756a5;
    border-width: 0 1px 0 0;
	float:left;
	height: 45px;
    line-height: 45px;
	
}
.navbar .navbar-nav > li > a {
	display:block;
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li.open > a {
  background-color:#366eaf ;
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:#114483;
}
/*右边用户名*/
.user_photo,.icon-skin {
    font-size: 18px;
     vertical-align: -3px;
}
.ace-nav{ margin-right:5px;}
.ace-nav li{ height:45px; line-height:45px;  }
.ace-nav > li > a {
  display: block;
  line-height: inherit;
  text-align: center;
  height: 100%;
  width: auto;
  min-width: 50px;
  padding: 0 8px;
  position:relative;
}
.ace-nav > li.light-blue > a {
    min-width: 146px;
}
.ace-nav > li.light-blue > a .ace-icon{color: #cae2fe;}
.ace-nav > li.light-blue > a:hover,
.ace-nav > li.light-blue > a:focus,
.ace-nav > li.open.light-blue > a {
  background-color: #103f78;
  color: #fff;

}
.ace-nav > li.light-blue > a:hover .ace-icon{color: #fff;}
/*.ace-nav > li {border-left: 1px solid #1756a5;}*/
.navbar .navbar-brand {
  color: #cae2fe;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}

.navbar-menu .hold_right{ color:#96c7ff;border-color:#1756a5;}
.navbar-menu .hold_right:hover{ color:#fff; cursor:pointer;}
.dropdown-menu {
  position: absolute;
  top: 45px;
  z-index: 1000;
  display: none;
  background-color:#103056;
  min-width: 146px;
}
.dropdown-menu li { padding:0px 20px; border-bottom:1px solid #002244;}
.dropdown-menu li:last-child{ border:0px;}
.dropdown-menu li:hover{ background: #1a57dc; cursor:pointer;}
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu.dropdown-close.dropdown-menu-right {
    right: auto;
}
.dropdown-menu.dropdown-close.dropdown-menu-right li{
	height: 36px;
	line-height: 36px;
}
.dropdown-menu.dropdown-caret:after {
  border-bottom: 6px solid #2b62a0;
  -moz-border-bottom-colors: #2b62a0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  right: 10px;
  position: absolute;
  top: -6px;
}/*三角形图标*/

/*菜单收起的时候样式*/
.no-skin .sidebar.menu-min .nav-list > li > a > .left-menu-text {

    background-color:#366eaf;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.1);
    border-color: #366eaf;
    border: 0px;
}
/* .sidebar.menu-min .nav-list > li:hover > .menu_arrow,
.sidebar.menu-min .nav-list > li.hover-show > .menu_arrow {
  display: block;
}
.sidebar.menu-min .nav-list > li:hover > a > .left-menu-text,
.sidebar.menu-min .nav-list > li.hover-show > a > .left-menu-text {
  display: block;
}
.sidebar.menu-min .nav-list > li:hover > .submenu,
.sidebar.menu-min .nav-list > li.hover-show > .submenu {
  display: block !important;
} */
.sidebar.menu-min .nav-list > li > .submenu {
  position: fixed;
  z-index: 1026;
  left: 35px;
  top: -2px;
  margin-top: 39px;
  /*padding-bottom: 2px;*/
  width: 176px;
  display: none;
}
.no-skin .sidebar.menu-min .nav-list > li:hover > a > .left-menu-text:before{ width:5px; height:8px; background:red;}
/* .no-skin .sidebar.menu-min .nav-list > li > .submenu {
    background-color:#366eaf;
    border: 1px solid #366eaf;
    border-top-color: #4c8ad2;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.1);
} */
.sidebar.menu-min .nav-list > li:hover > .menu_arrow,
.sidebar.menu-min .nav-list > li.hover-show > .menu_arrow {
  display: block;
}
.sidebar.menu-min .nav-list > li > b.menu_arrow:before{
	border-right: 8px solid #366eaf;
  -moz-border-rightt-colors: #366eaf;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 13px;

}
 
  
/*************************************顶部菜单结束************************************/

/*左侧菜单栏开始*/
.sidebar {
    font-family: 微软雅黑, "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	font-size:14px;
    width: 190px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0;
	background-color: #0a1d33; 
	}
.sidebar:before ,.sidebar .nav-list:before {
  content: "";
  display: block;
  width: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  border-style: inherit;
  border-color: inherit;
  border-width: inherit;
}
.nav-list > li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0;
}
.nav-list > li > a {
    display: block;
    height: 39px;
    line-height: 39px;
    padding-left: 7px;
    text-shadow: none ;
    font-size: 12px;
    text-decoration: none;
}
.nav-list > li a > .menu_arrow {
  display: block;
  width: 14px !important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 12px;
  padding: 0;
  text-align: center;
}
/*.no-skin .sidebar{    background-color: #114483; border-color: #122b61;}*/
/*.no-skin .nav-list > li { border-color: rgba(23,86,165,.5);/*#284b81;*/}*/
/*.nav-list > li:last-child{border-bottom-width: 1px;}*/
/*.no-skin .nav-list > li > a { background-color: #114483; color: #c0d9ef;}*/
/*.no-skin .nav-list > li:hover > a { background-color: #0066CC; color: #ffffff;}*/
/*.no-skin .nav-list > li.highlight{background-color: #2b62a0;}*/
/*.no-skin .nav-list > li.highlight > a {font-weight: bold;color: #fff;}*/
/*.no-skin .nav-list > li.highlight > a,.no-skin .nav-list > li.highlight > a:hover,.no-skin .nav-list > li.highlight > a:focus { background-color: #2b62a0;}*/
/*.no-skin .nav-list > li.open > a {background-color: #114483;/*color: #fff;*/}*/
/*.no-skin .nav-list > li.open.highlight a.dropdown-toggle{ background:#2b62a0;}*/
/*.no-skin .nav-list .open > a,.no-skin .nav-list .open > a:hover,.no-skin .nav-list .open > a:focus {background-color:#2b62a0;}*/
/*.no-skin .nav-list > li.open.highlight .submenu {background-color: #2b62a0;border-color: #689cd6;}*/
/*.no-skin .nav-list > li .submenu > li > a {border-top-color:#689cd6;color: #fff;}*/
/*.no-skin .nav-list > li .submenu > li > a:hover {color: #fff;background-color: #2b62a0;}*/
/*.no-skin .nav-list > li .submenu > li.highlight > a {color: #fff;}*/
/*.no-skin .nav-list > li .submenu > li.highlight.open > a > .left-menu-icon {color: inherit;}*/
/*.no-skin .nav-list > li .submenu > li > a:hover,.no-skin .nav-list > li .submenu > li.highlight > a { background:#114483;}*/
/*.no-skin .nav-list > li .submenu > li.highlight > a > .left-menu-icon {*/
    /*color: #fff;*/
/*}*/
.nav-list > li .submenu > li.highlight > a > .left-menu-icon, .nav-list > li .submenu > li:hover > a > .left-menu-icon {
    display: inline-block;
}
.no-skin .sidebar-toggle { border-color: #1e4378;}
.nav-list > li > .submenu:before,.nav-list > li > .submenu > li:before{ color:#689cd6;}
.nav-list > li > .submenu{border-color:#689cd6;}
.left-menu-icon { font-size:18px; margin-right:5px;    vertical-align: -2px;}
/*二级菜单样式*/
.nav-list > li.active .submenu {
  display: block;
}
.nav-list > li .submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  position: relative;
}
.nav-list > li .submenu > li {
  margin-left: 0;
  position: relative;
}
.nav-list > li .submenu > li > a {
  display: block;
  position: relative;
  padding: 7px 0 9px 37px;
  margin: 0;
}
.nav-list > li .submenu > li > a:hover {
  text-decoration: none;
}

/*三级菜单样式*/
.nav-list > li > .submenu li > .submenu > li > a {
      text-indent: 7px;
}
/*收缩左侧菜单*/
.sidebar.menu-min, .sidebar.menu-min.compact, .sidebar.menu-min.navbar-collapse {
    width: 43px;
}
.sidebar.menu-min .nav-list > li > a > .menu_arrow,.sidebar.menu-min .nav-list > li >  .menu_arrow{ display:none;}
.sidebar.menu-min .nav-list > li > a > .left-menu-text {
    display: none;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 35px;
    z-index: 1025;
    width: 176px;
    height: 39px;
    line-height: 39px;
     border: 1px solid;
	 text-indent:12px;
}
.sidebar.menu-min .nav-list > li > a > .left-menu-icon {
    font-size: 18px;
    height: auto;
    line-height: inherit;
    display: inline-block;
    vertical-align: sub;
    margin-right: 0;
    width: 44px;
	position:relative;
    top: 0px;
    left: 5px;
	}
.sidebar.menu-min .nav-list > li > a.dropdown-toggle > .left-menu-text {
  top: -1px;
  border-width: 1px 1px 0;
}

.sidebar .sidebar-toggle{    border-style: solid;
    border-width: 0 0 1px;
	border-color: #1e4378;
    text-align: center;
    padding: 3px 0;
}
/*.sidebar .sidebar-toggle:before {
    content: "";
    display: block;
    height: 0;
    border-top: 1px solid;
    border-color: inherit;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 13px;}*/
.no-skin .sidebar-toggle > .ace-icon {
    color: #fff;
    background-color: #184d9e;
  padding: 0 5px;
    line-height: 18px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100%;
    border: 1px solid #174c9c;
    position: relative;
}
.no-skin .sidebar.menu-min .sidebar-toggle > .ace-icon {
     border-color: #174c9c;
}

/*左侧顶部极简模式切换*/
.sidebar .sidebar-shortcuts-large {
    line-height: 37px;
	text-align:center;
}
/*.sidebar .sidebar-shortcuts-large > .btn {
    /*text-align: center;
    width: 57px;
    line-height: 24px;
    padding: 2px 0px 0px 0px;
    border-style: solid;
    border-width: 1px;
	cursor:pointer;
	color:#fff
}*/
#sidebar-shortcuts-mini .btn {
    width: 7px;
    height: 7px;
    background: #fff;
}
/*.btn-success, .btn-success:focus {
    background-color: none !important;
    border-color: none;
}
.btn-info, .btn-info:focus {
      background-color: none !important;
    border-color: none;
}
.btn-warning, .btn-warning:focus {
     background-color: none !important;
    border-color: none;
}*/
.sidebar.menu-min .sidebar-shortcuts-large {
    display: none;
    position: absolute;
    top: 0;
    left: 42px;
    width: 190px;
    background:#366eaf; 
    padding:0px 0px;
}
.sidebar .sidebar-shortcuts-mini {
	display: none;
    width: 35px;
    height: 37px;
    padding-left: 9px;
    padding-top: 7px;
}
.sidebar .sidebar-shortcuts-mini > .btn {
    /*border-width: 0;
    font-size: 0;
    line-height: 0;*/
    float: left;
    margin: 2px;
    /*border-radius: 0;
    bottom: 5px;
    position: relative;*/
}
.sidebar.menu-min .sidebar-shortcuts-mini {
    display: block;
}
.sidebar-shortcuts{ position:relative;}
.sidebar.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-large, .sidebar.menu-min .sidebar-shortcuts.hover-show .sidebar-shortcuts-large {
    display: block;
}   
   
/****************************************左侧菜单栏收缩结束*****************************/
html {
  min-height: 100%;
  position: relative;
}
 
/*右边菜单栏目*/
.sidebar + .main-content {
  margin-left: 190px;
}
.sidebar.menu-min + .main-content {
    margin-left: 44px;
}
.btn-scroll-up {
  border-width: 0;
  position: fixed;
  right: 2px;
  z-index: 99;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0;
  filter: alpha(opacity=0);
  bottom: -24px;
  visibility: hidden;
}
.btn-scroll-up.display {
  opacity: 0.7;
  filter: alpha(opacity=70);
  bottom: 2px;
  visibility: visible;
}
.btn-scroll-up:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-scroll-up:focus {
  outline: none;
} 
 