<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mainsteam.stm.ct.dao.CtMetricsMapper">

    <select id="getCtMetrics" resultType="com.mainsteam.stm.ct.bo.MsCtMetrics" parameterType="com.mainsteam.stm.platform.mybatis.plugin.pagination.Page">
        SELECT
            *
        FROM
            ms_ct_metrics
        WHERE
            1 = 1
            and in_use = 1
            and type=#{condition.type}
        ORDER BY
            id ASC
    </select>
    <select id="getByName" resultType="com.mainsteam.stm.ct.bo.MsCtMetrics" parameterType="java.lang.String">
        SELECT
            *
        FROM
            ms_ct_metrics
        WHERE
          name = #{name}
    </select>
    <select id="selectById" resultType="com.mainsteam.stm.ct.bo.MsCtMetrics" parameterType="java.lang.Integer">
    	SELECT
            *
        FROM
            ms_ct_metrics
        WHERE
        	id =#{id}
    </select>
</mapper>