@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fm9t9');
  src:  url('fonts/icomoon.eot?fm9t9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fm9t9') format('truetype'),
    url('fonts/icomoon.woff?fm9t9') format('woff'),
    url('fonts/icomoon.svg?fm9t9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../assets/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../assets/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../assets/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../assets/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family: "iconfont";
  src: url('../assets/fonts/iconfont.eot?t=1496405365820'); /* IE9*/
  src: url('../assets/fonts/iconfont.eot?t=1496405365820#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/iconfont.woff?t=1496405365820') format('woff'), /* chrome, firefox */
  url('../assets/fonts/iconfont.ttf?t=1496405365820') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/fonts/iconfont.svg?t=1496405365820#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





[class^="icon-"], [class*=" icon-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' ;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:12px;
  text-decoration: none !important;
}

.icon-shouye_shouye:before { content: "\e602"; }

.icon-shouye_shouye1:before { content: "\e604"; }
.panel-tool-close:before{ content: "\e901";}
.icon-alarmset:before {
  content: "\e900";
}
.icon-colse:before {
  content: "\e901";
}
.icon-correctness:before {
  content: "\e902";
}
.icon-detailed_info:before {
  content: "\e903";
}
.icon-edit:before {
	font-family:'icomoon';
  content: "\e904";
}
.icon-empty:before {
  content: "\e905";
}
.icon-field:before {
  content: "\e906";
}
.icon-insert:before {
  content: "\e907";
}
.icon-reset:before {
  content: "\e908";
}
.icon-sample:before {
  content: "\e909";
}
.icon-stateye:before {
  content: "\e90a";
}
.icon-tactics:before {
  content: "\e90b";
}
.icon-Person:before {
  content: "\e90c";
}
.icon-clearp:before {
  content: "\e90d";
}
.icon-domain_user:before{
  content: "\e90e";
}
.icon-copy:before {
  content: "\e90f";
}
.icon-preview:before {
  content: "\e910";
}
.icon-filter:before {
  content: "\e911";
}
.icon-user_photo:before {
  content: "\e912";
}
.icon-inspection:before {
  content: "\e913";
  	font-family:"icomoon" !important ;
}
.icon-backup:before {
  content: "\e914";
}
.icon-allbackup:before {
  content: "\e915";
}
.icon-textbox:before {
  content: "\e916";
}
.icon-topofontcolor:before {
  content: "\e917";
}
.icon-link:before {
  content: "\e918";
}
.icon-bordercolor:before {
  content: "\e919";
}
.icon-fillcolor:before {
	font-family:'icomoon';
  content: "\e91a";
}
.icon-authority:before {
  content: "\e91b";
    font-family:"icomoon" !important;

}
.icon-skin:before {
  content: "\e91c";
}
.icon-movein:before {
  content: "\e91d";
}
.icon-nobackup:before {
  content: "\e91e";
}
.icon-knowledge:before {
  content: "\e91f";
}
.icon-hand:before {
  content: "\e920";
}
.icon-expExcel:before {
  content: "\e921";
}
.icon-carousel:before {
  content: "\e922";
}
 
.icon-threshold:before {
  content: "\e923";
  font-size: 14px;
}





