<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mainsteam.stm.ipmanage.impl.dao.DepartMapper">
	<select id="getDepartList" resultType="com.mainsteam.stm.ipmanage.bo.Depart">
		select * from depart;
	</select>
	<select id="findIdByName" parameterType="java.lang.String" resultType="com.mainsteam.stm.ipmanage.bo.Depart">
		select * from depart where `name`=#{depart};
	</select>
	<insert id="insert" parameterType="com.mainsteam.stm.ipmanage.bo.Depart">
		INSERT INTO `depart` (`id`, `name`, `create_time`) VALUES (#{id}, #{name}, #{create_time});
	</insert>
	<delete id="del" parameterType="java.lang.Integer">
		delete from `depart` where id = #{id}
	</delete>
</mapper>