/*------------��ҳͼ���Ű�------------------*/
/*topoN中select火狐下*/
/*select{
	appearance: none;
 	-moz-appearance:none; 
 }*/
.home-content{
	height: 100%;
	width: 100%;
	/*height: calc(100% );
    width: calc(100% + 10px);
    height: -webkit-calc(100%);
    width: -webkit-calc(100% + 10px);
    height: -moz-calc(100%);
    width: -moz-calc(100% + 10px);*/
    /*overflow: auto;*/
    /*margin-left: -10px;*/
    /*margin-top: -10px;*/
	position: relative;/*background:-webkit-radial-gradient(top,550px 700px,#0474B9,#163359);*/
}
.homeTemplate #applyBtn span{
	color: #fff !important;
}
#edit-widge-dialog,
#edit-widge-dialog .panel-body {
	padding: 0px;
}
#edit-widge-dialog .active {
    background: #e3e8e8;
    color: #333;
    /*background: #4C9AFF;
    color: #fff;*/
}
.main-gridster {
	width: calc(100% + 10px);
	left: -10px;
	position: relative;
}

.gridster {
	margin: auto;
}
.gridster ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*overflow:hidden;*/
}
.gridster>ul>li {
	list-style-type: none;
	position: absolute;
}
/*����*/

.gridster ul li .right-menu li {
	position: relative;
}

.gridster ul li .gridster-mask {
	background: #fff;
	/*border-radius: 10px;*/
	/*box-shadow: 5px 5px 10px #ddd;*/
	border: 1px solid #dddfe1;
}

.gridster ul li .gridster-mask .bz_bg {
	background: none !important;
}
.gridster ul li .gridster-box {
	position: relative;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background:#fff;  
	/*border-radius: 10px 10px 0 0;*/
	font-size:14px; 
	color:#333; 
	font-family:微软雅黑,Arial, Helvetica, sans-serif;
}

.gridster ul li .gridster-content {
	height: -moz-calc(100% - 25px);
  	height: -webkit-calc(100% - 25px);
  	height: calc(100% - 25px);
	/*margin: 0 1%;*/
}

.oc-fullscren  ul li .gridster-content{
	height: -moz-calc(100% - 50px);
  	height: -webkit-calc(100% - 50px);
  	height: calc(100% - 50px);
}
.gridster ul li .gridster-title {
	position: absolute;
	/*top: 1em;*/
	left: 0.8em;
}

.gridster ul li span.fa {
	margin: 5px 0 0;
	padding: 1px;
	font-weight: normal;
	position: absolute;
	text-decoration: none;
	-moz-user-select: none;
	float: left;
	width: 16px;
	height: 16px;
	display: none;
	z-index: 999999;
	cursor: pointer;
}

.gridster ul li:hover span.fa {
	display: block;
}

.gridster ul li span.closeBtn {
	right: 1em;
}

.gridster ul li span.maxBtn {
	right: 3em;
}

.gridster ul li span.refreshBtn {
	right: 5em;
}

.gridster ul li span.setBtn {
	right: 8em;
	color: #333;
}

.gridster ul li span.moveBtn {
	right: 117px;
	cursor: move;
}

.gridster .gridster-hidden {
	display: none;
}

.gridster-mask .datagrid-header {
	/*background: rgba(22, 53, 99, 0.6);*/
}

.gridster-mask .table-datanull {
	/*background: none;*/
}

.gridster-mask .datagrid-view {
	/* border: 1px solid #075EB0; */
}


/*�Ҳ����ͼ��*/

.page-mg {
	display: inline-block;
	width: 100%
}

.edit-mode {
	display: none;
	background: #e0e5e9;
	/*margin-top: 10px;*/
    /*border: 1px solid #ccc;*/
}

.edit-mode .right {
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 0px;
}

.edit-mode .left {
	display: inline-block;
	position: relative;
	float: left;
}

.edit-mode span {
	cursor: pointer;
}

.view-mode {    
    text-align: center;
    position: absolute;
    height: 120px;
    width: 24px;
    right: 6px;
    top: 30px;
    font-size: 20px;
    z-index: 999;
    /*background: rgba(0,0,0,0.5);*/
}
/*.oc-m-page-open{
	width: 25px;
    height: 18px;
    background: rgba(0,0,0,0.2);
    border-radius: 0 0 0 15px;
    position: absolute;
    left: -20px;
    top: -25px;
}*/
/*@-moz-document url-prefix() {.oc-m-page-open{ left:-30px !important}}*/
.page-open{
	position: absolute;
    top: 2px;
    right: 5px;
    color: #366eaf;
    font-size: 10px;
    display: inline-block;
}
.oc-m-page-open{
	position: absolute;
	right: -6px;
    top: -28px;
	width: 25px;
	height: 15px;
	border-radius:0 0 0 10px;
	background: rgba(0,0,0,0.2);
}
.view-mode span {
	display: inline-block;
	/*margin-right: 10px;*/
	cursor: pointer;
	color: #fff !important;
}
.view-mode span:hover{
	color: #0c8be3 !important;
}

/*.current-selected{
	border-bottom: 2px solid #1C8BC4 !important;
}*/


/*-------------ģ���ڲ���ʽ---------------------*/


/*topN*/
.widget-topn .graph-list-d img:hover {
	cursor: pointer;
	border: 1px solid #3E8CCA;
	box-shadow: 5px 5px 10px #0d203b;
}
.top {
	color: white;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.top-content {
	/* box-shadow: inset 0px 0px 7px #22496f;
	background: url(../images/home/bg_01.png) repeat; */
	position: relative;
	height: 100%;
	overflow: auto;
}
.top table {
	width: 96%;
	margin: 0 auto;
	border: none;
	text-align: center;
	font-size: 0.7rem;
}
.top table tr {
	height: 30px;
	border: 1px solid #e6e6e6;
	/*background: #102d56;*/
}
.top table tr:nth-of-type(even) {
	/*background: #12396d;*/
}
.top table th {
	color: #888;
	font-weight: normal;
	padding: 5px;
	border-top: 1px solid #fff;
 }
.top table td {
	text-align: center;
	padding: 1%;
	/*border: none;*/
}
.alert_color {
	color:#0c8be3;
}
.top-1 {
	background: #f16838;
    box-shadow: inset 0px 0px 1px #f16838;
    border: 1px solid #f16838;
    padding: 1px 6px;
    color: #fff;
}
.top-2 {
   	background: #f09621;
    box-shadow: inset 0px 0px 1px #f09621;
    border: 1px solid #f09621;
    padding: 1px 6px;
    color: #fff;
}
.top-3 {
	background:#12b346;
    box-shadow: inset 0px 0px 1px #12b346;
    border: 1px solid #12b346;
    padding: 1px 6px;
    color: #fff;
}
.top-4,
.top-5,
.top-more {
	background: #008cee;
	box-shadow: inset 0px 0px 1px #008cee;
	border: 1px solid #008cee;
	padding: 1px 6px;
	color:#fff;
}
.toph {
	box-shadow: inset 0px 0px 10px #21668e;
	background: url(../images/home/bg_03.png) repeat;
	height: 100%;
}
.textbox-prompt {
	width: 160px !important;
}
.center {
	height: 59%;
	margin-bottom: 1%;
}
.toph .toph-data .toph-data-bg {
	height: 12px;
	line-height: 12px;
}
.toph .toph-data .toph-data-v {
	height: 16px;
	width: 0px;
	background: #49a6fc;
	display: inline-block;
}
.toph .toph-data {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.toph .toph-data li {
	padding-top: 20px;
}
.toph .toph-data .toph-data-name {
	display: inline-block;
	line-height: 25px;
	height: 19px;
	list-style: none;
	color: #00fff6;
	font-size: 1em;
	font-family: ΢���ź�;
	width: 30%;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.toph .toph-data .toph-data-bg {
	display: inline-block;
	width: 50%;
	background-color: #142741;
	height: 16px;
	line-height: 16px;
	border-color: #08101b #22344c #3a6999 #1e4063;
	border-width: 1px;
	border-style: solid;
}
.toph .toph-data .toph-data-p {
	color: white;
	line-height: 19px;
	height: 19px;
	font-size: 1em;
	width: 10%;
	display: inline-block;
	margin-left: 10px;
}
.select-pick-area .oc-valid-required-star {
	position: relative;
    left: -10px;
    top: 8px;
}
.select-pick-area span {
	float: left;
}
.choose-msublist table{
	width: 100%;
}
/* ������λ */
.searchBox {
	width: 130px;
	display: inline-block;
	position: relative;
}
#searchInstanceListInput {
    width: 210px;
    /* width: 230px; */
    padding-right: 25px;
}
.searchBox #searchInstanceListButton {
	position: absolute;
	top: 5px;
	left: 185px !important;
}
/*topn��ͼ*/
.graph-list label{
	cursor: pointer;
}
.widget-topn {
	width: 100%;
	height: 100%;
}
.widget-topn .choise-resource {
	width: 100%;
	height: 300px;
}
.widget-topn .graph-list-d img {
	height: 120px;
}
.widget-topn .choose-msublist .choose-sublist-left {
	width: 73%;
	height: 280px;
	display: inline-block;
	float: left;
}
.widget-topn .choose-msublist .choose-sublist-right {
	width: 25%;
	height: 280px;
	display: inline-block;
}
.overview table td div{
	display: inherit;
}
.img-alarm-view{
    padding: 5px;
    width: 600px;
    height: 250px;
    background: url(../images/home/alarm.png) no-repeat;
	border:1px solid #ccc;
}
.overview-img{
	/*border: 1px solid #1858AB;*/
    /*background: #0D3E80;*/
}
/*.graph-resource>img{
	border: 1px solid #1858AB;
    background: #0D3E80;
    padding: 5px;
}*/
/*#edit-widge-dialog #parentResourceInstanceGrid{width:490px !important;margin-top: 10px;margin-left: 90px;}*/
#edit-widge-dialog .widget-topn .metricSelectGridDiv {
	width: 100% !important;
	margin-left: 10px;
	/*border: 1px solid #ccc;*/
}
.search-area {
	position: absolute;
}
/*首页TOPN中资源选择布局*/
div#parentResourceInstanceGrid.tablist-bg {
	width: 100% !important;
	margin-top: 10px;
	/*border: 1px solid #ccc;*/
}
.homePageTopN div#parentResourceInstanceGrid.tablist-bg{
	border: 1px solid #ccc;
}
.homePageTopN .win-titlebg{
	margin-top: 5px !important;
}
.homePageTopN .metricSelectGridDiv{
	border: 1px solid #ccc;
}
/*-------------添加图表----------------*/
#edit-widge-dialog .right {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
#choise-business table,.widget-connectionState table{
	width: 100%;
}
.choose-msublist span.textbox.combo {
    width: 135px !important;
    margin-right: 15px;
}
.widget-edit-panel {
	width: 100%;
	height: 100%;
	color: black;
	overflow: hidden;
}
.widget-edit-panel .left {
	width: 15%;
	height: 100%;
	float: left;
}
.widget-edit-panel .left ul {
	margin: 0px;
	padding: 0px;
}
/*width: 85%;
height: 100%;
float: left;
padding-left: 3%;
padding-top: 2%;
overflow: auto;
background: #376EAF;*/
.weli-selected {
	border: blue 1px solid;
}
/*��עָ��*/
.graph-table,
.metric-choise {
	width: 89%;
}
.graph-list {
	display: block;
}
.form-group .graph-table .graph-list{
	width:80%;
}

.graph-list .graph-list-d {
	display: inline-block;
	border: 1px solid transparent;
	cursor: pointer;
	width:93px;
}
.graph-list-d-img {
	width: 91px;
	height: 75px;
}
.line-m {
	background: url(../images/home/focus-re.png) -100px 0px;
}
.area {
	background: url(../images/home/focus-re.png) -1px -83px;
}
.radarv2 {
	background: url(../images/home/focus-re.png) -0px 75px;
}
.funnel {
	background: url(../images/home/focus-re.png) -100px 157px;
}
.metricCircle {
	background: url(../images/home/focus-re.png) 1px 0px;
}
.gaugev2 {
	background: url(../images/home/focus-re.png) -101px 75px;
}
.metricBlock {
	background: url(../images/home/focus-re.png) -199px 0px;
}
.vertical {
	background: url(../images/home/focus-re.png) -301px 0px;
}
.horizontal {
	background: url(../images/home/focus-re.png) -301px -81px;
}
.graph-list-d-table {
	background: url(../images/home/focus-re.png) -301px 77px;
}
.thermometer{
	background:url(../images/home/focus-re.png) -200px -83px;
}
.graph-list-d span {
	display: block;
	text-align: center;
	margin-top: 5px;
}
.graph-list-d-selected {
	color: #3E8CCA;
}
.graph-list-d-selected .graph-list-d-img {
	border: 1px solid;
}
.metric-choise {
	overflow: hidden;
}
.metric-choise>div {
	overflow: auto;
	margin: 0 5px 0 0;
	float: left;
	height: 260px;
}
.metric-choise .left-are {
	width: 48%;
	border: 1px solid #ccc;
	overflow: auto;
}
#metric-res-search {
	width: 100% !important;
}
#edit-widge-dialog .search-area {
	position: relative;
}
#metric-res-search-button {
	position: absolute;
	top: 5px;
	right: 15px;
}
.metric-choise .right-are {
	width: 48%;
	border: 1px solid #ccc;
}
/*�澯һ��*/
.overview {
	width: 80%;
	max-height: 300px;
	/*min-height: 300px;*/
}
.overview .img-ywgl{
	width: 600px;
    min-height: 308px;
	background: url(../images/home/service-view.png) no-repeat;
}
.overview .img-connection{
	width: 587px;
    /*min-height: 308px;*/
   height: 210px;
   border: 1px solid #ccc;
	background: url(../images/home/connection.png) no-repeat;
}
/*��ע��Դ*/
.graph-resource {
	display: block !important;
	margin-left: 73px !important;
}
.graph-resource-ul {
	display: inline-block;
	padding: 0px;
}
.graph-resource-li {
	float: left;
	width: 164px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	background: #ccc;
	color: #fff;
	/*margin-bottom: 2px;*/
	cursor: pointer;
}
.graph-resource-li-selected,.graph-resource-li:hover {
	background: #0d86ef;
}
.graph-resource div{
	width: 67%;
	height: 150px;
	border: 1px solid #ccc;
}
.graph-resource-zyxq{
	background: url(../images/home/zyxq.png);
}
.graph-resource-zyzl{
	background: url(../images/home/zyzl.png);
}
.graph-resource-ywzl{
	background: url(../images/home/ywzl.png);
}
.widget-focuseResouce .overview {
	width: 87%;
	height: 220px;
}
.widget-focuseResouce .choise-business {
	display: none;
	overflow: hidden;
	height: 100%;
	width: 490px;
	border: 1px solid #ccc;
}
.widget-connectionState .overview{
	width: 74% !important;
}
.widget-focuseResouce .choise-resource {
	overflow: hidden;
	height: 100%;
	/*width: 400px;*/
}
.right #choise-resource button {
	width: 65px;
	height: 28px;
	background: #1C8BC3;
	color: #fff;
	margin: 0px;
	vertical-align: top;
}
#choise-resource .ztree {
	border: 1px solid #ccc;
	width: 70%;
	height: 80%;
	overflow: auto;
	margin-top: 10px;
}
.graph-list-d-img-selected {
	border: 1px solid;
}
#metricInfo .oc-home-ul li {
	position: inherit;
	display: inline-block;
    width: 100%;
}
/*ҵ����ͼ*/
.widget-business .overview {
	position: relative;
	display: block;
}
/*topo��ͼ*/
.choose-msublist {
	width: 87%;
}
.widget-topo .overview {
	position: relative;
	display: block;
	overflow: scroll;
}
.choose-msublist .tablist-bg {
	height: 240px;
}
/*ͳ����ͼ*/
.st-list-d {
	display: inline-block;
	margin-right: 30px;
}
.st-list-d .img-alarm {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 200px;
	height: 140px;
	background: url(../images/home/alert01.png) #f5f5f5;

    border: 1px solid #dfe0e0;
}
.st-list-d .img-total {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 200px;
	height: 140px;
	background: url(../images/home/alert02.png) #f5f5f5;
    border: 1px solid #dfe0e0;
}
.st-list-d span {
	display: block;
	margin-bottom: 10px;
}
/*�豸��ͨ��*/
.widget-edit-panel .widget-connectionState .connectionState {
	width: 100%;
	height: 260px;
	border: 1px solid #ccc;
}
/*��������ʽ*/
.widget-edit-panel {
	color: #333;
}
/*�Ҳ�*/
#edit-widge-dialog .oc-form .form-group>label:first-child {
	text-align: right;
	width: 69px;
	color: #666;
}
#edit-widge-dialog .oc-form .form-group {
	margin-top: 10px;
}
/*ָ���*/
.square {
	position: relative;
	width: 100%;
	height: 100%;
	-moz-border-radius: 15px;
	text-align: center;
	/*background: rgba(255, 255, 255, 0.1);*/
}
.squareBox:nth-child(1) {
	color: #fff;
	border-bottom: 5px solid #609ee9;
	background-color: #609ee9;
}
.squareBox:nth-child(2) {
	color: #fff;
	border-bottom: 5px solid #837afe;
	background-color: #837afe;
}
.squareBox:nth-child(3) {
	color: #fff;
	border-bottom: 5px solid #32d491;
	background-color: #32d491;
}
.squareBox:nth-child(4) {
	color: #fff;
	border-bottom: 5px solid #1ca5f4;
	background-color: #1ca5f4;
}
.squareBox:nth-child(5) {
	color: #fff;
	border-bottom: 5px solid #FCAA43;
	background-color: #FCAA43;
}
.square-name {
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 10% 0;
}
.square-value {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	padding: 10% 0;
}
.square-word {
	text-align: center;
	display: inline-block;
	margin-bottom: 20%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*ѡ���ļ�button��ť*/
.right button {
	width: 75px;
	height: 30px;
	background: #4e9bff;
	color: #fff;
	vertical-align: top;
	margin: 15px;
}
.right button:hover{
	cursor: pointer;
	background: #4A79DF;
}
/*��ע�����豸*/
#oc-module-home-workbench-mainmachine .h-info-l {
	padding-left: 0px;
}
.mainmachine_m span {
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 30px;
	width: 19.36%!Important;
	display: inline-block;
	font-size: 1pt;
	border-right: 1px solid #326FC0;
}
.mainmachine_m span:last-child {
	border-right: none;
}
.sub-box {
	height: 100%;
		padding:10px;
	padding-top: 40px;
	position: relative;
	top:-30px;
	z-index: 1;
	/* font-size: 1pt; */

 
}
.padding-r10 {
	padding-right: 10px;
}
.interface-header {
	background: #fff;
    position: relative;
    border: 1px solid #ccc;
}
.sub-interface-leftbox,
.sub-interface-rightbox {
	position: absolute;
	top: 30%;
	z-index:1;
}
.sub-interface-rightbox {
	right: 0px;
}
.arrow-left.visible,
.arrow-left.visible:hover {
	background-position: 0 -52px;
	cursor: default;
}
.images-fpage {
	/*float: left;*/
	/* padding: 0px 8%; */
	margin:0 auto;
	width: 86%;
	position: relative;
	overflow-x: hidden;
	/*position: relative;
	left: 26px;
	top:-40px;*/
}
.images {
	height: 100%;
}
.interfaces-h-bg{
	margin-bottom: 5%;
}
.interface-arrow {
	width: 26px;
	height: 26px;
	background: url(../images/comm/window/interface-arrow.png) no-repeat;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
}
.arrow-left {
	background-position: 0 -26px;
}
/*接口可用不可用*/
/* .interface-green {
	background-position: 0 0;
}
.interface-green-red {
	background-position: 0px -211px;
} */
/*面板图接口*/
.interface-eq {
	width: 31px;
	height: 30px;
	/* background: url(../images/comm/window/interface.png) no-repeat; */
	display: inline-block;
	zoom: 1;
	/*margin-top: 20%;*/
	
} 
.images-fpage .interface-eq{
	vertical-align:middle;
}
.interfaceSmall-green,.interfaceSmall-green-red,.interfaceSmall-red,.interfaceSmall-white{
	width: 18px;
    height: 17px;
    margin-top:0;
}
.sub-r-icobox.active {
	cursor: pointer;
	background:#efefef;
}
.sub-r-icobox {
	/*width: 5%;*/
	float: left;
	text-align: center;
	height: 100%;
	cursor: pointer;
	padding:0 13px;
}
.sub-layout-div {
	width: 33.333%;
	float: left;
	height: 100%;
}
.sub-border-out {
	border: 1px dotted #ccc;
	border-radius: 3px;
	float: left;
	width: 100%;
	overflow: auto;
}
.sub-border-inside {
	border-radius: 3px;
	width: 100%;
	padding: 5px;
}
.sub-rhost-box {
	width: 66.66% !important;
}
.interfaces {
	height: 100%;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding: 2%;
}
.interfaces {
	display: inline-block;
	zoom: 1;
}
.interface-list {
	border: 1px solid #ccc;
}
.color-orange-t {
	font-weight: bold;
	padding: 0 6px;
	height: 30px;
	line-height: 30px;
	background: #ddd;
}
.interface_details table {
	width: 100%;
}
.interface-td-r {
	line-height: 30px;
	padding-left: 3px;
	text-align: left;
	border: 1px solid #ccc;
    background: #f0f0f0;
}
.interface-td-l {
	padding-left: 3px;
	text-align: left;
	line-height: 24px;
	border: 1px solid #ccc;
}
/*���ҳ��*/
#templateList {
	width: 160px;
	padding: 0px;
	margin: 0px;
}
#templateList span {
	width: 100%;
	display: inline-block;
	padding: 7px 10px;
	text-align: center;
	background: #225E9E;
	border-radius: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
#templateList span:hover,
.checkTemp {
	background: #1C8BC4 !important;
}
/*权限设置*/
#uncheckDiv,
#checkDiv {
	height: 95%;
	width: 100%;
	overflow-y: auto;
}
#menuList {
	height: 100% !important;
}
#menuList>ul>li{
	padding-top: 10px;
}
.lunTitle {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
#autoDiv .oc-workbench-rtitle{
	width: 145px;
}
#autoDiv .oc-workbench-rtitle{
	text-align: left;
	padding-left: 10px;
}
#autoDiv .oc-workbench-mtitle{
	padding: 0px 5px;
}
#autoDiv .oc-workbench-rtitle,
#autoDiv .oc-workbench-mtitle {
	/* padding: 7px 10px; */
	margin-bottom: 5px;
	/* border: 1px solid #1C8BC4; */
	border-radius: 5px;
	background: #49a0e3;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 40px;
	line-height: 40px;
	padding-right: 10px;
}
#autoDiv #SelectDiv .oc-workbench-rtitle span:nth-child(1) {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
#SelectDiv .oc-workbench-rtitle {
	position: relative;
    border: 1px solid #4a79df;
    background: #4A79DF;
    padding-left: 10px;
    padding-right: 20px;
}
#SelectDiv .oc-workbench-rtitle span {
	display: inline-block;
	width: 80%;
}
#SelectDiv .oc-workbench-rtitle .fa {
	width: 7%;
    margin: 5px;
    cursor: pointer;
}
.effect-select-box {
	cursor: pointer;
	border: 1px solid transparent;
	width: 70px;
	margin: 2px;
	height: 60px;
	float: left;
}
.effect-select-box:hover,
.animation_active {
	border: 1px solid #62bdff
}
.nochoose {
	background: url('../images/home/nochoose.png');
}
.smoothFade {
	background: url('../images/home/smoothFade.png');
}
.fullScreenFade {
	background: url('../images/home/fullScreenFade.png');
}
.cutOut {
	background: url('../images/home/cutOut.png');
}
.blackCutOut {
	background: url('../images/home/blackCutOut.png');
}
.solution {
	background: url('../images/home/solution.png');
}
.wipeDown {
	background: url('../images/home/wipeDown.png');
}
.wipeLeft {
	background: url('../images/home/wipeLeft.png');
}
.wipeRight {
	background: url('../images/home/wipeRight.png');
}
.wipeUp {
	background: url('../images/home/wipeUp.png');
}
#pageTag-form-alarm fieldset {
	border: none !important;
	padding-top: 50px;
}
/*Ȩ������*/
.Index-authority{
	display: inline-block;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    color: #666;
}
#leftDomainTree .tree-node {
	padding: 5px 0;
}
#leftDomainTree .tree-checkbox {
	vertical-align:inherit;
	width: 15px !important;
}
#westLayout {
	width: 150px;
	height: 100%;
	overflow: auto;
}
#domain {
	height: 90%;
	width: 100%;
	overflow: hidden;
	margin: auto;
}
#leftDomainTree,
#rightDomainTree {
	height: 90%;
	width: 45%;
	float: left;
	border: 1px solid #ccc;
	padding: 10px 0px;
}
#leftDomainTree span.tree-icon,
#rightDomainTree span.tree-icon{
	background: none !important;
}
#leftDomainTree .tree-checkbox,
#rightDomainTree .tree-checkbox {
	width: 15px !important;
}
#centerLayout .midButton-context{
	top: 41%;
}
#centerLayout #toRight,
#centerLayout #toLeft {
	left: 16%;
}
#midButton {
	height: 90%;
	width: 10%;
	float: left;
}
.midButton-context {
	margin: auto;
	position: relative;
	top: 30%;
}
#toRight,
#toLeft {
	height: 22px;
	width: 70%;
	display: inline-block;
	position: relative;
	left: 25%;
	color: #326FC0;
}
#toRight:hover,
#toLeft:hover {
	color: #fff;
}
#_easyui_tree_10 {
	padding: 5px 0;
}

.no-asset,
.no-warn {
	width: 50%;
	padding: 3%;
	text-align: center;
	display: inline-block;
	background: #5a98e5;
}
/*大屏*/
.oc-fullscren {
	background: #1e5091;
	background-image: -webkit-radial-gradient(circle, hsla(206, 97%, 42%, 1), hsla(227, 41%, 30%, 1));
}
.fullscren-widget ul li .gridster-mask {
	width: 100%;
	margin: 0px;
}
.fullscren-widget ul li .gridster-title {
	position: absolute;
	top: 1.5em;
	left: 1.5em;
}
.fullscren-widget ul li span.maxBtn {
	right: 1em;
}
.fullscren-widget ul li span.refreshBtn {
	right: 3em;
}
.fullscren-home ul li span.maxBtn {
	right: 1em;
}
.fullscren-home ul li span.refreshBtn {
	right: 3em;
}
/*业务视图模块利率*/
/*.service-view{
	height:370px;
	width:90%;
	background:url('../images/home/service-view.png') no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:contain;
	background-size:contain;
   -moz-background-size:100% 100%;
   	background-size:100% 100%;
	
}*/
.cap-num {
	position: absolute;
	font-size: 16px;
	text-align: center;
	width: 70px;
	height: 70px;
	line-height: 70px;
	left: 50%;
	bottom: 8px;
	margin-left: -35px;
	color: #fff;
}
.gridster ul li .biz-main fa {
	display: block;
}
/*span.rate-yellow,
span.rate-orange{
    position: absolute;
    height: 10px;
    left: 0px;
    border-radius: 4px 0 0 4px;
    background: #FEE800;
}*/
span.rate-orange {
	background: #f09722;
}
span.rate-yellow {
	background:#eee000;
}
span.gt.color-yellow,
span.gt.color-orange
{
    position: absolute;
    right: -50px;
    top: -4px;
}
/*关注指标*/
.partitions .info-line{
	float: left;
	width: 100%;
	margin-bottom:10px;
}
/*轮播*/
.oc-workbench-rtitle>span.ico.ico-add{
	margin-top:11px;
}
/*首页页面管理设为首页图标*/
a.iconfont.light_blue{
	font-size:14px;
}
/*首页告警全屏取消隐藏多余字符串*/
.datagrid-full{
	overflow: inherit;
}

/*关注资源头部资源名称*/
.layout-first .h-info-m span:last-child {
    border-right: none;
}
.layout-first .h-info-m span{
	width:24%;
	text-align:center;
	height: 28px;
    line-height: 28px;
    display: inline-block;
    border-right: 1px solid #ccc;
    overflow:hidden;
   /*  padding: 0 10px; */
}
/*业务视图*/
.border-right{
	/* margin-right: 10%;
	width: 15%; */
    display: inline-block;
}
.interface-right-con{
	width: 55%;
	margin-left: 10%;
	display: inline-block;
}
.oc-panel-host{
	width: 100%;
    overflow: hidden;
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.color-green,.color-orange{
	color: #666;
}
.color-white{
	color: #666;
}
/*首页-页面管理-表格*/
.user_account{
	font-size: 12px !important;
	color: #333;
}
.datagrid-row-over .user_account{
	color: #fff;
}
.gridster-mask .table-datanull .datagrid-row{
	height:30px;
	line-height:30px;
}
/*首页空白提示文字*/
.hintHomeOne{
	padding: 5px;
    background: #0C8BE3;
    color: #fff;
	position: absolute;
	top: calc(100%/2);
	left: calc((100% - 290px)/2);
	font-size: 14px;
}
.hintHomeTwo{    
	padding: 5px;
    background: #0C8BE3;
	position: absolute;
	top: calc(100%/2);
	left: calc((100% - 598px)/2);
	font-size: 14px;
	color: #fff;
}
.home-content .quickSelectDiscoverParamter{
	color: #fff !important;
}
.right-list span{
	color: #32a8f9;
}
.right-list span.fa-check-circle{
	color: #fff;
}
/*大屏后的头部高度*/
/* .oc-fullscren  ul li .gridster-box{
	height: 50px;
} */
/*首页业务管理界面*/
.home-content .healthy-box .biz-disk{
	background-image:url('../images/bizser/summary/disk.png');
	background-size: 100% 100%;
}
/*首页界面*/
/*.managetab.panel-noscroll {
    margin-left: 10px;
    width:calc(100% - 10px);
}*/
/*首页模板*/
.home_choose{display: block;font-size: 14px;color:#32a8f9;padding:8px 0px;}
.right-list img{ border:1px solid #dddfe1; }