@charset "utf-8";
ul li{ margin:0; padding:0; list-style:none;}
body{width:100%;height:100%; font-size:12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 12px;overflow:hidden;}
input,
button{
	border:none;
	background:none;
	outline:none;
}
input:-webkit-autofill{
	background-color:transparent !important;
}
/*去掉火狐中表单控件具有required属性时的外边框*/
input:required:invalid, 
input:focus:invalid, 
textarea:required:invalid, 
textarea:focus:invalid{
	box-shadow: none;
	-moz-box-shadow:none;
}
/*火狐下的select选择框样式*/
 /*@-moz-document url-prefix() {
            select.form-control {
                -moz-appearance: none;
                appearance: none;
                background: #0D3E80;
                background-size: 2% auto;
                border-radius:3px;
                padding:0;
            }
        }*/
#particles-js{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#49a1e3',endColorStr='#5fc38c',gradientType='0');*/
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#62a7da',endColorStr='#4f84af',gradientType='0');
background: -moz-linear-gradient(top, #62a7da, #4f84af);
background: -o-linear-gradient(top,#62a7da, #4f84af);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62a7da), to(#4f84af));
/*background:#437ca5;*/
}
.login-panel input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 30px #fff inset !important;

	border-radius:2px !important;
	text-align:center !important;
}
.login-panel {
      width: 712px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -356px;
    margin-top: -250px;
}
.login-panelbox {
    width: 100%;
    height: auto;
}
.login-logo{
	width: 480px;
    height: 88px;
    margin: auto;
    margin-bottom: 15px;
	background: url("../images/comm/table/login-logo.png") no-repeat;
}
.a-expired {
    left: 50%;
    margin-left: -129px;
    position: absolute;
    top: 85px;
}
.a-expired>span{
	color:#fffb50;
	font-size:14px;
}
.login-left {
    margin: auto;
    zoom: 1;
}
.login-left span.oc-valid-required-star {
    display: none;
}
.oc-valid-required-star {
    color: red;
    font-weight: 900;
}
.login-line{
	text-align:center;
}
.login-line input,
.login-line button{
	width:245px;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#fff;
	background-color:rgba(255,255,255,.8) !important;
	text-align:center;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.login-line input{
	background-color: ccc !important;
    border: 1px solid #ccc !important;
    margin: 10px 2px !important;
    font-family: Arial, Helvetica, sans-serif;
	color:#666;
}
.login-line button{
	color:#fff;
	margin: 10px 2px;
    padding: 0 2px;
    font-family:"Microsoft YaHei" !important;
    font-size:16px;
	background:#49a1e3 !important;
/*	width:160px !important;*/
	position:relative;
	left:30px;
	font-family:Arial, Helvetica, sans-serif;
}
.login-line input:hover{
	color:#666;
	background-color: rgba(255,255,255,0.4) !important;font-family:Arial, Helvetica, sans-serif;
}
.login-line input:focus{
	border:1px solid #49a1e3 !important;
 	color:#666;
	background-color:rgba(255,255,255,0.4) !important;font-family:Arial, Helvetica, sans-serif;
}
.login-line button:hover{
	background-color:#3484c7 !important;
}
.login-btn-box{
	text-align:center;
}
.login-btn-box .login-btn-wrap{
	display:inline-block;
	width:260px;
	position:relative;
	left:18px;
}
.login-btn-wrap:after{
	clear:both;
	display:block;
	height:0;
	content:" ";
}
.login-mode,
.login-mode.switching{
    width: 123px;
    height: 33px;
    float: left;
    background: url(../images/comm/table/Mode_switching2.png) 0 -34px no-repeat;
    cursor: pointer;
    margin-top: 0px;
	margin-left:15px;
}
.login-mode.switching {
    background: url(../images/comm/table/Mode_switching2.png) 0px 0 no-repeat;
}
.login-memory,
.login-memory.selected {
    width: 60px;
    height: 22px;
    background: url(../images/comm/table/memory.png) 0 0 no-repeat;
    float: left;
    margin-top: 8px;
    cursor: pointer;
    margin-left:60px;
}
.login-memory.selected {
    background: url(../images/comm/table/memory.png) 0 -20px no-repeat;
}
.copyright {
    text-align: center;
    width: 100%;
    color: #fff;
    line-height: 20px; font-size:12px; font-family:Arial, Helvetica, sans-serif;
		    position: absolute;
    top: 100%;
    top: 50%;
    margin-top: 200px;
	}
.bg-magic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}
.bg-magic li {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-magic li:nth-child(1) {
  left: 10%;
}
.bg-magic li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
}
.bg-magic li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-magic li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-magic li:nth-child(5) {
  left: 70%;
}
.bg-magic li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-magic li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-magic li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
.bg-magic li:nth-child(9) {
  left: 25%;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-magic li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.bg-magic li:nth-child(11) {
  left: 65%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-magic li:nth-child(12) {
  left: 25%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
.bg-magic li:nth-child(13) {
  left: 18%;
  width: 18px;
  height: 18px;
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-magic li:nth-child(14) {
  left: 10%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 52s;
          animation-duration: 52s;
}
.bg-magic li:nth-child(15) {
  left: 90%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-duration: 52s;
          animation-duration: 52s;
}
.bg-magic li:nth-child(16) {
  left: 70%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation-duration: 52s;
          animation-duration: 52s;
}
.bg-magic li:nth-child(17) {
  left: 78%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1240px) rotate(600deg);
            transform: translateY(-1240px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1240px) rotate(600deg);
            transform: translateY(-1240px) rotate(600deg);
  }
}
.active-bg-mid {
    width: 541px;
    text-align: left;
    color: #666;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px;
    padding-left: 0;
	border:1px solid #e1dddd;
    /* box-shadow: 1px 1px 4px #999; */
}
.tit-active {
    display: inline-block;
    /* color: #BEDBF3; */
    text-align: center;
    /* line-height: 27px; */
    /*padding-left: 16px;*/
	width:100%; font-size:24px; color:#333; padding:15px 0 5px 0; text-align:center; font-weight:bold; font-family:Arial, Helvetica, sans-serif;
}
.license-close-locate {
    display: block !important;
    position: absolute !important;
    z-index: 999;
    right: 75px;
    top: 75px;
}
ul.pos-dwon li {
    padding: 2px 5px;
}
#downloadFile {
    color: #F60 !important;
}
.file-button {
    display: block;
    /* width: 68px; */
    height: 29px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.locate-left {
    float: left !important;
}
input.oc-checkbox-locate{
    border:1px solid #7fb7ff;
    height: 26px;
    line-height: 26px;
    margin: 1px 2px;
    padding:0 2px;
    position: relative;
    top: 1px;
	background-color: rgba(127,183,255,.3)
}
.l-btn-left .btn-m span.l-btn-text {
    line-height: 38px;
    color: #fff;
}
.file-button .file-button-file {
    height: 38px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    width:65px;
    z-index: 2; 
}
/* .l-btn-left .btn-l {
    height: 29px;
    background: url(../images/comm/window/h-btnbg.png) no-repeat left 1px;
    padding-left: 3px;
} */
/* .l-btn-left .btn-r {
    background: url(../images/comm/window/h-btnbg.png) no-repeat right -29px;
    padding-right: 3px;
} */
/* .l-btn-left .btn-m {
    background: url(../images/comm/window/h-btnbg.png) repeat-x left -58px;
    height: 29px;
    text-align: center;
    padding: 0 5px;
} */
/*验证码样式*/
div#verificationCode{
	text-align:center;
}
input#code{
	height:35px;
	line-height:35px;
	width:160px;
	background-color:rgba(52,86,131,.4) !important;
	border:1px solid #5887c5 !important;
	padding-left:5px;
	border-radius: 2px;
	font-size:16px;
	-webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
	color:#fff;
	vertical-align:middle;
}
img#kaptchaImage{
	margin-left:10px; position:relative; top:0;
}
/*添加login页面input前文字样式*/
.login-left span{ display:inline-block; zoom:1; *display:inline; text-align:right; padding-right:10px; color:#666; font-size:14px; width:60px;}
.pos-dwon li{ color:#666 !important;}
.ipu-dwon-posi{ padding:10px 0;margin-bottom:10px;}
/*激活license*/
form#uploadLicenseForm{
	display:inline-block;
	vertical-align:middle;
	
}
a#downloadFile {
    display: inline-block;
    width: 120px;
    height: 38px;
    line-height: 38px;
    background:#49a1e3;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    margin-top:2px;
    color:#fff !important;
    border-radius: 2px;
}
input#showLicenseFilePath{
	color:#666 !important;
	border: 1px solid #ccc;
    height: 38px !important;
    line-height: 38px;
    width:247px !important;
    margin: 1px 2px;
    padding: 0 2px;
    position: relative;
    top: 1px;
    background-color: #fff;
 	margin-left:27px;
}
a#importBtn,a#chooseFile{
	height: 38px;
    background: #49a1e3;
    margin-top:2px;
    border-radius: 2px;
}

/*新添加样式*/
#loginForm:before{/*background:url("../images/login_title.png") no-repeat ;*/line-height: 45px;
    text-indent: 10px;
    content: "登录";
    display: block;
    position: relative;
    top: -23px;
    left: 0px;
    font-size: 16px;
    background-size: 100% 100%;
    background: #e5f3fd;
    border-bottom: 1px solid #b4cdde;
    color: #134265;}
.login-bg{ width:400px;     margin-top:0px;   margin-left: 156px;}
#loginForm{    background: #fff;
    border: 1px solid #b8cede;
    border-top: none;
    padding-bottom: 20px;
    padding-top: 23px;
    box-shadow: 1px 2px 10px #4b7fa7;
    margin-top: 30px;}
#login-active-div { width:612px;margin-left: -75px !important; }
.active-bg-mid .ico-cancel{background:url("../images/quxiao.png") no-repeat ;}
#LicenseActiveBtn{   color: #fbb762 !important;}