/*弹出框背景色*/

.window {
	background: #F5F5F5;
}


/*选择按钮*/

.combo-arrow {
	    background: #49a1e3;
}

.combo-arrow:hover {
	background-color: #3484C7 !important;
}

/*Oncenter最头部导航*/

.navbar {
	background: #0c8be3
}

/*logo背景颜色*/

.nav_logo {
	background: #0c8be3;
}


/*头部导航条用户接口*/
.dropdown-menu {
    background-color: #fff !important;
	border:1px solid #dddfe1;
}
.dropdown-menu.dropdown-caret:after{
	display: none;
}
.dropdown-menu li:hover {
   color: #262626;
    background-color: #e7f0f9;
}
.dropdown-menu li:hover a{ color:#4f99c6;}
.dropdown-menu li {
    border-bottom: 1px solid #ffffff;
}
.ace-nav>li {
	border-left: 1px solid rgb(42, 157, 236);
}

.ace-nav>li.light-blue>a {
 
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.ace-nav>li.open.light-blue>a,.ace-nav>li.open.skin_s>a{ background:#0c8be3;}
.ace-nav>li.light-blue>a:hover,
.ace-nav>li.light-blue>a:focus,
.ace-nav>li.skin_s>a:hover,
.ace-nav>li.skin_s>a:focus {
	background-color: #0b7dcc ;
	color: #fff;
}
.user_details {
    background: #fff;
}

/*弹出框内容*/
.window .panel-body{
	background: #fff;
	color: #666;
}

/*整个内容背景*/

.main-container {
	background: #f5f7fa;
}
#mainMenuContent>div{
	border: 1px solid #ccc;
}

/*左侧菜单栏*/

.sidebar {
	background: #e4eaf4;
}
/*左侧彩色图标*/
#sidebar-shortcuts-mini .btn.btn-success,.sidebar .sidebar-shortcuts-large>.btn.btn-success{ background:#f16838;} 
#sidebar-shortcuts-mini .btn.btn-info,.sidebar .sidebar-shortcuts-large>.btn.btn-info{ background:#f09621;} 
#sidebar-shortcuts-mini .btn.btn-warning,.sidebar .sidebar-shortcuts-large>.btn.btn-warning{ background:#008cee;} 
#sidebar-shortcuts-mini .btn.btn-license,.sidebar .sidebar-shortcuts-large>.btn.btn-license{ background:#12b346;} 
/*左侧菜单小三角*/
.sidebar.menu-min .nav-list > li:hover > .menu_arrow, .sidebar.menu-min .nav-list > li > .menu_arrow {
    display: block;
}

/*系统健康度等图标*/

.sidebar-shortcuts {
	/*background: #2f426b;*/
	/*border-top: 1px solid #2b7bb7;*/
}

.sidebar .sidebar-shortcuts-large>.btn:hover {
	color: #fff;
}

.sidebar .sidebar-shortcuts-large>.btn {
	color: #fff;
	margin: 0 5px;
	background: none;
    padding: 3px 9px 3px 10px;
}

.sidebar.menu-min .sidebar-shortcuts-large {
	background: #e0e5e9;
    z-index: 10;
    border: 1px solid #dddfe1;
}


/*左边导航栏的每个li的border-bottom*/

.no-skin .nav-list>li {
	border-color: #e4eaf4;
}


/*左边导航栏的每个li的a标签的背景色和字体颜色*/

.no-skin .nav-list>li>a {
	background-color: #e4eaf4;
	color: #58667c;
	font-size: 14px;
	font-weight: bold;
}

.no-skin .nav-list>li>a:hover {
    background: #0c8be3;
    color: #ffffff;
}


/*左边导航栏的每个li的a标签的hover上的颜色*/


/* .no-skin .nav-list > li:hover > a { 
	background-color: #4C9AFF; 
	color: #fff;
} */


/*左边导航栏标签a下拉后颜色*/

.no-skin .nav-list>li.open.highlight a.dropdown-toggle {
	/*background: #1A4680;*/
}

.no-skin .nav-list>li.highlight>a,
.no-skin .nav-list>li.highlight>a,
.no-skin .nav-list>li.open.highlight a.dropdown-toggle:hover,
.no-skin .nav-list>li.highlight>a:hover,
.no-skin .nav-list>li.highlight>a:focus {
	background-color: #0c8be3;
	color: #fff;
}


/*左边导航栏标签a下拉后二级导航标签颜色*/

.nav-list>li .submenu>li {
	background: #f2f3f5;
	border-left: 1px solid #dddfe1;
     border-right: 1px solid #dddfe1;
	
}

.nav-list>li .submenu>li a {
	color: #666;
	font-size: 14px;
	font-weight: bold;
}

.no-skin .nav-list>li .submenu>li>a {
	border-top: 1px solid #cfd1d3;
}

.sidebar.menu-min .nav-list>li>.submenu {
	/*border: 1px solid #dddfe1;*/
}

.no-skin .nav-list>li .submenu>li>a:hover,
.no-skin .nav-list>li .submenu>li>a:focus,
.no-skin .nav-list>li .submenu>li.highlight>a {
	background: #48a0dc;
	color: #fff;
}

.nav-list>li .submenu>li.open li {
	background: #fff;
}


/*右边内容左边导航*/

.layout-panel-west {
	/*background: #144585*/
	;
}


/*右边内容左边导航头部*/

.panel-header {
	/*background: #EDEFF5;*/
	background: #49a1e3;
}
#mainMenuContent .panel-header{
    background: #e0e5e9;
    border-bottom: 1px solid #b8c7d2;
}
.panel-header .panel-title{
	color: #fff;
}

/*右边内容头部标签页*/

.tabs-header,
.tabs-tool {
	width: 100% !important;
	background: #e0e5e9;
}
.home-content a.tabs-inner.current-selected,
.tabs li a.tabs-inner:hover{
	color: #fff;
	background: #49a1e3;
}
.tabs li.tabs-selected a.tabs-inner {
    color: #0c8be3;
    background: #fff;
    border-top: 3px solid #0c8be3;
}

.tabs-panels{
	background: #fff;
}
#mainMenuContent {
	/*overflow: auto;*/
	/*border:1px solid #ccc;*/
}
/*#mainMenuContent:hover{
	overflow: auto;
}*/

/*首页背景透明模块*/

.common-bgnone {
	background-color: none !important;
}

#mainMenuContent>div.home-content {
	background: none !important;
	border: none;
	overflow-y: auto;
	overflow-x:hidden;
}


/****************************表格********************/
.home-content  tr td {
 	/*border-top-width: 1px !important;*/
	border-bottom: 1px solid #e6e6e6 !important;
}

tr td {
	color: #666;
	/*border-top-width: 1px !important;*/
 }

.datagrid-body tr:nth-child(even) td {
	/*background: #F8F9FB;*/
}

.datagrid-body tr:nth-child(odd) td {
	/*background: #eee;*/
}

.datagrid-header .datagrid-htable td {
	/*background: #F8F9FB;*/
}

.datagrid-header-inner {
	/*background: #102d56;*/
}

.datagrid-view2 {
	/*border: 1px solid #eee;*/
	/*background: #102D56;*/
}

.datagrid-header {
 background: #e8e8e8;
}


/*资源管理-添加策略-告警规则*/

.datagrid-btable .borno tr td {
	/*background: transparent;*/
}


/*选中表格*/

.datagrid-row-checked.datagrid-row-selected td {
	background:none !important;
 
}


/*按钮*/

.l-btn-left .btn-m {
	color: #fff;
	background: #49a1e3;
}

.l-btn-left .btn-m:hover {
	background: #3484c7;
	color: #fff;
}


/*资源-树结构字体颜色*/

a,
.panel-title,
.tree-title {
	line-height: 20px;
	color: #333;
	font-family: 微软雅黑, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.inspectItemCount,.directoryCount{
	color: #fff;
}

/*资源-树结构标签选中背景色*/

.tree-node-selected{
	background: #0c8be3;
	color: #d4eaff;
}
.tree-node-hover {
	background: #48a0dc !important;
	color:#fff;
}
.tpnav_nav_box .tree-node-selected, .tpnav_nav_box .tree-node-hover {
    background: #4C9AFF;
    color: #fff;
}
.tpnav_nav_box .tree-node-selected .tree-title,.tpnav_nav_box .tree-node-hover .tree-title,
.tpnav_nav_box .tree-node-selected a,.tpnav_nav_box .tree-node-hover a,
.tpnav_nav_box .tree-node-selected .panel-title,.tpnav_nav_box .tree-node-hover .panel-title{
	color: #fff;
}
.tree-node-selected a,
.tree-node-selected .panel-title,
.tree-node-selected .tree-title,
.tree-node-hover a,
.tree-node-hover .panel-title,
.tree-node-hover .tree-title {
	color: #333;
}

.tree-node-hover .tree-title a{
	color: #fff;
}
.combo-panel .tree-node-selected .tree-title,
.combo-panel .tree-node-hover .tree-title,
#vmTreeMenu .tree-node-selected .tree-title,
#vmTreeMenu .tree-node-hover .tree-title,
#reportMainMenu .tree-node-selected .tree-title,
#reportMainMenu .tree-node-hover .tree-title,
#resource_management .tree-node-selected .tree-title,
#resource_management .tree-node-hover .tree-title{
	color: #d4eaff;
}

/*资源管理、告警管理、虚拟化管理、业务管理的告警级别字体颜色*/

#resourceToolBar a,
#resource_alarm .oc-toolbar a,
.vmDatagridToolBar a,
.biz-alarm.panel-body a,
#busniessToolbar a {
	color: #333;
}


/*文本框样式*/

input[type="text"],
input[type="password"],
textarea,
.edui-container .edui-editor-body,
select {
	/*-moz-appearance: none;*/
	/*background-color:#0d3e80;*/
	color: #666;
	font-size: 12px;
	border: 1px solid #ccc;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #666;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #666;
	opacity: 1;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #666 !important;
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #666;
}

select::-ms-expand {
	display: none;
}


/****下拉框选项面板****/

.menu,
.combo-p {
	/*background: #083571;#133c69;*/
	background: #fff;
	border: 1px solid #aaa;
 
}

.menu-active,
.combobox-item-hover,
.combobox-item-selected {
	    background-color: #e7f0f9;
    color: #4f99c6;
}

.combo-arrow {
	color: #fff;
	margin: 0px !important;
	/*解决flapping下拉框宽度问题*/
}

.menu-item .menu-text{
	float: none;
	text-align: left;
}

/*#rightButtonMenu_resource*/

/*首页头部标签页选中效果*/

.current-selected {
	background: #49a1e3;
    color: #fff;
}


/*弹出框*/


/*.window,.window .window-header,.dialog-button{ 
	background:#0F3566;
	/*box-shadow: 0 4px 10px rgba(0,0,0,.3);*/


/*}*/

/*手风琴*/
.accordion .accordion-header {
	border-bottom: 1px solid #326FC0;
	background: #0F3566;
	/
}
.accordion .accordion-body {
	/*background: #F2F2F2;*/
}
.accordion .accordion-header-selected,
.accordion .accordion-header:hover {
	background-color: #49a1e3;
}

/*报表*/
#report_template_detail_main_content {
	background: #fff;
}
.report_template_detail_main_nav.oc-leftbody-bg.panel-body.panel-body-noheader.layout-body {
	padding: 0px;
}

/*弹出框里input...*/
.window input,
.window textarea,
.window select,
.window:not(input:checkbox),
.window:not(input:radio) {
	background: #0D3E80;
}

/*弹出框中的手风琴*/
.accordion .accordion-header {
	background: #51acea;
}
#mainMenuContent .accordion .accordion-header,
#topo_backboard .accordion .accordion-header {
    background: #63A5F0;
}
#mainMenuContent .accordion .accordion-header .panel-title,
#topo_backboard .accordion .accordion-header .panel-title{
    color: #fff;
}
/*资源弹出左侧标签*/
.oc-nav-sub-list li:hover,
.oc-nav-sub-list .active {
    background: #E3E8E8;
    color: #333;
}
#edit-widge-dialog .widget-edit-panel {
	background: #255492;
}

/*系统管理-系统服务*/
form#pageTag-form,
#cacheStats form.oc-form.col1 {
	background: none !important;
}

/****表格表头缺失****/

/*巡检管理*/
#ins_plan_dir .datagrid-view2 table,
.oc-form.inspect-item-add-form .datagrid-view2 table,
.china-oc-inspect-manage-height .datagrid-view2 table,
.ins-report-edit-all-dirs .datagrid-view2 table {
	width: 100%;
}

/*系统管理-告警设置-安全设置-书写规则*/
.alarm-rule {
	color: #36DB27;
	cursor: pointer;
}

/*表格中的内容显示*/

/*.topo_relate_instance  .datagrid-cell,
#topo_create_subtopo .datagrid-cell{
	width:100% !important;
}*/

/*主体内容左侧以及中部颜色*/
.panel.layout-panel.layout-panel-west {
	background:  #e0e5e9;
	border-right: 1px solid #dfdfdf;
}
#biz-main .panel.layout-panel.layout-panel-west,
.biz-full-main .panel.layout-panel.layout-panel-west {
	background: none;
}

/*配置文件--脚本设置*/
#script_config_main_center .oc-layout-panel {
	background: #fff;
	color:#666;
}

/*资源管理左边背景，报表管理左边背景*/
#reportMainCenter,
.ocadd-ywbg {
	background: #fff;
}
/*资源管理左侧图标*/
#mainMenuContent .layout-button-left, #mainMenuContent .layout-button-right, .oc_vm_index .panel-tool a.layout-button-left, .oc_vm_index .panel-tool a.layout-button-right {
    background: url('../images/icons/layout_arrows.png') no-repeat 0 0;
}

/*告警级别分类*/
.biz-alarm label,
.datagrid-toolbar label {
	color: #333;
}

/*利用率展示条*/
.rate {
	background: #fff;
	
	border: 1px solid #ccc;
}
.rate-green {
	background: #17c27c;
}
.rate-orange {
	background: #f09722;
}
.rate-yellow {
	background: #eee000;
}

/*资源管理左边结构*/
.oc-layout-panel-west {
	background: #e6ebf0 !important;
	height: 100% !important;
}

/*主体内容边框*/
/*#mainMenuContent>div {
	border: 1px solid #ccc;
}*/
#mainMenuContent{
	/*border: 1px solid #ccc;*/
}
/*树结构后面配置文件设备数量显示*/
.s-digit {
	background:#67b0e6;
	color: #fff;

}

/***********公共颜色************/

/*巡检操作图标*/
span.icon-carousel{
	color: #fff;
}
a.light_blue,span.light_blue {
	color: #49a1e3;
}
.light_blue:hover {
	color: #49a1e3;
}

span.icon-carousel{
	color: #fff;
}

span.icon-carousel:hover{
	color: #fff;
}
.red {
	color: #ea4c63
}
.orange,
.notice-ico {
	color: #ff9c10;
}
.yellow {
	color: #F39C12;
}
.green {
	color: #00CC00;
}
.white {
	color: #fff;
}
.blue_gray {
	color: #a5b7d2;
}
.datagrid-row-over .bule-color{
	color: #fff;
}
.bule-color {
	color: #67afdd;
}
.gray_color td {
	color: #8a8a8a;
}
/*列表表格灰色字体*/
.color-red {
	color: red
}

/*资源管理左侧缩进按钮*/
#resource_management .panel-tool a.layout-button-left,
#mainMenuContent .layout-button-left,
.oc_vm_index .panel-tool a.layout-button-left {
	border: 1px solid #4A79DF;
}

/********告警级别选择*********/
#alarm_management_main_form label a {
	color: #333;
}

/******没有可展示数据时的提示*******/
.table-dataRemind,
.otherTip,
.otheralarmTip,
.otherPerTip,
.otherTabTip {
	background: #bebebf;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
	color: #fff;
}

/******************************资源总览start**********************************/

/*资源详情弹出框头部图标背景*/
.oc-nav {
	background: #e8e8e8;
	overflow: hidden;
}
.res-size-nav+div.oc-panel-font {
	color: #333333;
}
.oc-nav .nav-list li.nav-actived,
.oc-nav .nav-list li:hover {
	background: #fff;
	border-left:1px solid #CBCBCB;
	border-right:1px solid #CBCBCB;
	border-bottom:1px solid #fff; 
	position:aabsolute;
	z-index:999;
}
.nav-list li.nav-actived .res-size-nav+div.oc-panel-font,
.nav-list li:hover .res-size-nav+div.oc-panel-font {
	color: #4A79DF;
}
#collectBtn,
#refBtnBlues {
	background: #e8e8e8 !important;
}
.layout-td-panel-bg {
	background-color: #fff;
	border: 1px solid #ddd;
	/*box-shadow: 5px 5px 10px #ccc;*/
}
.main-resource {
	border-top: 1px solid #CBCBCB;
}

/*告警块*/
.alarm-cue:nth-child(1) {
 
    border-color: #e95e48 !important;
	border-bottom-width:3px;
 
	/*border-color: #FC4D4D !important;*/
 
}
.alarm-panel-cue:nth-child(1)>font,
.alarm-cue:nth-child(1)>font {
 
	color: #e95e48 !important;
 
	/*color: #FC4D4D !important;*/
 
}
.alarm-cue:nth-child(2) {
 
	border-color: #f09722 !important;
		border-bottom-width:3px;
 
	/*border-color: #FCA231 !important;*/
 
}
.alarm-panel-cue:nth-child(2)>font,
.alarm-cue:nth-child(2)>font {
 
	color:#f09722 !important;
 
	/*color: #FCA231 !important;*/
 
}
.alarm-cue:nth-child(3) {
 
	border-color: #eee000 !important;
	border-bottom-width:3px;
 
	/*border-color: #FFCF3E !important;*/
 
}
.alarm-panel-cue:nth-child(3)>font,
.alarm-cue:nth-child(3)>font {
 
	color: #eee000 !important;
 
	/*color: #FFCF3E !important;*/
 
}

/*子资源详情*/
.oc-btn-box {
	background: #49a1e3;
	color: #fff;
}
.w-title-n {
	color: #666;
}
.resource-table tr td {
	border: none;
	color: #666;
}
.squareBox-resource {
	color: #fff;
	border: none;
}
.process-ul li:nth-child(1) .square-resource {
	background: #609ee9;
}
.process-ul li:nth-child(2) .square-resource {
	background: #837afe;
}
.process-ul li:nth-child(3) .square-resource {
	background: #32d491;
}
.process-ul li:nth-child(4) .square-resource {
	background: #1ca5f4;
}
.alarm-fieldset {
	border: 1px solid #e6e6e6;
}

/**********************************资源总览end*********************************************/

/*更多操作子菜单*/
.cgtAdd,
.cgtEdit,
.cgtDel,
.cgtEditDomin {
	background: #fff;
	color: #333;
}
.modelnavlist {
 
	/*border: 1px solid #aaa;*/
	background: #f1f1f1;
 
 
}
.modelnavlist .oc-btn-sidebg{
	border: none;
}
.modelnavlist .l-btn-plain {
	color: #666;
}
.oc-btn-bg .l-btn-left:hover,
.oc-btn-sidebg:hover {
	color: #4A79DF !important;
	background: #fff;
}
.highcharts-data-labels>div>span>span{
	color: #666 !important;
}
/*资源管理收缩按钮*/
.layout-expand .panel-header {
	background: #EDEFF5;
}
.layout-expand .panel-body {
	background: #edeff5;
}

/*菜单收起的时候样式*/
.no-skin .sidebar.menu-min .nav-list>li>a>.left-menu-text {
	background-color: #0c8be3 !important;
	color: #fff !important;
	-webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,0);
    box-shadow: 2px 1px 2px 0 rgba(0,0,0,0);

}
.sidebar.menu-min .nav-list > li > a > .left-menu-text,.sidebar.menu-min .nav-list > li > .submenu  { left:43px;}
.sidebar.menu-min .nav-list > li > b.menu_arrow:before{    border-right: 8px solid #0c8be3; display:none;}
.no-skin .sidebar-toggle {
	border-color: none !important;
}
.sidebar .sidebar-toggle {
	border: none !important;
}

/*首页拖拽块的背景阴影*/
.gridster .preview-holder {
	background-color: #000 !important;
	border-color: #000 !important;
	opacity: 0.3 !important;
}

/*左侧列表*/
.oc-nav-list-a-hover{    
	background-color: #0C8BE3 !important;
	color: #fff !important;
}
.oc-nav-list-a{
	background-color: #e4eaf4 !important;
    color: #58667c !important;
}

/**************************业务管理start************************/

/*业务模块右侧背景颜色添加*/
#alarm-time {
	margin-top: 2px !important;
}
.biz-alarm {
	/*background: #F5F5F5;*/
}
.addoc-biz-mainbg {
	background: #fff !important;
}
.panel.layout-panel.layout-panel-east.easyui-fluid {
	border-left: 1px solid #ccc;
}
.ocv-selectTime {
	margin-top: 2px !important;
	background: #49a1e3;
	color: #fff;
	font-size: 10px;
	padding: 0px 5px;
	border-radius: 5px;
	width: 80px;
	height: 22px;
	cursor: pointer;
}

/**************************业务管理end************************/

/*********************弹出框里的（form-group）start********************/
#config-backplan-form .form-group,
#pageTag-form-alarm .form-group,
.discoveryParamter .form-group,
.oc-system-bigdata .form-group,
.role_form .form-group,
.domain_form .form-group,
.knowledge-local-resolve-detail-form .form-group,
.searchForm .form-group,
.widget-statistic .form-group,
#pageTag-form .form-group,
.pageTag-content .form-group,
.oc-panelbg .form-group {
	margin-top: 10px;
}

/*********************弹出框里的（form-group）end********************/
.datagrid-row-over .l-btn-icon,
.datagrid-row-over .light_blue {
	color: #fff !important;
}

/*.panel-header .panel-tool a{
    color: #4A79DF;
}*/
.panel-header .panel-tool a:hover {
	/*color: #fff;*/
	opacity: 1;
}

/*系统设置-认证方式*/

/*知识管理-故障知识*/
.oc-subspanbg {
	width: 100%;
	height: 24px;
}
.oc-subspanbg ul li {
	color: #4A79DF;
	border-right: 1px solid #ccc;
}

/*系统服务*/
.pageTag-panel {
	background: #F5F5F5;
}
.memcachedNode {
	padding-left: 15px;
	border-bottom: 1px solid #ccc;
}
.system-parent {
	border-right: 1px solid #ccc;
}

/*业务管理*/
.panel-header .biz-fr a {
	padding: 5px 5px;
  	color:#333;
}
.panel-header .btn-distance {
	margin-top: 0px;
}

/*资源管理*/
.ztree li a {
	color: #333 !important;
}

/*告警设置*/
.oc-panelbg{
	height: 100%;
}
.oc-panelbg>table {
	background: #FFF;
}
.oc-panelbg>.alarm-table{
	height: 100%;/*告警设置的表格自适应高度*/
	width:100%;
}
/*通知设置*/
#tag-panel-alarm {
	background: #f5f5f5;
}
.pageTag-content {
	width: calc(100% - 200px) !important;
	border-left: 1px solid #ddd;
}
.oc-systemright .pageTag-content{
	width: calc(100% - 280px) !important;
}
.pageTag-content .oc-form {
	background: #fff;
}

/*系统设置-安全设置*/
#system-safe {
	/*background: #fff;*/
}
#system-safe .info-middle-m {
	background: #fff;
}
.h-info-l {
	/*background: #f2f3f5;*/
	color: #333;
	border:1px solid #dddfe1;
	border-left:none; border-right:none;
}
#system-safe .system-logo:nth-child(1) {
	border: 0px;
	border-right: 1px solid #ccc;
}
#system-safe .system-logo:nth-child(2) {
	border: 0px;
	border-left: 1px solid #ccc;
}
.alarm-rule-detail {    
	background: #f5f7fa;
    border: 1px solid #ccc;
}

/*故障知识*/
.knowledge-local-detail-form table td {
	padding: 15px 0;
}

/*3D机房-设备管理*/
#pageTag-container .pageTag-content {
	width: calc(100% - 281px) !important;
}
#pageTag-container {
	height: calc(100% - 33px) !important;
}
.oc-wbg input[type="text"],
input[type="password"],
.oc-wbg textarea,
.oc-wbg .edui-container .edui-editor-body,
.oc-wbg select {
	/*border: none;*/ /*会影响到虚拟化中的input框*/
	/*background: none;*/
}
#configAddDiveForm {
	padding: 10px 0;
}

/*首页*/
.oc_module_resmanagement_discovery_nav .oc-leftbody div.nav-leftbody-con {
	color: #666;
}

/*-------------首页-添加图表-左边列表----------------*/
#edit-widge-dialog .oc_module_resmanagement_discovery_nav {
	background: #fff;
    border-right: 1px solid #ddd;
}

/*首页-添加图表-左边列表-标签hover和active颜色*/
#edit-widge-dialog .oc-leftbody div.nav-leftbody-con:hover,
.oc-leftbody div.active {
	background: #e3e8e8;
    color: #333;
}
#edit-widge-dialog .widget-edit-panel {
	background: #fff;
}
div#centerLayout {
	background: #fff;
	padding: 20px 10px 0px 10px;
}
.generalShowNameForBiz a {
	color: #666;
}
.generalShowNameForBiz a:hover{
	color: #333 !important;
}
.oc-window-lefttitle.clickTarget:hover {
	background: #e3e8e8;
}
/**/
.oc-main-div{
	background: #fff;
}
div#vm_report_template_detail_main_content {
    background: #fff;
}
.datagrid-toolbar{
	background: #fff;
}

.oc-toolbar .form-group{
	margin-top: 0px;
}
/*资源管理-编辑发现信息*/
.singleDisc_discPara_content {
    /*padding: 0px 15px;*//*单资源发现页面按钮样式*/
}
.singleDisc_discPara_content [name='discoverBtn']{
	margin-top: -10px !important;
	margin-right: 0px !important;
}
.input_box {
    margin-top: 8px;
    margin-left: 5px;
}
/*表格头部thead*/
.datagrid-header .datagrid-cell span {
    font-size: 12px;
    color: #5d5b5b;
    font-weight: bold;
 }
/*弹出框头部和底部*/
.dialog-toolbar, .dialog-button {
    background:#e5ecf6;
    border-width: 1px;
    border-style: solid;
}
.window .window-header {
  padding: 0px 0px 6px 0px;
  background: #0c8be3;
  border-bottom: 1px solid #0c8be3;
  height:40px;
}
.window .window-header .panel-title {
    color: #fff;
}
.sidebar.menu-min .nav-list > li > a.dropdown-toggle > .left-menu-text {
    /*color: #fff;*/
}
.sidebar.menu-min .nav-list > li > a > .left-menu-text{
	
}
.tree-lines .tree-expanded, .tree-lines .tree-root-first .tree-expanded {
    background: url(../images/tree_icons.png) no-repeat -144px 0;
}
.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
  background: url('../images/tree_icons.png') no-repeat -128px 0;
}
.tree-lines .tree-node-selected .tree-collapsed ,.tree-lines .tree-node-hover .tree-collapsed { background: url('../images/tree_icons1.png') no-repeat -128px 0;}
.tree-lines .tree-node-selected .tree-expanded, .tree-lines .tree-node-hover  .tree-expanded {    background: url(../images/tree_icons1.png) no-repeat -144px 0;}
.tree-lines .tree-node-last.tree-node-selected .tree-expanded, .tree-lines .tree-node-last.tree-node-hover .tree-expanded,.tree-lines .tree-root-one.tree-node-selected .tree-expanded {  background: url('../images/tree_icons1.png') no-repeat -80px 0;}
.tree-lines .tree-node-last.tree-node-hover .tree-collapsed, .tree-lines .tree-root-one.tree-node-hover .tree-collapsed { background: url('../images/tree_icons1.png') no-repeat -64px 0;}
.tree-node-hover .tree-line,.tree-node-selected  .tree-line{
    background: url('../images/tree_icons1.png') no-repeat -176px 0;
}
.tree-node-hover .tree-join,.tree-node-selected  .tree-join{
    background: url('../images/tree_icons1.png') no-repeat -192px 0;
}
.tree-node-hover .tree-joinbottom,.tree-node-selected  .tree-joinbottom{
    background: url('../images/tree_icons1.png') no-repeat -160px 0;
}
.tree-node-hover .tree-joinbottom,.tree-node-selected  .tree-joinbottom{
    background: url('../images/tree_icons1.png') no-repeat -160px 0;
}
.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
  background: url('../images/tree_icons.png') no-repeat -80px 0;
}
.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
  background: url('../images/tree_icons.png') no-repeat -64px 0;
}
.tree-lines .tree-node-last.tree-node-hover .tree-collapsed,
.tree-lines .tree-root-one.tree-node-hover .tree-collapsed {
  background: url('../images/tree_icons1.png') no-repeat -64px 0;
}
.tree-line {
  background: url('../images/tree_icons.png') no-repeat -176px 0;
}
.tree-join {
  background: url('../images/tree_icons.png') no-repeat -192px 0;
}
.tree-joinbottom {
  background: url('../images/tree_icons.png') no-repeat -160px 0;
}
.tree-checkbox0 {
  background: url('../images/tree_icons.png') no-repeat -207px -18px;
}
.tree-checkbox1 {
  background: url('../images/tree_icons.png') no-repeat -223px -18px;
}
.tree-checkbox2 {
  background: url('../images/tree_icons.png') no-repeat -240px -18px;
}
.tree-dnd-yes {
  background: url('../images/tree_icons.png') no-repeat -256px 0;
}
.tree-dnd-no {
  background: url('../images/tree_icons.png') no-repeat -256px -18px;
}
.tree-folder{
	background: url(../images/tree_icons.png) no-repeat -223px 0px;
}
.tree-file{
	/*width: 25px;树结构去掉文件夹和文件图标*/
	/*height: 25px;*/
	background: url(../images/tree_icons.png) no-repeat -240px 0px;
}
.tree-expanded {
  background: url('../images/tree_icons2.png') no-repeat -18px 0px;
}
.tree-node-hover .tree-expanded,
.tree-expanded-hover {
  background: url('../images/tree_icons.png') no-repeat -50px 0px;
}
.tree-collapsed {
  background: url('../images/tree_icons2.png') no-repeat 0px 0px;
}
.tree-node-hover .tree-collapsed,
.tree-collapsed-hover {
  background: url('../images/tree_icons.png') no-repeat -32px 0px;
}



/**/
.no-skin .sidebar.menu-min .sidebar-toggle > .ace-icon {
    border-color: #0c8be3;
}
.no-skin .sidebar-toggle > .ace-icon {
    color: #0c8be3;
     background-color: transparent; 
    padding: 0 5px;
    line-height: 18px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100%;
    border:1px solid #0c8be3;
    position: relative;
}
/*极简模式logo*/
.nav_logo a {
	display:block;
    background: url(../images/nav_logo.png) no-repeat;
    width: 190px;
    height: 29px;
    margin-top: 8px;
}
/*表格底部按钮*/
.pagination-first {
  background: url('../images/pagination_icons.png') no-repeat 0 center;
}
.pagination-prev {
  background: url('../images/pagination_icons.png') no-repeat -22px center;
}
.pagination-next {
  background: url('../images/pagination_icons.png') no-repeat -44px center;
}
.pagination-last {
  background: url('../images/pagination_icons.png') no-repeat -66px center;
}
.pagination-load {
  background: url('../images/pagination_icons.png') no-repeat -88px center;
}
/*换肤颜色*/
.navbar{ text-shadow:none;}
.skin_s,.light-blue{ float:left; position:relative; }
.skin_s a{ color:#fff;}
/*弹出框关闭*/
.panel-tool a {
    opacity: 0.9;
    filter: alpha(opacity=90);}
/*日期控件*/ 
.calendar-header {
    background: #49a1e3;
	    color: #fff;
}
.calendar-saturday {
    color: #12b346;
}
.datagrid-cell-c13-type {
    width: 180px !important;
}	
/*树形菜单*/
.tree-node-selected .tree-title, .tree-node-hover .tree-title {
    color: #fff;
}        
.resource_strategy_detail_west .tree-node-selected .tree-title,.resource_strategy_detail_west .tree-node-hover .tree-title {
	color: #333;
}
.resource_strategy_detail_west .tree-node-hover{
	background: #e3e8e8 !important;
}
.resource_strategy_detail_west .tree-node-selected .tree-title,.resource_strategy_detail_west .tree-node-hover .tree-title{
	color: #333;
}
/*内部样式提出来*/
.device_content{height: 100%; position:relative; width:100%;}
.l-btn-text{ font-size:12px; }
.select_yu{ color:#49a1e3; float:right;}
/*巡检计划样式*/
.inspect-plan-add-modal{ background:#f5f7fa;}
.inspect-plan-add-modal .ins-report-edit-line1{ background:#fff; border: 1px solid #dddfe1;}
.inspect-plan-add-modal .ins-plan-dir-set{     background: #eaecee; border: 1px solid #dddfe1;color: #333; margin-top:10px;}
.inspect-plan-add-modal .ins-report-edit-line1 .ins-plan-dir-set{ border: 1px solid #dddfe1; margin-top:0px !important;}
.inspect-plan-add-modal .datagrid-btable ,.inspect-plan-add-modal .datagrid-htable{ border: 1px solid #dddfe1; border-top:none;}
.inspect-plan-add-modal .datagrid-header{border-bottom: 1px solid #dddfe1; }
.ins-report-result-title-line input{ width:718px;}
.ins-report-result-title-line .locate-right{   margin-right: 95px;}
.inspect_manage_item_datagrid .oc-poptitle {  background: #eaecee; border: 1px solid #dddfe1;}
.inspect_manage_item_datagrid  .inspectItemCount{ color:#fbc23c;}

/*告警管理*/
.alarm_management_main{ background:#fff;}
/*首页topN*/
.home-content .top table tr{border-left: none;
    border-right: none;
}
/*业务绘制界面*/
.business-buz .bz_bg{ background:url(../images/bizser/background/bg8.png); border:1px solid #dddfe1;   margin-top: 5px !important;}
#mainMenuContent>div.business-buz{ border:none; overflow:hidden;}
.business-buz .toolbar{ background:none;     border: none;}
.filebox .l-btn-plain{    background: #49a1e3 !important;}
.busuiness_content  .oc-toolbar{ margin-left:15px;}
.busuiness_content  .oc-toolbar .oc-form.float .form-group{ margin:0px;}
/*数据管理*/
.d-data-togoole{ border:none !important;}
div#settingService,.oc-system-bigdata{ min-height:calc(100% - 33px); background:#fff;}
/*虚拟化*/
.virt_bgclf{ background:#FFF; height:100%;}
/*换肤色块*/
.blue-skin i{ display:inline-block ; padding:6px; background:#062a5e; border:1px solid #000;    vertical-align: -2px;}
.default-skin i{ display:inline-block ; padding:6px; background:#f5f6fb; border:1px solid #adb4bd;   vertical-align: -2px;}
/*告警设置*/
#mainMenuContent>div.oc-panelbg{ border:none;}
.oc-panelbg p.btn-margin-r331{ text-align:left;    margin-left: calc(48% + 100px);margin-top: 20px;}
/*首页模板*/
.right-list.homeTemplate{ height:100%;     border-left: 1px solid #dddfe1;}
/*搜索按钮优化*/
a#searchByNameOrIpAddressBtn,a#searchByFileNameBtn{
    width: 30px;
    height: 28px;
    background: #49A1E3;
    vertical-align: top;
    margin-left: -4px;
}
a#searchByNameOrIpAddressBtn:hover,
a#searchByFileNameBtn:hover{
	background: #3484C7;
}
a#searchByNameOrIpAddressBtn .l-btn-text,
a#searchByFileNameBtn .l-btn-text{
	line-height: 28px;
}
a#searchByNameOrIpAddressBtn .l-btn-icon,
a#searchByFileNameBtn .l-btn-icon{
	color: #fff;
}
a#searchByFileNameBtn+a#downloadBtn{
	vertical-align: top;
}
/*菜单对齐*/
.sidebar.menu-min .nav-list > li > .submenu{
	margin-top: 40px;
}
.srcgif{
	background: url(../../../themes/default/images/topo/u361.gif)no-repeat center;

}
/*树结构左键菜单移动图标*/
#rightButtonMenu_resource .menu-rightarrow{
	background: url(../images/menu_arrows.png) no-repeat -32px center;
}
/*a下拉框*/
.spinner-arrow{
	background: #49a1e3;
}
/*帮助手册*/
.MsoToc1>span:nth-child(1)>span:nth-child(1)>a>u:nth-child(1)>span,
.MsoToc1>span>a>u:nth-child(1)>span,
.MsoToc2>span>a>u:nth-child(1)>span,
.MsoToc3>span>a>u:nth-child(1)>span{
    color: #666!important;
}
/*拓扑视图*/
.topoview{
	border: 1px solid #ccc !important;
}
/*在线手册选中颜色标题*/
.tree-node-selected .tree-title a{
  color: #fff;
}

/*禁用的复选框样式*/
input:disabled{  opacity:0.6;filter:Alpha(opacity=60)}
/*阈值定义*/
.add_condition{ text-align:center;}
.add_condition a{background: url(../images/add_codition.png) no-repeat; width:69px; height:69px;    display: inline-block;
    margin-top: 40px;
    margin-bottom: 5px;}
.add_condition p{ color:#666;}
.add_c_head{background:#e8e8e8; border-bottom:1px solid #CBCBCB;box-sizing: content-box;}
/*首页top预览边框效果*/
.top_preview{ border:1px solid #3E8CCA; height:100%; height:370px; min-height:370px; text-align:center;  overflow:hidden !important; color:#C0D9EF;}
.top_preview p{ margin-top:155px;}
/*视频监控界面*/
.tooltip_selfdefine{ position:absolute; background: #fff; display:none;}
/*视频诊断颜色*/
.camera_color{ color:#666;}
 
