<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="stateComputeDispatcher" class="com.mainsteam.stm.state.ext.StateComputeDispatcher"></bean>

	<bean id="metricInterceptorManager" class="com.mainsteam.stm.state.ext.aop.MetricInterceptorManager"></bean>

	<!--<bean id="springCatchBeanUtils" class="com.mainsteam.stm.state.ext.tools.SpringCatchBeanUtils"></bean>-->
	<bean id="metricDelayFilter" class="com.mainsteam.stm.state.ext.aop.interceptor.MetricDelayInterceptor"></bean>

	<bean id="alarmConfirmInterceptor" class="com.mainsteam.stm.state.ext.aop.interceptor.AlarmConfirmInterceptor">

	</bean>

	<bean id="instLifeCycleInterceptor" class="com.mainsteam.stm.state.ext.aop.interceptor.InstLifeCycleInterceptor">

	</bean>
	<bean id="instStateCriticalInterceptor" class="com.mainsteam.stm.state.ext.aop.interceptor.InstStateCriticalInterceptor">

	</bean>

	<aop:aspectj-autoproxy/>

</beans>
