#court-map {
	width:100%;
	height:100%
}
.layer g {
	overflow:visible
}
.layer g path {
	position:absolute;
	top:0;
	left:0;
	width:800px;
	height:1000px;
	cursor:pointer
}
.layer g:hover path {
	/*stroke-width:.1px;*/
	stroke:#82c7f0;
	fill:#0a3055
}
.layer g:hover text {
	fill:#fff
}
.layer g text {
	position:relative;
	z-index:999;
	text-anchor:middle;
	alignment-baseline:middle;
	stroke-width:0;
	fill:#e1e8ed;
	cursor:pointer;
	font-family:'微软雅黑'
}
.layer image:hover {
	}
#court-tip {
	display:none;
	top:287px;
	left:706px;
	position:absolute;
	padding-bottom:30px;
	z-index:99
}
.court-info {
	position:relative;
	background:#fff;
	border-radius:3px;
	box-shadow:0 2px 1px -1px rgba(0,0,0,.3)
}
.court-info .main {
	display:block;
	overflow:hidden;
	padding:10px
}
.court-info .main img {
	display:block;
	float:left;
	margin:0 10px 0 0
}
.court-info .main .content {
	float:right
}
.court-info .main .content h3 {
	margin:0;
	padding:0 23px 0 0;
	font-size:18px;
	font-weight:400;
	color:#000
}
.court-info .main .content p {
	margin:0;
	padding:0 0 0 20px;
	font-size:15px;
	color:#999
}
.court-info .main .content .tel {
}
.court-info .main .content .address {
}
.court-info .arrow {
	position:absolute;
	bottom:-9px;
	left:80px;
	width:11px;
	height:9px;
}
#back-china {
	display:none;
	position:absolute;
	bottom: 10%;
    left: 75%;
	width:66px;
	height:66px;
	background:url(../img/icon-back.png) 0 0 no-repeat;
	cursor:pointer
}
#back-china:hover {
	background:url(../img/icon-back-hover.png) 0 0 no-repeat
}
.mapLevel3 .level1 {
	fill:#ccc
}
.mapLevel3 .level2 {
	fill:#ccc
}
.mapLevel2 .level1 {
	fill:#ccc
}