#court-nav {
	position:absolute;
	top:70px;
	right:0;
	z-index:99;
	padding:40px 0 0;
	width:370px
}
#court-nav h1 {
	margin:0 0 6px;
	font-weight:400;
	font-size:38px;
	line-height:normal;
	color:#273d57
}
#court-nav .subhead {
	margin:0 0 15px;
	font-size:16px;
	line-height:normal;
	color:#294b73
}
#court-nav .subhead span {
	font-style:italic;
	font-size:25px;
	color:#f37d0a
}
#search-box {
	padding:22px 25px 25px;
	background:url(http://baike.bdimg.com/static/wiki-court/widget/courtList/images/bg01_fa1234e.png) 0 0 repeat
}
#search-box .search-input {
	margin:0 0 16px;
	overflow:hidden
}
#search-box .search-input input {
	float:left;
	display:block;
	margin:0;
	padding:0 6px 0 8px;
	width:267px;
	height:34px;
	line-height:34px;
	border:0;
	font-size:15px
}
#search-box .search-input .icon {
	float:left;
	display:block;
	width:34px;
	height:34px;
	background:#e6e6e6 url(http://baike.bdimg.com/static/wiki-court/widget/courtList/images/icon-search_c365a7e.png) 0 0 no-repeat;
	cursor:pointer
}
#search-box .search-result p {
	margin:0 0 8px;
	font-size:18px;
	color:#97cafe
}
#search-box .search-result p span {
	color:#e5f0fc
}
#search-box .search-result ul {
	height:305px
}
#search-box .search-result ul li {
	margin:9px 0
}
#search-box .search-result ul li a {
	white-space:nowrap;
	display:block;
	padding:0 0 0 25px;
	background:url(http://baike.bdimg.com/static/wiki-court/widget/courtList/images/address_ed8962c.png) 4px 50% no-repeat;
	font-size:14px;
	color:#fff
}
#search-box .search-result ul li.advanced a {
	background:url(http://baike.bdimg.com/static/wiki-court/widget/courtList/images/marker01_d7a3565.png) 0 50% no-repeat
}
#search-box .search-result ul li a:hover {
	text-decoration:underline
}
#search-box .result-nav {
	text-align:center
}
#search-box .result-nav .page-info {
	display:inline-block;
	font-size:13px;
	line-height:21px;
	color:#fff
}
#search-box .result-nav .arrow {
	display:inline-block;
	border:1px solid #52a3f5;
	padding:5px 6px;
	font-family:Arial;
	font-weight:700;
	font-size:12px;
	line-height:9px;
	color:#52a3f5;
	cursor:pointer
}
#search-box .result-nav .arrow:hover {
	color:#b6dafe
}
#search-box .result-nav .arrow.prev {
	margin:0 10px
}