body {
	background:#b1d9fc
}
.container {
	margin:0 auto;
	width:1180px
}
#header {
	position:relative;
	padding:0;
	background:#273d57;
	font-size:22px;
	color:#d8e6f3;
	z-index:99
}
#header .space {
	display:inline-block;
	margin:0 15px;
	width:0;
	height:22px;
	border-left:1px solid #85909d
}
#header .text {
	position:relative;
	top:-3px
}
#header .container {
	overflow:visible;
	position:relative;
	padding-top:12px;
	padding-bottom:23px
}
#main {
	position:relative;
	overflow:visible;
	background:url(../img/mapbg.png) no-repeat #193a6f;
}
#main .container {
	position:relative;
	height:100%
}