<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE configuration    
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<environments default="oc-main">
		<environment id="oc-main">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://172.16.7.143:3306/oc4db" />
				<property name="username" value="dev" />
				<property name="password" value="dev" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/mainsteam/stm/profilelib/dao/ProfileDAO.xml" />
		<mapper resource="com/mainsteam/stm/profilelib/dao/ProfileInstRelDAO.xml" />
		<mapper resource="com/mainsteam/stm/profilelib/dao/ProfileMetricDAO.xml" />
		<mapper resource="com/mainsteam/stm/profilelib/dao/ProfileThresholdDAO.xml" />
	</mappers>
</configuration>
